Repository pagopa/selfcare-onboarding, changes with the labels that .github/labeler.yml gives for each.
All labels: functions, onboarding-ms, onboarding-sdk, ops, docs

.github/labeler.yml:

functions:
- onboarding-functions/**

onboarding-ms:
- apps/onboarding-ms/**

onboarding-sdk:
- apps/onboarding-sdk/**

ops:
- .github/**
- .container_apps/**
- .identity/**

docs:
- README.md

add sparse-checkout for monorepo
  .github/workflows/code_review_ms.yml
Labels: ops

add maven settings for release sdk
  .github/workflows/release_onboarding_sdk.yml
Labels: ops

test ls workflow
  .github/workflows/code_review_ms.yml
Labels: ops

fix launch verify
  .github/workflows/code_review_ms.yml
Labels: ops

add secret connection string
  .container_apps/onboarding-ms/env/dev/terraform.tfvars
  apps/onboarding-ms/src/main/resources/application.properties
Labels: onboarding-ms, ops

refactor onboarding sdk
  libs/onboarding-sdk-azure-storage/.gitignore
  libs/onboarding-sdk-azure-storage/README.md
  libs/onboarding-sdk-azure-storage/pom.xml
  libs/onboarding-sdk-azure-storage/src/main/java/it/pagopa/selfcare/azurestorage/AzureBlobClient.java
  libs/onboarding-sdk-azure-storage/src/main/java/it/pagopa/selfcare/azurestorage/AzureBlobClientDefault.java
  libs/onboarding-sdk-azure-storage/src/main/java/it/pagopa/selfcare/azurestorage/error/SelfcareAzureStorageError.java
  libs/onboarding-sdk-azure-storage/src/main/java/it/pagopa/selfcare/azurestorage/error/SelfcareAzureStorageException.java
  libs/onboarding-sdk-common/.gitignore
  libs/onboarding-sdk-common/README.md
  libs/onboarding-sdk-common/pom.xml
  libs/onboarding-sdk-common/src/main/java/it/pagopa/selfcare/onboarding/common/Env.java
  libs/onboarding-sdk-common/src/main/java/it/pagopa/selfcare/onboarding/common/InstitutionPaSubunitType.java
  libs/onboarding-sdk-common/src/main/java/it/pagopa/selfcare/onboarding/common/InstitutionType.java
  libs/onboarding-sdk-common/src/main/java/it/pagopa/selfcare/onboarding/common/OnboardingStatus.java
  libs/onboarding-sdk-common/src/main/java/it/pagopa/selfcare/onboarding/common/Origin.java
  libs/onboarding-sdk-common/src/main/java/it/pagopa/selfcare/onboarding/common/PartyRole.java
  libs/onboarding-sdk-common/src/main/java/it/pagopa/selfcare/onboarding/common/PricingPlan.java
  libs/onboarding-sdk-common/src/main/java/it/pagopa/selfcare/onboarding/common/ProductId.java
  libs/onboarding-sdk-common/src/main/java/it/pagopa/selfcare/onboarding/common/TokenType.java
  libs/onboarding-sdk-pom/.gitignore
  libs/onboarding-sdk-pom/pom.xml
  libs/onboarding-sdk-product/.gitignore
  libs/onboarding-sdk-product/README.md
  libs/onboarding-sdk-product/pom.xml
  libs/onboarding-sdk-product/src/main/java/it/pagopa/selfcare/product/entity/BackOfficeConfigurations.java
  libs/onboarding-sdk-product/src/main/java/it/pagopa/selfcare/product/entity/ContractStorage.java
  libs/onboarding-sdk-product/src/main/java/it/pagopa/selfcare/product/entity/Product.java
  libs/onboarding-sdk-product/src/main/java/it/pagopa/selfcare/product/entity/ProductRole.java
  libs/onboarding-sdk-product/src/main/java/it/pagopa/selfcare/product/entity/ProductRoleInfo.java
  libs/onboarding-sdk-product/src/main/java/it/pagopa/selfcare/product/entity/ProductStatus.java
  libs/onboarding-sdk-product/src/main/java/it/pagopa/selfcare/product/exception/InvalidRoleMappingException.java
  libs/onboarding-sdk-product/src/main/java/it/pagopa/selfcare/product/exception/ProductNotFoundException.java
  libs/onboarding-sdk-product/src/main/java/it/pagopa/selfcare/product/service/ProductService.java
  libs/onboarding-sdk-product/src/main/java/it/pagopa/selfcare/product/service/ProductServiceDefault.java
  libs/onboarding-sdk-product/src/main/schema/Product_v1.avsc
  libs/onboarding-sdk-product/src/test/java/ProductServiceDefaultTest.java
  libs/pom.xml
Labels: none

fix submodule onboarding sdk
  libs/onboarding-sdk-pom/pom.xml
Labels: none

set jacoco.exec for onboarding-ms
  apps/onboarding-ms/src/main/resources/application.properties
Labels: onboarding-ms

added test coverage module for aggregating reports
  .github/workflows/code_review_ms.yml
  .gitignore
  libs/onboarding-sdk-pom/pom.xml
  libs/pom.xml
  pom.xml
  test-coverage/.gitignore
  test-coverage/pom.xml
Labels: ops

Refactor: replace business logic for retrieving product with onboarding-sdk-product (#36)
  .container_apps/onboarding-ms/env/dev/terraform.tfvars
  .github/workflows/code_review.yml
  .github/workflows/code_review_functions.yml
  .github/workflows/code_review_ms.yml
  .github/workflows/release_onboarding_sdk.yml
  apps/onboarding-ms/README.md
  apps/onboarding-ms/pom.xml
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/conf/OnboardingMsConfig.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/service/OnboardingServiceDefault.java
  apps/onboarding-ms/src/main/openapi/product.json
  apps/onboarding-ms/src/main/resources/application.properties
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/service/OnboardingServiceDefaultTest.java
Labels: onboarding-ms, ops

code review functions and apps
  .github/workflows/code_review_libs.yml
Labels: ops

checkout entire project for libs
  .github/workflows/code_review_libs.yml
Labels: ops

readme
  test-coverage/README.md
Labels: none

readme
  README.md
Labels: docs

fix name
  .github/workflows/code_review_functions.yml
  .github/workflows/code_review_libs.yml
  .github/workflows/code_review_ms.yml
Labels: ops

fix dockerfile onboarding-ms
  apps/onboarding-ms/Dockerfile
Labels: onboarding-ms

persist onboardingId on token and skip if already exists
  apps/onboarding-functions/README.md
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/entity/Token.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/repository/TokenRepository.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/service/ContractServiceDefault.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/service/OnboardingService.java
  apps/onboarding-functions/src/main/resources/application.properties
Labels: none

retrieve mail template config
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/OnboardingFunctions.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/config/MailTemplatePathConfig.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/config/MailTemplatePlaceholdersConfig.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/service/NotificationService.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/service/NotificationServiceDefault.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/service/OnboardingService.java
  apps/onboarding-functions/src/main/resources/application.properties
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/service/NotificationServiceDefaultTest.java
  apps/onboarding-functions/src/test/resources/application.properties
Labels: none

send mail
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/service/NotificationServiceDefault.java
  apps/onboarding-functions/src/main/resources/application.properties
Labels: none

save token with contract
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/OnboardingFunctions.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/service/OnboardingService.java
Labels: none

unit test
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/repository/TokenRepository.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/service/NotificationServiceDefault.java
  apps/onboarding-functions/src/main/resources/application.properties
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/repository/TokenRepositoryTest.java
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/service/NotificationServiceDefaultTest.java
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/service/OnboardingServiceTest.java
Labels: none

activity and method send mail registration
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/OnboardingFunctions.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/service/NotificationService.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/service/NotificationServiceDefault.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/service/OnboardingService.java
Labels: none

unit test
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/service/NotificationServiceDefaultTest.java
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/service/OnboardingServiceTest.java
Labels: none

fix SEND MAIL REGISTRATION REQUEST name
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/OnboardingFunctions.java
Labels: none

send approve registration and onboarding
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/OnboardingFunctions.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/service/NotificationService.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/service/NotificationServiceDefault.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/service/OnboardingService.java
  apps/onboarding-functions/src/main/resources/application.properties
Labels: none

unit test
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/service/NotificationServiceDefaultTest.java
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/service/OnboardingServiceTest.java
Labels: none

rename path properties
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/OnboardingFunctions.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/config/MailTemplatePathConfig.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/config/MailTemplatePlaceholdersConfig.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/service/NotificationServiceDefault.java
  apps/onboarding-functions/src/main/resources/application.properties
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/service/NotificationServiceDefaultTest.java
  apps/onboarding-functions/src/test/resources/application.properties
Labels: none

[SELC-3158] feat: send mail async with contract (#38)
  apps/onboarding-functions/README.md
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/OnboardingFunctions.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/config/MailTemplatePathConfig.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/config/MailTemplatePlaceholdersConfig.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/entity/Token.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/repository/TokenRepository.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/service/ContractServiceDefault.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/service/NotificationService.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/service/NotificationServiceDefault.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/service/OnboardingService.java
  apps/onboarding-functions/src/main/resources/application.properties
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/repository/TokenRepositoryTest.java
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/service/NotificationServiceDefaultTest.java
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/service/OnboardingServiceTest.java
  apps/onboarding-functions/src/test/resources/application.properties
Labels: none

onboarding function test
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/OnboardingFunctions.java
  apps/onboarding-functions/src/main/resources/application.properties
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/OnboardingFunctionsTest.java
Labels: none

code smell
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/OnboardingFunctions.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/service/ContractServiceDefault.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/service/NotificationServiceDefault.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/service/OnboardingService.java
Labels: none

code smell
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/utils/PdfMapper.java
Labels: none

[SELC-3159] feat: send mail for approve on onboarding and registration (#39)
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/OnboardingFunctions.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/config/MailTemplatePathConfig.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/config/MailTemplatePlaceholdersConfig.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/service/ContractServiceDefault.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/service/NotificationService.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/service/NotificationServiceDefault.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/service/OnboardingService.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/utils/PdfMapper.java
  apps/onboarding-functions/src/main/resources/application.properties
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/OnboardingFunctionsTest.java
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/service/NotificationServiceDefaultTest.java
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/service/OnboardingServiceTest.java
  apps/onboarding-functions/src/test/resources/application.properties
Labels: none

java 17 and quarkus 3.5.1
  apps/onboarding-functions/pom.xml
Labels: none

utility classes to perform cryptographic operation
  libs/onboarding-sdk-crypto/.gitignore
  libs/onboarding-sdk-crypto/README.md
  libs/onboarding-sdk-crypto/pom.xml
  libs/onboarding-sdk-crypto/src/main/java/it/pagopa/selfcare/onboarding/crypto/PadesSignService.java
  libs/onboarding-sdk-crypto/src/main/java/it/pagopa/selfcare/onboarding/crypto/PadesSignServiceImpl.java
  libs/onboarding-sdk-crypto/src/main/java/it/pagopa/selfcare/onboarding/crypto/Pkcs7HashSignService.java
  libs/onboarding-sdk-crypto/src/main/java/it/pagopa/selfcare/onboarding/crypto/Pkcs7HashSignServiceImpl.java
  libs/onboarding-sdk-crypto/src/main/java/it/pagopa/selfcare/onboarding/crypto/config/LocalCryptoConfig.java
  libs/onboarding-sdk-crypto/src/main/java/it/pagopa/selfcare/onboarding/crypto/config/LocalCryptoInitializer.java
  libs/onboarding-sdk-crypto/src/main/java/it/pagopa/selfcare/onboarding/crypto/entity/SignatureInformation.java
  libs/onboarding-sdk-crypto/src/main/java/it/pagopa/selfcare/onboarding/crypto/utils/CryptoUtils.java
  libs/onboarding-sdk-crypto/src/main/java/it/pagopa/selfcare/onboarding/crypto/utils/PropertiesLoader.java
  libs/onboarding-sdk-crypto/src/main/java/it/pagopa/selfcare/onboarding/crypto/utils/SoapLoggingHandler.java
  libs/onboarding-sdk-crypto/src/main/resources/cryptoConfig.properties
  libs/onboarding-sdk-pom/pom.xml
Labels: none

remove accidentally upgrada quarkus
  apps/onboarding-functions/pom.xml
Labels: none

load properties by env variables
  libs/onboarding-sdk-crypto/src/main/java/it/pagopa/selfcare/onboarding/crypto/config/LocalCryptoInitializer.java
  libs/onboarding-sdk-crypto/src/main/java/it/pagopa/selfcare/onboarding/crypto/utils/PropertiesLoader.java
  libs/onboarding-sdk-crypto/src/main/resources/cryptoConfig.properties
Labels: none

dependencies management by quarkus
  libs/onboarding-sdk-crypto/pom.xml
  libs/onboarding-sdk-pom/pom.xml
  libs/onboarding-sdk-product/pom.xml
  libs/pom.xml
Labels: none

fix CMSTypeData
  libs/onboarding-sdk-crypto/src/main/java/it/pagopa/selfcare/onboarding/crypto/Pkcs7HashSignServiceImpl.java
  libs/onboarding-sdk-crypto/src/main/java/it/pagopa/selfcare/onboarding/crypto/utils/CMSTypedDataInputStream.java
Labels: none

unit test
  libs/onboarding-sdk-crypto/src/main/java/it/pagopa/selfcare/onboarding/crypto/PadesSignServiceImpl.java
  libs/onboarding-sdk-crypto/src/main/java/it/pagopa/selfcare/onboarding/crypto/entity/SignatureInformation.java
  libs/onboarding-sdk-crypto/src/test/java/it/pagopa/selfcare/onboarding/crypto/PadesSignServiceTest.java
  libs/onboarding-sdk-crypto/src/test/java/it/pagopa/selfcare/onboarding/crypto/Pkcs7HashSignServiceTest.java
  libs/onboarding-sdk-crypto/src/test/resources/signTest.pdf
  test-coverage/pom.xml
Labels: none

README
  libs/onboarding-sdk-crypto/README.md
Labels: none
