Repository pagopa/selfcare-onboarding, changes with the labels that .github/labeler.yml gives for each.
All labels: functions, onboarding-ms, libs, ops, docs

unit test read user uid
  apps/onboarding-ms/pom.xml
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/controller/OnboardingController.java
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/controller/OnboardingControllerTest.java
Labels: onboarding-ms

save user request id
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/controller/OnboardingController.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/controller/request/OnboardingBaseRequest.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/controller/response/OnboardingResponse.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/entity/Onboarding.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/service/OnboardingServiceDefault.java
Labels: onboarding-ms

retrieve user request for sending mail
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/entity/Onboarding.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/service/OnboardingService.java
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/service/OnboardingServiceTest.java
Labels: functions

add test-coverage pom to dockerfile
  .dockerignore
  apps/onboarding-ms/Dockerfile
Labels: onboarding-ms

add test-coverage pom to dockerfile ms (#47)
  .dockerignore
  apps/onboarding-ms/Dockerfile
Labels: onboarding-ms

added manager data on pdfmapper
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/service/ContractServiceDefault.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/utils/PdfMapper.java
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/service/ContractServiceDefaultTest.java
Labels: functions

fix workflow deploy ms
  .github/workflows/deploy_onboarding_ms.yml
Labels: ops

fix STORAGE_CONTAINER_PRODUCT values
  .container_apps/onboarding-ms/env/dev/terraform.tfvars
  .container_apps/onboarding-ms/env/prod/terraform.tfvars
  .container_apps/onboarding-ms/env/uat/terraform.tfvars
Labels: ops

fix core url
  .container_apps/onboarding-ms/env/dev/terraform.tfvars
  .container_apps/onboarding-ms/env/prod/terraform.tfvars
  .container_apps/onboarding-ms/env/uat/terraform.tfvars
  apps/onboarding-ms/README.md
Labels: onboarding-ms, ops

[SELC-3389] feat: retrieve user information by pdv (#46)
  .container_apps/onboarding-ms/env/dev/terraform.tfvars
  .container_apps/onboarding-ms/env/prod/terraform.tfvars
  .container_apps/onboarding-ms/env/uat/terraform.tfvars
  .github/workflows/deploy_onboarding_ms.yml
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/entity/Onboarding.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/service/ContractServiceDefault.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/service/OnboardingService.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/utils/PdfMapper.java
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/service/ContractServiceDefaultTest.java
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/service/OnboardingServiceTest.java
  apps/onboarding-ms/README.md
  apps/onboarding-ms/pom.xml
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/controller/OnboardingController.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/controller/request/OnboardingBaseRequest.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/controller/response/OnboardingResponse.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/entity/Onboarding.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/service/OnboardingServiceDefault.java
  apps/onboarding-ms/src/main/resources/application.properties
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/controller/OnboardingControllerTest.java
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/service/OnboardingServiceDefaultTest.java
Labels: functions, onboarding-ms, ops

controller for handling file
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/controller/TokenController.java
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/controller/TokenControllerTest.java
Labels: onboarding-ms

move enabled signature properties from functions to ms
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/config/PagoPaSignatureConfig.java
  apps/onboarding-functions/src/main/resources/application.properties
  apps/onboarding-ms/src/main/resources/application.properties
Labels: functions, onboarding-ms

add token entity
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/entity/Token.java
Labels: onboarding-ms

move eu signature properties from functions to ms
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/config/PagoPaSignatureConfig.java
  apps/onboarding-functions/src/main/resources/application.properties
  apps/onboarding-ms/src/main/resources/application.properties
Labels: functions, onboarding-ms

move onboarding complete to OnboardingController
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/controller/OnboardingController.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/controller/TokenController.java
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/controller/OnboardingControllerTest.java
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/controller/TokenControllerTest.java
Labels: onboarding-ms

contract signature verification
  apps/onboarding-ms/pom.xml
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/conf/TrustedListsCertificateSourceConfig.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/exception/InvalidRequestException.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/service/SignatureService.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/service/SignatureServiceDefault.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/util/GenericError.java
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/service/SignatureServiceDefaultTest.java
Labels: onboarding-ms

comple onboarding without upload contract
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/conf/TrustedListsCertificateSourceConfig.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/service/OnboardingService.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/service/OnboardingServiceDefault.java
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/service/OnboardingServiceDefaultTest.java
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/service/SignatureServiceDefaultTest.java
Labels: onboarding-ms

upload contract
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/conf/OnboardingMsConfig.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/controller/OnboardingController.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/entity/Token.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/service/OnboardingService.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/service/OnboardingServiceDefault.java
  apps/onboarding-ms/src/main/resources/application.properties
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/controller/OnboardingControllerTest.java
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/service/OnboardingServiceDefaultTest.java
Labels: onboarding-ms

fix unit test
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/service/OnboardingServiceDefault.java
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/service/OnboardingServiceDefaultTest.java
Labels: onboarding-ms

product name in filename and saving
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/entity/Token.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/service/ContractService.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/service/ContractServiceDefault.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/service/NotificationServiceDefault.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/service/OnboardingService.java
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/repository/TokenRepositoryTest.java
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/service/ContractServiceDefaultTest.java
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/service/NotificationServiceDefaultTest.java
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/service/OnboardingServiceTest.java
Labels: functions

fix some unit test
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/service/ContractServiceDefault.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/service/OnboardingService.java
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/service/OnboardingServiceTest.java
Labels: functions

move filename func to Utils class
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/service/ContractServiceDefault.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/service/OnboardingService.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/utils/Utils.java
Labels: functions

async execution to avoid waiting 60s for the onlineRefresh to complete
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/conf/TrustedListsCertificateSourceConfig.java
Labels: onboarding-ms

[SELC-2862] fix: contract filename as legacy ms-core (#48)
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/entity/Token.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/service/ContractService.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/service/ContractServiceDefault.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/service/NotificationServiceDefault.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/service/OnboardingService.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/utils/Utils.java
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/repository/TokenRepositoryTest.java
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/service/ContractServiceDefaultTest.java
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/service/NotificationServiceDefaultTest.java
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/service/OnboardingServiceTest.java
Labels: functions

workflow type and upgrade version sdk
  libs/onboarding-sdk-azure-storage/pom.xml
  libs/onboarding-sdk-common/pom.xml
  libs/onboarding-sdk-common/src/main/java/it/pagopa/selfcare/onboarding/common/WorkflowType.java
  libs/onboarding-sdk-crypto/pom.xml
  libs/onboarding-sdk-pom/pom.xml
  libs/onboarding-sdk-product/pom.xml
  test-coverage/pom.xml
Labels: libs

[SELC-2862] feat: onboarding completion synchronous processes (#49)
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/config/PagoPaSignatureConfig.java
  apps/onboarding-functions/src/main/resources/application.properties
  apps/onboarding-ms/pom.xml
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/conf/OnboardingMsConfig.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/conf/TrustedListsCertificateSourceConfig.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/controller/OnboardingController.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/entity/Token.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/exception/InvalidRequestException.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/service/OnboardingService.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/service/OnboardingServiceDefault.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/service/SignatureService.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/service/SignatureServiceDefault.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/util/GenericError.java
  apps/onboarding-ms/src/main/resources/application.properties
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/controller/OnboardingControllerTest.java
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/service/OnboardingServiceDefaultTest.java
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/service/SignatureServiceDefaultTest.java
Labels: functions, onboarding-ms

workflow type for orchestration
  apps/onboarding-functions/pom.xml
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/OnboardingFunctions.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/entity/Onboarding.java
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/OnboardingFunctionsTest.java
Labels: functions

cd e ci github environment
  .identity/02_identity_environment.tf
  .identity/03_github_environment.tf
  .identity/99_variables.tf
  .identity/mongodb.tf
Labels: ops

rename workflow FOR_APPROVE_PT
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/OnboardingFunctions.java
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/OnboardingFunctionsTest.java
  libs/onboarding-sdk-common/src/main/java/it/pagopa/selfcare/onboarding/common/WorkflowType.java
Labels: functions, libs

save workflow type
  apps/onboarding-ms/pom.xml
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/entity/Onboarding.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/mapper/OnboardingMapper.java
Labels: onboarding-ms

infra onboarding functions
  .functions/onboarding-functions/.terraform.lock.hcl
  .functions/onboarding-functions/env/dev/backend.ini
  .functions/onboarding-functions/env/dev/backend.tfvars
  .functions/onboarding-functions/env/dev/terraform.tfvars
  .functions/onboarding-functions/env/uat/backend.ini
  .functions/onboarding-functions/env/uat/backend.tfvars
  .functions/onboarding-functions/env/uat/terraform.tfvars
  .functions/onboarding-functions/functions.tf
  .functions/onboarding-functions/locals.tf
  .functions/onboarding-functions/main.tf
  .functions/onboarding-functions/terraform.sh
  .functions/onboarding-functions/variables.tf
Labels: none

app settings
  .functions/onboarding-functions/env/dev/terraform.tfvars
  .functions/onboarding-functions/env/uat/terraform.tfvars
Labels: none

cd e ci github environment (#50)
  .identity/02_identity_environment.tf
  .identity/03_github_environment.tf
  .identity/99_variables.tf
  .identity/mongodb.tf
Labels: ops

workflow deploy functions
  .github/workflows/deploy_onboarding_functions.yml
Labels: ops

remove properties for deploy
  apps/onboarding-functions/src/main/resources/application.properties
Labels: functions

env azure functions
  .identity/03_github_environment.tf
Labels: ops

set env azure functions to workflow
  .github/workflows/deploy_onboarding_functions.yml
Labels: ops

fix secrets.AZURE_CLIENT_ID_CD
  .github/workflows/deploy_onboarding_functions.yml
Labels: ops

fix deploy step
  .github/workflows/deploy_onboarding_functions.yml
Labels: ops

install dependencies
  .github/workflows/deploy_onboarding_functions.yml
Labels: ops

.github/labeler.yml:

functions:
- apps/onboarding-functions/**

onboarding-ms:
- apps/onboarding-ms/**

libs:
- libs/**

ops:
- .github/**
- .container_apps/**
- .identity/**

docs:
- README.md
