Repository pagopa/selfcare-onboarding, changes with the labels that .github/labeler.yml gives for each.
All labels: functions, onboarding-ms, libs, ops, docs

.github/labeler.yml:

functions:
- apps/onboarding-functions/**

onboarding-ms:
- apps/onboarding-ms/**

libs:
- libs/**

ops:
- .github/**
- .container_apps/**
- .identity/**

docs:
- README.md

fix env github uat subscription
  .functions/onboarding-functions/env/uat/backend.ini
  .functions/onboarding-functions/env/uat/backend.tfvars
Labels: none

set app name on building
  .github/workflows/deploy_onboarding_functions.yml
Labels: ops

fix env mail
  .functions/onboarding-functions/env/dev/terraform.tfvars
Labels: none

upgrade azurerm 3.71
  .functions/onboarding-functions/.terraform.lock.hcl
  .functions/onboarding-functions/main.tf
Labels: none

upgrade terraform-azurerm 7.28
  .functions/onboarding-functions/functions.tf
Labels: none

remove unsued steps
  .github/workflows/deploy_onboarding_functions.yml
  .identity/03_github_environment.tf
Labels: ops

ops: infrastructure azure functions for onboarding (#51)
  .functions/onboarding-functions/.terraform.lock.hcl
  .functions/onboarding-functions/env/dev/backend.ini
  .functions/onboarding-functions/env/dev/backend.tfvars
  .functions/onboarding-functions/env/dev/terraform.tfvars
  .functions/onboarding-functions/env/uat/backend.ini
  .functions/onboarding-functions/env/uat/backend.tfvars
  .functions/onboarding-functions/env/uat/terraform.tfvars
  .functions/onboarding-functions/functions.tf
  .functions/onboarding-functions/locals.tf
  .functions/onboarding-functions/main.tf
  .functions/onboarding-functions/terraform.sh
  .functions/onboarding-functions/variables.tf
  .github/workflows/deploy_onboarding_functions.yml
  .identity/03_github_environment.tf
  apps/onboarding-functions/src/main/resources/application.properties
Labels: functions, ops

add some comment
  apps/onboarding-functions/src/main/resources/application.properties
Labels: functions

added mock upload contract
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/service/OnboardingServiceDefaultTest.java
Labels: onboarding-ms

remove sparse checkout from code review
  .github/workflows/code_review_ms.yml
Labels: ops

fetch-depth to 0
  .github/workflows/code_review_ms.yml
Labels: ops

test
  .github/workflows/code_review_ms.yml
Labels: ops

add Run tests step
  .github/workflows/code_review_ms.yml
Labels: ops

fix run tests
  .github/workflows/code_review_ms.yml
Labels: ops

test
  .github/workflows/code_review_ms.yml
Labels: ops

setup-maven-action
  .github/workflows/code_review_ms.yml
Labels: ops

fix version
  .github/workflows/code_review_ms.yml
Labels: ops

fix version
  .github/workflows/code_review_ms.yml
Labels: ops

fix test value
  .github/workflows/code_review_libs.yml
  .github/workflows/code_review_ms.yml
Labels: ops

cache-enabled tru
  .github/workflows/code_review_ms.yml
Labels: ops

cache-enabled: true
  .github/workflows/code_review_ms.yml
Labels: ops

test
  .github/workflows/code_review_ms.yml
Labels: ops

enable cache
  .github/workflows/code_review_libs.yml
  .github/workflows/code_review_ms.yml
  .github/workflows/deploy_onboarding_functions.yml
Labels: ops

fix checkout ref
  .github/workflows/code_review_libs.yml
  .github/workflows/code_review_ms.yml
Labels: ops

fix code review functions
  .github/workflows/code_review_functions.yml
Labels: ops

use pin-github-action
  .github/workflows/check_pr.yml
  .github/workflows/code_review_functions.yml
  .github/workflows/code_review_libs.yml
  .github/workflows/code_review_ms.yml
  .github/workflows/deploy_onboarding_functions.yml
  .github/workflows/release_onboarding_sdk.yml
Labels: ops

ops: using cache and 3.9.5 version about maven on workflow (#52)
  .github/workflows/check_pr.yml
  .github/workflows/code_review_functions.yml
  .github/workflows/code_review_libs.yml
  .github/workflows/code_review_ms.yml
  .github/workflows/deploy_onboarding_functions.yml
  .github/workflows/release_onboarding_sdk.yml
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/service/OnboardingServiceDefaultTest.java
Labels: onboarding-ms, ops

digital address required
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/controller/request/InstitutionBaseRequest.java
Labels: onboarding-ms

swagger documentation
  apps/onboarding-ms/src/main/resources/application.properties
Labels: onboarding-ms

remove sa endpoint
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/controller/OnboardingController.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/controller/request/BillingRequest.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/controller/request/OnboardingPaRequest.java
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/controller/OnboardingControllerTest.java
Labels: onboarding-ms

[SELC-2862] fix: remove SA onboarding (#53)
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/controller/OnboardingController.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/controller/request/BillingRequest.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/controller/request/InstitutionBaseRequest.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/controller/request/OnboardingPaRequest.java
  apps/onboarding-ms/src/main/resources/application.properties
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/controller/OnboardingControllerTest.java
Labels: onboarding-ms

fix: move get workflow type to service
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/mapper/OnboardingMapper.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/service/OnboardingServiceDefault.java
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/service/OnboardingServiceDefaultTest.java
Labels: onboarding-ms

fix onboardingId as parameter when sendMailForApprove
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/service/NotificationService.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/service/NotificationServiceDefault.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/service/OnboardingService.java
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/service/OnboardingServiceTest.java
Labels: functions

rename method isGspAndProdInterop
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/service/OnboardingServiceDefault.java
Labels: onboarding-ms

remove _NAME and introduce switch case
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/OnboardingFunctions.java
Labels: functions

unit test
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/utils/PdfMapper.java
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/OnboardingFunctionsTest.java
Labels: functions

unit test
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/service/OnboardingServiceDefault.java
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/service/OnboardingServiceDefaultTest.java
Labels: onboarding-ms

[SELC-2862] feat: workflow type for orchestration (#54)
  apps/onboarding-functions/pom.xml
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/OnboardingFunctions.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/entity/Onboarding.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/service/NotificationService.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/service/NotificationServiceDefault.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/service/OnboardingService.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/utils/PdfMapper.java
  apps/onboarding-functions/src/main/resources/application.properties
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/OnboardingFunctionsTest.java
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/service/OnboardingServiceTest.java
  apps/onboarding-ms/pom.xml
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/entity/Onboarding.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/mapper/OnboardingMapper.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/service/OnboardingServiceDefault.java
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/service/OnboardingServiceDefaultTest.java
  libs/onboarding-sdk-azure-storage/pom.xml
  libs/onboarding-sdk-common/pom.xml
  libs/onboarding-sdk-common/src/main/java/it/pagopa/selfcare/onboarding/common/WorkflowType.java
  libs/onboarding-sdk-crypto/pom.xml
  libs/onboarding-sdk-pom/pom.xml
  libs/onboarding-sdk-product/pom.xml
  test-coverage/pom.xml
Labels: functions, onboarding-ms, libs

Add cacheable product service
  libs/onboarding-sdk-azure-storage/src/main/java/it/pagopa/selfcare/azurestorage/AzureBlobClient.java
  libs/onboarding-sdk-azure-storage/src/main/java/it/pagopa/selfcare/azurestorage/AzureBlobClientDefault.java
  libs/onboarding-sdk-product/pom.xml
  libs/onboarding-sdk-product/src/main/java/it/pagopa/selfcare/product/service/ProductServiceCacheable.java
Labels: libs

fix CertifiableFieldResourceOfstring mapper
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/utils/PdfMapper.java
Labels: functions
