Repository pagopa/selfcare-onboarding, changes with the labels that .github/labeler.yml gives for each.
All labels: functions, onboarding-ms, libs, ops, docs

.github/labeler.yml:

functions:
- apps/onboarding-functions/**

onboarding-ms:
- apps/onboarding-ms/**

libs:
- libs/**

ops:
- .github/**
- .container_apps/**
- .identity/**

docs:
- README.md

get onboarding by id
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/controller/OnboardingController.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/service/OnboardingService.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/service/OnboardingServiceDefault.java
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/controller/OnboardingControllerTest.java
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/service/OnboardingServiceDefaultTest.java
Labels: onboarding-ms

get onboarding pending
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/controller/OnboardingController.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/service/OnboardingService.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/service/OnboardingServiceDefault.java
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/controller/OnboardingControllerTest.java
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/service/OnboardingServiceDefaultTest.java
Labels: onboarding-ms

[SELC-3509] feat: add new endpoints for onboarding process verification (#78)
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/controller/OnboardingController.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/service/OnboardingService.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/service/OnboardingServiceDefault.java
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/controller/OnboardingControllerTest.java
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/service/OnboardingServiceDefaultTest.java
Labels: onboarding-ms

add handler for resource not found
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/exception/handler/ExceptionHandler.java
Labels: onboarding-ms

remove datatime in output
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/controller/response/OnboardingGet.java
Labels: onboarding-ms

[SELC-3509] fix: handler for resource not found (#79)
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/controller/response/OnboardingGet.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/exception/handler/ExceptionHandler.java
Labels: onboarding-ms

create institution with geotax
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/entity/GeographicTaxonomy.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/entity/Institution.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/mapper/InstitutionMapper.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/service/CompletionServiceDefault.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/utils/PdfMapper.java
  apps/onboarding-functions/src/main/openapi/core.json
Labels: functions

save geotax to ms
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/controller/request/GeographicTaxonomyDto.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/controller/request/InstitutionBaseRequest.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/controller/response/InstitutionResponse.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/entity/GeographicTaxonomy.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/entity/Institution.java
Labels: onboarding-ms

fix pdf mapper retrieving name
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/utils/PdfMapper.java
Labels: functions

[SELC-3503] fix: enhance onboarding with geotaxonomy integration (#80)
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/entity/GeographicTaxonomy.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/entity/Institution.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/mapper/InstitutionMapper.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/service/CompletionServiceDefault.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/utils/PdfMapper.java
  apps/onboarding-functions/src/main/openapi/core.json
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/controller/request/GeographicTaxonomyDto.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/controller/request/InstitutionBaseRequest.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/controller/response/InstitutionResponse.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/entity/GeographicTaxonomy.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/entity/Institution.java
Labels: functions, onboarding-ms

[SELC-3577] feat: functions for purge durable history table (#76)
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/config/PurgeConfig.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/functions/CommonFunctions.java
  apps/onboarding-functions/src/main/resources/application.properties
Labels: functions

fix mapper mail
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/utils/PdfMapper.java
Labels: functions

fix: mapper mail when create contract (#81)
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/utils/PdfMapper.java
Labels: functions

add service to get onboarding with user info
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/mapper/UserMapper.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/service/OnboardingService.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/service/OnboardingServiceDefault.java
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/service/OnboardingServiceDefaultTest.java
Labels: onboarding-ms

get onboarding with user info endpoint
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/controller/OnboardingController.java
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/controller/OnboardingControllerTest.java
Labels: onboarding-ms

fix: mapper mail when create contract
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/utils/PdfMapper.java
Labels: functions

retrieve workscontract for delegate
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/service/OnboardingService.java
Labels: functions

[SELC-3493] feat: add new endpoint for onboarding process verification by admin (#82)
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/controller/OnboardingController.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/mapper/UserMapper.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/service/OnboardingService.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/service/OnboardingServiceDefault.java
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/controller/OnboardingControllerTest.java
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/service/OnboardingServiceDefaultTest.java
Labels: onboarding-ms

fix unit test
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/service/OnboardingServiceTest.java
Labels: functions

fix: mapper delegate's mail when create contract (#83)
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/service/OnboardingService.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/utils/PdfMapper.java
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/service/OnboardingServiceTest.java
Labels: functions

TO_BE_VALIDATED status
  libs/onboarding-sdk-common/src/main/java/it/pagopa/selfcare/onboarding/common/OnboardingStatus.java
Labels: libs

send confirmation when PT
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/config/MailTemplatePathConfig.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/service/NotificationService.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/service/NotificationServiceDefault.java
  apps/onboarding-functions/src/main/resources/application.properties
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/service/CompletionServiceDefaultTest.java
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/service/NotificationServiceDefaultTest.java
Labels: functions

workflow approve when TO_BE_VALIDATED
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/functions/OnboardingFunctions.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/service/CompletionServiceDefault.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/service/OnboardingService.java
Labels: functions

fix switch onboarding status
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/functions/OnboardingFunctions.java
  apps/onboarding-functions/src/main/resources/application.properties
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/OnboardingFunctionsTest.java
Labels: functions

unit test
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/OnboardingFunctionsTest.java
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/service/OnboardingServiceTest.java
Labels: functions

default properties
  apps/onboarding-functions/src/main/resources/application.properties
Labels: functions

refactor identity tf config
  .identity/.terraform-version
  .identity/.terraform.lock.hcl
  .identity/00_data.tf
  .identity/02_application_action.tf
  .identity/03_github_environment.tf
  .identity/99_variables.tf
  .identity/data.tf
  .identity/env/dev/backend.tfvars
  .identity/env/dev/terraform.tfvars
  .identity/env/prod/backend.tfvars
  .identity/env/prod/terraform.tfvars
  .identity/env/uat/backend.tfvars
  .identity/env/uat/terraform.tfvars
  .identity/github_branch_rules.tf
  .identity/github_environment_cd.tf
  .identity/github_environment_ci.tf
  .identity/github_managed_identity_cd.tf
  .identity/github_managed_identity_ci.tf
  .identity/github_repo_secrets.tf
  .identity/locals.tf
  .identity/main.tf
  .identity/outputs.tf
  .identity/variables.tf
  .pre-commit-config.yaml
  .terraform-version
Labels: ops

import container app
  infra/container_apps/onboarding-ms/.terraform.lock.hcl
  infra/container_apps/onboarding-ms/container_app.tf
  infra/container_apps/onboarding-ms/data.tf
  infra/container_apps/onboarding-ms/env/dev/backend.ini
  infra/container_apps/onboarding-ms/env/dev/backend.tfvars
  infra/container_apps/onboarding-ms/env/dev/terraform.tfvars
  infra/container_apps/onboarding-ms/env/prod/backend.ini
  infra/container_apps/onboarding-ms/env/prod/backend.tfvars
  infra/container_apps/onboarding-ms/env/prod/terraform.tfvars
  infra/container_apps/onboarding-ms/env/uat/backend.ini
  infra/container_apps/onboarding-ms/env/uat/backend.tfvars
  infra/container_apps/onboarding-ms/env/uat/terraform.tfvars
  infra/container_apps/onboarding-ms/locals.tf
  infra/container_apps/onboarding-ms/main.tf
  infra/container_apps/onboarding-ms/outputs.tf
  infra/container_apps/onboarding-ms/terraform.sh
  infra/container_apps/onboarding-ms/variables.tf
Labels: none

add function
  .gitignore
  infra/functions/onboarding-functions/.terraform.lock.hcl
  infra/functions/onboarding-functions/data.tf
  infra/functions/onboarding-functions/env/dev/backend.ini
  infra/functions/onboarding-functions/env/dev/backend.tfvars
  infra/functions/onboarding-functions/env/dev/terraform.tfvars
  infra/functions/onboarding-functions/env/prod/backend.ini
  infra/functions/onboarding-functions/env/prod/backend.tfvars
  infra/functions/onboarding-functions/env/prod/terraform.tfvars
  infra/functions/onboarding-functions/env/uat/backend.ini
  infra/functions/onboarding-functions/env/uat/backend.tfvars
  infra/functions/onboarding-functions/env/uat/terraform.tfvars
  infra/functions/onboarding-functions/functions.tf
  infra/functions/onboarding-functions/locals.tf
  infra/functions/onboarding-functions/main.tf
  infra/functions/onboarding-functions/terraform.sh
  infra/functions/onboarding-functions/variables.tf
Labels: none

refactor identity tf config
  .identity/.terraform.lock.hcl
  .identity/data.tf
  .identity/env/dev/backend.tfvars
  .identity/env/dev/terraform.tfvars
  .identity/env/prod/backend.tfvars
  .identity/env/prod/terraform.tfvars
  .identity/env/uat/backend.tfvars
  .identity/env/uat/terraform.tfvars
  .identity/github_branch_rules.tf
  .identity/github_environment_cd.tf
  .identity/github_environment_ci.tf
  .identity/github_managed_identity_cd.tf
  .identity/github_managed_identity_ci.tf
  .identity/github_repo_secrets.tf
  .identity/locals.tf
  .identity/main.tf
  .identity/outputs.tf
  .identity/variables.tf
  .pre-commit-config.yaml
  .terraform-version
Labels: ops

import container app
  infra/container_apps/onboarding-ms/.terraform.lock.hcl
  infra/container_apps/onboarding-ms/container_app.tf
  infra/container_apps/onboarding-ms/data.tf
  infra/container_apps/onboarding-ms/env/dev/backend.ini
  infra/container_apps/onboarding-ms/env/dev/backend.tfvars
  infra/container_apps/onboarding-ms/env/dev/terraform.tfvars
  infra/container_apps/onboarding-ms/env/prod/backend.ini
  infra/container_apps/onboarding-ms/env/prod/backend.tfvars
  infra/container_apps/onboarding-ms/env/prod/terraform.tfvars
  infra/container_apps/onboarding-ms/env/uat/backend.ini
  infra/container_apps/onboarding-ms/env/uat/backend.tfvars
  infra/container_apps/onboarding-ms/env/uat/terraform.tfvars
  infra/container_apps/onboarding-ms/locals.tf
  infra/container_apps/onboarding-ms/main.tf
  infra/container_apps/onboarding-ms/outputs.tf
  infra/container_apps/onboarding-ms/terraform.sh
  infra/container_apps/onboarding-ms/variables.tf
Labels: none

add function
  .gitignore
  infra/functions/onboarding-functions/.terraform.lock.hcl
  infra/functions/onboarding-functions/data.tf
  infra/functions/onboarding-functions/env/dev/backend.ini
  infra/functions/onboarding-functions/env/dev/backend.tfvars
  infra/functions/onboarding-functions/env/dev/terraform.tfvars
  infra/functions/onboarding-functions/env/prod/backend.ini
  infra/functions/onboarding-functions/env/prod/backend.tfvars
  infra/functions/onboarding-functions/env/prod/terraform.tfvars
  infra/functions/onboarding-functions/env/uat/backend.ini
  infra/functions/onboarding-functions/env/uat/backend.tfvars
  infra/functions/onboarding-functions/env/uat/terraform.tfvars
  infra/functions/onboarding-functions/functions.tf
  infra/functions/onboarding-functions/locals.tf
  infra/functions/onboarding-functions/main.tf
  infra/functions/onboarding-functions/terraform.sh
  infra/functions/onboarding-functions/variables.tf
Labels: none

add mongodb config
  infra/mongo/.terraform.lock.hcl
  infra/mongo/env/dev/backend.ini
  infra/mongo/env/dev/backend.tfvars
  infra/mongo/env/dev/terraform.tfvars
  infra/mongo/env/uat/backend.ini
  infra/mongo/env/uat/backend.tfvars
  infra/mongo/env/uat/terraform.tfvars
  infra/mongo/locals.tf
  infra/mongo/main.tf
  infra/mongo/mongo_db.tf
  infra/mongo/outputs.tf
  infra/mongo/terraform.sh
  infra/mongo/variables.tf
Labels: none

[EC-77] Import MongoDb TF configuration (#87)
  infra/mongo/.terraform.lock.hcl
  infra/mongo/env/dev/backend.ini
  infra/mongo/env/dev/backend.tfvars
  infra/mongo/env/dev/terraform.tfvars
  infra/mongo/env/uat/backend.ini
  infra/mongo/env/uat/backend.tfvars
  infra/mongo/env/uat/terraform.tfvars
  infra/mongo/locals.tf
  infra/mongo/main.tf
  infra/mongo/mongo_db.tf
  infra/mongo/outputs.tf
  infra/mongo/terraform.sh
  infra/mongo/variables.tf
Labels: none

[EC-77] Import MongoDb TF configuration (#87)
  infra/mongo/.terraform.lock.hcl
  infra/mongo/env/dev/backend.ini
  infra/mongo/env/dev/backend.tfvars
  infra/mongo/env/dev/terraform.tfvars
  infra/mongo/env/uat/backend.ini
  infra/mongo/env/uat/backend.tfvars
  infra/mongo/env/uat/terraform.tfvars
  infra/mongo/locals.tf
  infra/mongo/main.tf
  infra/mongo/mongo_db.tf
  infra/mongo/outputs.tf
  infra/mongo/terraform.sh
  infra/mongo/variables.tf
Labels: none

[EC-77] Import MongoDb TF configuration (#87) (#88)
  infra/mongo/.terraform.lock.hcl
  infra/mongo/env/dev/backend.ini
  infra/mongo/env/dev/backend.tfvars
  infra/mongo/env/dev/terraform.tfvars
  infra/mongo/env/uat/backend.ini
  infra/mongo/env/uat/backend.tfvars
  infra/mongo/env/uat/terraform.tfvars
  infra/mongo/locals.tf
  infra/mongo/main.tf
  infra/mongo/mongo_db.tf
  infra/mongo/outputs.tf
  infra/mongo/terraform.sh
  infra/mongo/variables.tf
Labels: none

delete empty pipeline
  .github/release.yml
Labels: ops
