Repository pagopa/selfcare-onboarding, changes with the labels that .github/labeler.yml gives for each.
All labels: functions, ms, sdk, ops, docs

remove unsued .devops folder
  .devops/code-review-pipelines.yml
  .devops/deploy-pipelines-standard.yml
Labels: none

added code review for functions
  .github/workflows/code_review_onboarding_functions.yml
Labels: ops

[SELC-3157] feat: SaveToken step for onboarding async (#19)
  .identity/99_variables.tf
  .identity/mongodb.tf
  onboarding-functions/README.md
  onboarding-functions/pom.xml
  onboarding-functions/src/main/java/it/pagopa/selfcare/OnboardingFunctions.java
  onboarding-functions/src/main/java/it/pagopa/selfcare/entity/Onboarding.java
  onboarding-functions/src/main/java/it/pagopa/selfcare/entity/Token.java
  onboarding-functions/src/main/java/it/pagopa/selfcare/exception/ResourceNotFoundException.java
  onboarding-functions/src/main/java/it/pagopa/selfcare/repository/TokenRepository.java
  onboarding-functions/src/main/java/it/pagopa/selfcare/service/ContractService.java
  onboarding-functions/src/main/java/it/pagopa/selfcare/service/ContractServiceDefault.java
  onboarding-functions/src/main/java/it/pagopa/selfcare/service/OnboardingService.java
  onboarding-functions/src/main/resources/application.properties
  onboarding-functions/src/test/java/it/pagopa/selfcare/service/ContractServiceDefaultTest.java
  onboarding-functions/src/test/java/it/pagopa/selfcare/service/OnboardingServiceTest.java
  onboarding-ms/src/main/java/it/pagopa/selfcare/entity/Onboarding.java
  onboarding-ms/src/main/java/it/pagopa/selfcare/service/OnboardingServiceDefault.java
  onboarding-ms/src/main/resources/application.properties
  onboarding-sdk/onboarding-sdk-common/src/main/java/it/pagopa/selfcare/onboarding/common/OnboardingStatus.java
Labels: functions, ms, sdk, ops

set target_branch
  .github/workflows/check_pr.yml
Labels: ops

adding custom pr_size_checker
  .github/workflows/check_pr.yml
Labels: ops

total lines 1000
  .github/workflows/check_pr.yml
Labels: ops

reduce max lines
  .github/workflows/check_pr.yml
Labels: ops

exclude deleted file
  .github/workflows/check_pr.yml
Labels: ops

add sonar token
  .identity/00_data.tf
  .identity/03_github_environment.tf
Labels: ops

properties default value
  onboarding-functions/src/main/resources/application.properties
Labels: functions

add plugin sonar to parent
  pom.xml
Labels: none

add code review worfflow
  .github/workflows/code_review_onboarding_functions.yml
Labels: ops

.github/labeler.yml:

functions:
- onboarding-functions/**

ms:
- onboarding-ms/**

sdk:
- onboarding-sdk/**

ops:
- .github/**
- .identity/**

docs:
- README.md
