Repository pagopa/selfcare-onboarding, pull requests merged in 2023-11, with the labels that each got.

#27 infra: Add required infra for Azure Container Apps
  .container_apps/onboarding-ms/.terraform.lock.hcl
  .container_apps/onboarding-ms/container_app.tf
  .container_apps/onboarding-ms/env/dev/backend.ini
  .container_apps/onboarding-ms/env/dev/backend.tfvars
  .container_apps/onboarding-ms/env/dev/terraform.tfvars
  .container_apps/onboarding-ms/env/prod/backend.ini
  .container_apps/onboarding-ms/env/prod/backend.tfvars
  .container_apps/onboarding-ms/env/prod/terraform.tfvars
  .container_apps/onboarding-ms/env/uat/backend.ini
  .container_apps/onboarding-ms/env/uat/backend.tfvars
  .container_apps/onboarding-ms/env/uat/terraform.tfvars
  .container_apps/onboarding-ms/locals.tf
  .container_apps/onboarding-ms/main.tf
  .container_apps/onboarding-ms/outputs.tf
  .container_apps/onboarding-ms/terraform.sh
  .container_apps/onboarding-ms/variables.tf
  .github/workflows/deploy_onboarding_ms.yml
  .gitignore
  .java-version
  .pre-commit-config.yaml
  .terraform-version
  docker-compose.yml
  onboarding-ms/.dockerignore
  onboarding-ms/Dockerfile
  onboarding-ms/src/main/docker/Dockerfile.jvm
  onboarding-ms/src/main/docker/Dockerfile.legacy-jar
  onboarding-ms/src/main/docker/Dockerfile.native
  onboarding-ms/src/main/docker/Dockerfile.native-micro
Labels: ops, ms

#32 Refactor onboarding-sdk-product setting java 17
  .github/workflows/release_onboarding_sdk.yml
  onboarding-sdk/onboarding-sdk-azure-storage/pom.xml
  onboarding-sdk/onboarding-sdk-common/pom.xml
  onboarding-sdk/onboarding-sdk-product/README.md
  onboarding-sdk/onboarding-sdk-product/pom.xml
  onboarding-sdk/onboarding-sdk-product/src/main/java/it/pagopa/selfcare/product/service/ProductService.java
  onboarding-sdk/onboarding-sdk-product/src/main/java/it/pagopa/selfcare/product/service/ProductServiceDefault.java
  onboarding-sdk/onboarding-sdk-product/src/test/java/ProductServiceDefaultTest.java
  onboarding-sdk/pom.xml
Labels: ops, sdk

#33 fix: release sdk cd
  .github/workflows/release_onboarding_sdk.yml
Labels: ops

#36 Refactor: replace business logic for retrieving product with onboarding-sdk-product
  .container_apps/onboarding-ms/env/dev/terraform.tfvars
  .github/workflows/code_review.yml
  .github/workflows/code_review_functions.yml
  .github/workflows/code_review_ms.yml
  .github/workflows/release_onboarding_sdk.yml
  apps/onboarding-ms/README.md
  apps/onboarding-ms/pom.xml
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/conf/OnboardingMsConfig.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/service/OnboardingServiceDefault.java
  apps/onboarding-ms/src/main/openapi/product.json
  apps/onboarding-ms/src/main/resources/application.properties
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/service/OnboardingServiceDefaultTest.java
Labels: ops, onboarding-ms

#40 feat: Onboarding SDK Crypto Module for Cryptographic Operations
  .github/labeler.yml
  libs/onboarding-sdk-crypto/.gitignore
  libs/onboarding-sdk-crypto/README.md
  libs/onboarding-sdk-crypto/pom.xml
  libs/onboarding-sdk-crypto/src/main/java/it/pagopa/selfcare/onboarding/crypto/PadesSignService.java
  libs/onboarding-sdk-crypto/src/main/java/it/pagopa/selfcare/onboarding/crypto/PadesSignServiceImpl.java
  libs/onboarding-sdk-crypto/src/main/java/it/pagopa/selfcare/onboarding/crypto/Pkcs7HashSignService.java
  libs/onboarding-sdk-crypto/src/main/java/it/pagopa/selfcare/onboarding/crypto/Pkcs7HashSignServiceImpl.java
  libs/onboarding-sdk-crypto/src/main/java/it/pagopa/selfcare/onboarding/crypto/config/LocalCryptoConfig.java
  libs/onboarding-sdk-crypto/src/main/java/it/pagopa/selfcare/onboarding/crypto/config/LocalCryptoInitializer.java
  libs/onboarding-sdk-crypto/src/main/java/it/pagopa/selfcare/onboarding/crypto/entity/SignatureInformation.java
  libs/onboarding-sdk-crypto/src/main/java/it/pagopa/selfcare/onboarding/crypto/utils/CMSTypedDataInputStream.java
  libs/onboarding-sdk-crypto/src/main/java/it/pagopa/selfcare/onboarding/crypto/utils/CryptoUtils.java
  libs/onboarding-sdk-crypto/src/main/java/it/pagopa/selfcare/onboarding/crypto/utils/SoapLoggingHandler.java
  libs/onboarding-sdk-crypto/src/test/java/it/pagopa/selfcare/onboarding/crypto/PadesSignServiceTest.java
  libs/onboarding-sdk-crypto/src/test/java/it/pagopa/selfcare/onboarding/crypto/Pkcs7HashSignServiceTest.java
  libs/onboarding-sdk-crypto/src/test/resources/signTest.pdf
  libs/onboarding-sdk-pom/pom.xml
  libs/onboarding-sdk-product/pom.xml
  libs/pom.xml
  test-coverage/pom.xml
Labels: ops

#41 feat: sdk aruba remote sign service
  .github/labeler.yml
  libs/onboarding-sdk-crypto/README.md
  libs/onboarding-sdk-crypto/pom.xml
  libs/onboarding-sdk-crypto/src/main/java/it/pagopa/selfcare/onboarding/crypto/ArubaPkcs7HashSignServiceImpl.java
  libs/onboarding-sdk-crypto/src/main/java/it/pagopa/selfcare/onboarding/crypto/ArubaSignService.java
  libs/onboarding-sdk-crypto/src/main/java/it/pagopa/selfcare/onboarding/crypto/ArubaSignServiceImpl.java
  libs/onboarding-sdk-crypto/src/main/java/it/pagopa/selfcare/onboarding/crypto/config/ArubaInitializer.java
  libs/onboarding-sdk-crypto/src/main/java/it/pagopa/selfcare/onboarding/crypto/config/ArubaSignConfig.java
  libs/onboarding-sdk-crypto/src/main/resources/docs/aruba/ArubaSignService.wsdl
  libs/onboarding-sdk-crypto/src/main/resources/docs/aruba/ArubaSignService.xsd
  libs/onboarding-sdk-crypto/src/main/resources/docs/aruba/oasis-200401-wss-wssecurity-utility-1.0.xsd
  libs/onboarding-sdk-crypto/src/main/resources/docs/aruba/xmlmime.xml
  libs/onboarding-sdk-crypto/src/test/java/it/pagopa/selfcare/onboarding/crypto/utils/SoapLoggingHandlerTest.java
Labels: ops, libs

#43 fix: maven configuration for SonarQube compatibility
  .github/labeler.yml
  .github/workflows/release_onboarding_sdk.yml
  libs/onboarding-sdk-pom/pom.xml
  libs/pom.xml
Labels: ops, libs

#42 [SELC-3389] feat: signing process integration
  README.md
  apps/onboarding-functions/README.md
  apps/onboarding-functions/pom.xml
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/config/OnboardingFunctionConfig.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/config/PagoPaSignatureConfig.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/service/ContractServiceDefault.java
  apps/onboarding-functions/src/main/resources/application.properties
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/service/ContractServiceDefaultTest.java
  libs/onboarding-sdk-crypto/README.md
  libs/onboarding-sdk-crypto/pom.xml
  libs/onboarding-sdk-crypto/src/main/java/it/pagopa/selfcare/onboarding/crypto/config/ArubaInitializer.java
  libs/onboarding-sdk-crypto/src/main/java/it/pagopa/selfcare/onboarding/crypto/config/LocalCryptoInitializer.java
  libs/onboarding-sdk-crypto/src/test/java/it/pagopa/selfcare/onboarding/crypto/Pkcs7HashSignServiceTest.java
Labels: docs, libs

#45 upgrade quarkus 3.5.2
  apps/onboarding-ms/pom.xml
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/controller/OnboardingControllerTest.java
Labels: onboarding-ms

#47 add test-coverage pom to dockerfile
  .dockerignore
  apps/onboarding-ms/Dockerfile
Labels: onboarding-ms

#46 [SELC-3389] feat: retrieve user information by pdv
  .container_apps/onboarding-ms/env/dev/terraform.tfvars
  .container_apps/onboarding-ms/env/prod/terraform.tfvars
  .container_apps/onboarding-ms/env/uat/terraform.tfvars
  .github/workflows/deploy_onboarding_ms.yml
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/entity/Onboarding.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/service/ContractServiceDefault.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/service/OnboardingService.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/utils/PdfMapper.java
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/service/ContractServiceDefaultTest.java
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/service/OnboardingServiceTest.java
  apps/onboarding-ms/README.md
  apps/onboarding-ms/pom.xml
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/controller/OnboardingController.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/controller/request/OnboardingBaseRequest.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/controller/response/OnboardingResponse.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/entity/Onboarding.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/service/OnboardingServiceDefault.java
  apps/onboarding-ms/src/main/resources/application.properties
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/controller/OnboardingControllerTest.java
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/service/OnboardingServiceDefaultTest.java
Labels: functions, ops, onboarding-ms

#48 [SELC-2862] fix: contract filename as legacy ms-core
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/entity/Token.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/service/ContractService.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/service/ContractServiceDefault.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/service/NotificationServiceDefault.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/service/OnboardingService.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/utils/Utils.java
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/repository/TokenRepositoryTest.java
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/service/ContractServiceDefaultTest.java
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/service/NotificationServiceDefaultTest.java
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/service/OnboardingServiceTest.java
Labels: functions

#49 [SELC-2862] feat: onboarding completion synchronous processes
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/config/PagoPaSignatureConfig.java
  apps/onboarding-functions/src/main/resources/application.properties
  apps/onboarding-ms/pom.xml
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/conf/OnboardingMsConfig.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/conf/TrustedListsCertificateSourceConfig.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/controller/OnboardingController.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/entity/Token.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/exception/InvalidRequestException.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/service/OnboardingService.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/service/OnboardingServiceDefault.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/service/SignatureService.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/service/SignatureServiceDefault.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/util/GenericError.java
  apps/onboarding-ms/src/main/resources/application.properties
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/controller/OnboardingControllerTest.java
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/service/OnboardingServiceDefaultTest.java
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/service/SignatureServiceDefaultTest.java
Labels: functions, onboarding-ms

#52 ops: using cache and 3.9.5 version about maven on workflow
  .github/workflows/check_pr.yml
  .github/workflows/code_review_functions.yml
  .github/workflows/code_review_libs.yml
  .github/workflows/code_review_ms.yml
  .github/workflows/deploy_onboarding_functions.yml
  .github/workflows/release_onboarding_sdk.yml
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/service/OnboardingServiceDefaultTest.java
Labels: ops, onboarding-ms

#53 [SELC-2862] fix: remove SA onboarding
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/controller/OnboardingController.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/controller/request/BillingRequest.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/controller/request/InstitutionBaseRequest.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/controller/request/OnboardingPaRequest.java
  apps/onboarding-ms/src/main/resources/application.properties
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/controller/OnboardingControllerTest.java
Labels: onboarding-ms

#54 [SELC-2862] feat: workflow type for orchestration
  apps/onboarding-functions/pom.xml
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/OnboardingFunctions.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/entity/Onboarding.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/service/NotificationService.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/service/NotificationServiceDefault.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/service/OnboardingService.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/utils/PdfMapper.java
  apps/onboarding-functions/src/main/resources/application.properties
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/OnboardingFunctionsTest.java
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/service/OnboardingServiceTest.java
  apps/onboarding-ms/pom.xml
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/entity/Onboarding.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/mapper/OnboardingMapper.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/service/OnboardingServiceDefault.java
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/service/OnboardingServiceDefaultTest.java
  libs/onboarding-sdk-azure-storage/pom.xml
  libs/onboarding-sdk-common/pom.xml
  libs/onboarding-sdk-common/src/main/java/it/pagopa/selfcare/onboarding/common/WorkflowType.java
  libs/onboarding-sdk-crypto/pom.xml
  libs/onboarding-sdk-pom/pom.xml
  libs/onboarding-sdk-product/pom.xml
  test-coverage/pom.xml
Labels: functions, onboarding-ms, libs
