Repository pagopa/selfcare-onboarding, pull requests merged in 2024-03, with the labels that each got.

#198 hotfix: mapping onboarding ID for import workflow
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/filter/CustomClientRequestLoggingFilter.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/filter/CustomClientResponseLoggingFilter.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/mapper/OnboardingMapper.java
Labels: onboarding-ms, hotfix

#199 hotfix: sending activatedAt on import workflow when persist onboarding
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/entity/Onboarding.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/service/CompletionServiceDefault.java
  apps/onboarding-functions/src/main/openapi/core.json
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/service/CompletionServiceDefaultTest.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/entity/Onboarding.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/mapper/OnboardingMapper.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/service/OnboardingServiceDefault.java
Labels: functions, onboarding-ms, hotfix

#197 [SELC - 4393]feat: implemented new method for onboarding reject API
  apps/onboarding-ms/src/main/docs/openapi.json
  apps/onboarding-ms/src/main/docs/openapi.yaml
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/controller/OnboardingController.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/controller/request/ReasonRequest.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/controller/response/OnboardingGet.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/entity/Onboarding.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/service/OnboardingService.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/service/OnboardingServiceDefault.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/util/QueryUtils.java
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/controller/OnboardingControllerTest.java
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/service/OnboardingServiceDefaultTest.java
Labels: onboarding-ms

#201 [SELC - 4401] feat: modify path environment variable for retrieving the rejection email template
  infra/container_apps/onboarding-ms/env/prod-pnpg/terraform.tfvars
  infra/container_apps/onboarding-ms/env/prod/terraform.tfvars
  infra/functions/onboarding-functions/env/dev-pnpg/terraform.tfvars
  infra/functions/onboarding-functions/env/dev/terraform.tfvars
  infra/functions/onboarding-functions/env/prod-pnpg/terraform.tfvars
  infra/functions/onboarding-functions/env/prod/terraform.tfvars
  infra/functions/onboarding-functions/env/uat-pnpg/terraform.tfvars
  infra/functions/onboarding-functions/env/uat/terraform.tfvars
Labels: ops

#202 [SELC - 4393] fix: added updatedAt in query to update
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/service/OnboardingServiceDefault.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/util/QueryUtils.java
Labels: onboarding-ms

#203 [SELC-4448] fix: Migrating nat to selfcare-infra
  infra/functions/onboarding-functions/functions.tf
Labels: ops, applied, DEV, UAT, PROD

#205 [SELC-4411] chore: set core and party ca url dev
  infra/container_apps/onboarding-ms/env/dev-pnpg/terraform.tfvars
  infra/container_apps/onboarding-ms/env/dev/terraform.tfvars
Labels: ops

#207 [SELC-4448] Feature/selc 4448
  infra/functions/onboarding-functions/functions.tf
  infra/functions/onboarding-functions/locals.tf
Labels: ops, applied, DEV, UAT, PROD

#208 [SELC-4343] chore: added appinsights and refactor ca module
  .github/workflows/create_release_branch.yml
  .github/workflows/release_container_apps_infra.yml
  .github/workflows/release_container_apps_pnpg_infra.yml
  apps/onboarding-ms/Dockerfile
  apps/onboarding-ms/src/main/docs/openapi.json
  apps/onboarding-ms/src/main/docs/openapi.yaml
  infra/container_apps/onboarding-ms/container_app.tf
  infra/container_apps/onboarding-ms/data.tf
  infra/container_apps/onboarding-ms/env/dev-pnpg/terraform.tfvars
  infra/container_apps/onboarding-ms/env/dev/terraform.tfvars
  infra/container_apps/onboarding-ms/env/prod-pnpg/terraform.tfvars
  infra/container_apps/onboarding-ms/env/prod/terraform.tfvars
  infra/container_apps/onboarding-ms/env/uat-pnpg/terraform.tfvars
  infra/container_apps/onboarding-ms/env/uat/terraform.tfvars
  infra/container_apps/onboarding-ms/locals.tf
  infra/container_apps/onboarding-ms/outputs.tf
  infra/container_apps/onboarding-ms/private_dns.tf
  infra/container_apps/onboarding-ms/variables.tf
Labels: ops, onboarding-ms

#204 [SELC -4355] feat: implemented new API to retrieve contract not signed from azure …
  apps/onboarding-ms/src/main/docs/openapi.json
  apps/onboarding-ms/src/main/docs/openapi.yaml
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/conf/OnboardingMsConfig.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/controller/TokenController.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/service/TokenService.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/service/TokenServiceDefault.java
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/controller/TokenControllerTest.java
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/service/TokenServiceDefaultTest.java
Labels: onboarding-ms

#209 Adding prod-interop-coll to ONBOARDING_ALLOWED_INSTITUTIONS_PRODUCTS
  infra/container_apps/onboarding-ms/env/prod/terraform.tfvars
Labels: ops

#211 chore: [SELC-4411] switch url container app uat and prod
  infra/container_apps/onboarding-ms/env/prod-pnpg/terraform.tfvars
  infra/container_apps/onboarding-ms/env/prod/terraform.tfvars
  infra/container_apps/onboarding-ms/env/uat-pnpg/terraform.tfvars
  infra/container_apps/onboarding-ms/env/uat/terraform.tfvars
Labels: ops

#210 [SELC - 4353] feat: removed file attachment to mail (contract) during onboarding phase
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/functions/OnboardingFunctions.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/functions/utils/ActivityName.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/service/NotificationService.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/service/NotificationServiceDefault.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/service/OnboardingService.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/workflow/WorkflowExecutorContractRegistration.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/workflow/WorkflowExecutorForApprove.java
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/functions/OnboardingFunctionsTest.java
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/service/NotificationServiceDefaultTest.java
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/service/OnboardingServiceTest.java
Labels: functions

#212 feat: [SELC-4493] change onboarding request mail template path
  apps/onboarding-functions/src/main/resources/application.properties
  infra/functions/onboarding-functions/env/dev-pnpg/terraform.tfvars
  infra/functions/onboarding-functions/env/dev/terraform.tfvars
  infra/functions/onboarding-functions/env/prod-pnpg/terraform.tfvars
  infra/functions/onboarding-functions/env/prod/terraform.tfvars
  infra/functions/onboarding-functions/env/uat-pnpg/terraform.tfvars
  infra/functions/onboarding-functions/env/uat/terraform.tfvars
Labels: applied, DEV, UAT

#213 chore: Workload profiles migration DEV
  infra/container_apps/onboarding-ms/container_app.tf
  infra/container_apps/onboarding-ms/env/dev-pnpg/terraform.tfvars
  infra/container_apps/onboarding-ms/env/dev/terraform.tfvars
  infra/container_apps/onboarding-ms/env/prod-pnpg/terraform.tfvars
  infra/container_apps/onboarding-ms/env/uat-pnpg/terraform.tfvars
  infra/container_apps/onboarding-ms/variables.tf
  infra/functions/onboarding-functions/env/dev/terraform.tfvars
Labels: ops
