Repository pagopa/selfcare-onboarding, pull requests merged in 2024-07, with the labels that each got.

#370 [SELC-5149] feat: Fix execution pending state for completion workflow
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/workflow/WorkflowExecutor.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/workflow/WorkflowExecutorConfirmation.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/workflow/WorkflowExecutorContractRegistration.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/workflow/WorkflowExecutorContractRegistrationAggregator.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/workflow/WorkflowExecutorForApprove.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/workflow/WorkflowExecutorForApprovePt.java
  apps/onboarding-ms/src/main/docs/openapi.json
  apps/onboarding-ms/src/main/docs/openapi.yaml
Labels: functions, onboarding-ms

#357 [SELC-5116] Feat: Added API to verify aggregatesCsv
  apps/onboarding-ms/pom.xml
  apps/onboarding-ms/src/main/docs/openapi.json
  apps/onboarding-ms/src/main/docs/openapi.yaml
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/controller/AggregatesController.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/mapper/OnboardingMapper.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/model/AggregatesCsvResponse.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/model/CsvAggregate.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/model/RowError.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/model/VerifyAggregateResponse.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/service/AggregatesService.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/service/AggregatesServiceDefault.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/service/OnboardingService.java
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/controller/AggregatesControllerTest.java
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/service/AggregatesServiceDefaultTest.java
  apps/onboarding-ms/src/test/resources/aggregates.csv
Labels: onboarding-ms

#352 [SELC-5095] feat: executePendingState in WorkflowExecutorContractRegistrationAggregator
  apps/onboarding-functions/host.json
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/entity/OnboardingWorkflowAggregator.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/functions/OnboardingFunctions.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/mapper/OnboardingMapper.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/utils/Utils.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/workflow/WorkflowExecutor.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/workflow/WorkflowExecutorContractRegistrationAggregator.java
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/functions/OnboardingFunctionsTest.java
Labels: functions

#376 [SELC-5215] feat: Removed validation containts on request for check manager API
  apps/onboarding-ms/src/main/docs/openapi.json
  apps/onboarding-ms/src/main/docs/openapi.yaml
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/controller/request/OnboardingUserRequest.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/service/OnboardingServiceDefault.java
Labels: onboarding-ms

#378 [SELC-5214] feat: Added previousManagerId as attribute of Onboarding in order to detect email template
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/config/MailTemplatePlaceholdersConfig.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/entity/Onboarding.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/entity/OnboardingWorkflowUser.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/service/NotificationService.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/service/NotificationServiceDefault.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/service/OnboardingService.java
  apps/onboarding-functions/src/main/resources/application.properties
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/service/OnboardingServiceTest.java
  apps/onboarding-functions/src/test/resources/application.properties
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/entity/Onboarding.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/service/OnboardingServiceDefault.java
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/service/OnboardingServiceDefaultTest.java
Labels: functions, onboarding-ms

#380 Add subunittype EC
  apps/onboarding-cdc/pom.xml
  apps/onboarding-functions/pom.xml
  apps/onboarding-ms/pom.xml
  libs/onboarding-sdk-azure-storage/pom.xml
  libs/onboarding-sdk-common/pom.xml
  libs/onboarding-sdk-common/src/main/java/it/pagopa/selfcare/onboarding/common/InstitutionPaSubunitType.java
  libs/onboarding-sdk-crypto/pom.xml
  libs/onboarding-sdk-pom/pom.xml
  libs/onboarding-sdk-product/pom.xml
Labels: functions, onboarding-ms, libs

#379 [SELC-5228] feat: Added env variable to send email in the function PERSIST_USERS
  apps/onboarding-cdc/src/main/java/it/pagopa/selfcare/onboarding/event/entity/util/InstitutionPaSubunitType.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/mapper/UserMapper.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/service/CompletionServiceDefault.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/workflow/WorkflowExecutorContractRegistrationAggregator.java
  apps/onboarding-functions/src/main/resources/application.properties
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/functions/OnboardingFunctionsTest.java
  infra/functions/onboarding-functions/env/dev-pnpg/terraform.tfvars
  infra/functions/onboarding-functions/env/dev/terraform.tfvars
  infra/functions/onboarding-functions/env/prod-pnpg/terraform.tfvars
  infra/functions/onboarding-functions/env/prod/terraform.tfvars
  infra/functions/onboarding-functions/env/uat-pnpg/terraform.tfvars
  infra/functions/onboarding-functions/env/uat/terraform.tfvars
Labels: functions, ops

#383 [SELC-5186] feat: add new api onboardingAggregationCompletion
  apps/onboarding-ms/src/main/docs/openapi.json
  apps/onboarding-ms/src/main/docs/openapi.yaml
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/controller/OnboardingController.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/service/OnboardingService.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/service/OnboardingServiceDefault.java
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/controller/OnboardingControllerTest.java
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/service/OnboardingServiceDefaultTest.java
Labels: onboarding-ms

#384 [SELC-5095] feat: executePendingState in WorkflowExecutorContractRegistrationAggregator
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/workflow/WorkflowExecutorContractRegistrationAggregator.java
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/functions/OnboardingFunctionsTest.java
Labels: functions

#385 UPDATE DEV vars for send pec email
  infra/functions/onboarding-functions/.terraform.lock.hcl
  infra/functions/onboarding-functions/env/dev-pnpg/terraform.tfvars
  infra/functions/onboarding-functions/functions.tf
  infra/functions/onboarding-functions/locals.tf
Labels: ops

#372 [SELC-5189] feat: added durable function to handle resend of notifications by filters
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/dto/ResendNotificationsFilters.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/exception/NotificationException.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/functions/NotificationFunctions.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/functions/utils/ActivityName.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/service/NotificationEventResenderService.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/service/NotificationEventResenderServiceDefault.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/service/NotificationEventServiceDefault.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/service/OnboardingService.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/utils/Utils.java
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/functions/NotificationFunctionsTest.java
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/service/NotificationEventResenderServiceDefaultTest.java
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/service/OnboardingServiceTest.java
Labels: functions

#387 chore: Update env variable USER_MS_SEND_EMAIL to false in production environments
  infra/functions/onboarding-functions/env/prod-pnpg/terraform.tfvars
  infra/functions/onboarding-functions/env/prod/terraform.tfvars
Labels: ops

#388 FIX Releases 0.3.1
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/service/OnboardingServiceDefault.java
Labels: onboarding-ms, hotfix

#390 chore: Using common Release openapi onboarding ms
  .github/workflows/release_ms.yml
  apps/onboarding-ms/src/main/docs/openapi.json
  apps/onboarding-ms/src/main/docs/openapi.yaml
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/controller/OnboardingController.java
Labels: ops, onboarding-ms

#392 chore: Move to Container App Env workload DEV
  infra/container_apps/hub_spid_login/env/dev/terraform.tfvars
  infra/container_apps/onboarding-cdc/env/dev/terraform.tfvars
  infra/container_apps/onboarding-ms/env/dev/terraform.tfvars
  infra/functions/onboarding-functions/env/dev/terraform.tfvars
Labels: ops

#393 [SELC-5116] Fix: Added cf in RowError
  apps/onboarding-ms/src/main/docs/openapi.json
  apps/onboarding-ms/src/main/docs/openapi.yaml
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/model/RowError.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/service/AggregatesServiceDefault.java
Labels: onboarding-ms

#395 [SELC-5290] Add monitoring for notification events
  apps/onboarding-functions/pom.xml
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/client/auth/EventhubSasTokenAuthorization.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/client/eventhub/EventHubRestClient.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/config/OnboardingFunctionConfig.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/entity/Institution.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/functions/NotificationFunctions.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/functions/OnboardingFunctions.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/service/CompletionServiceDefault.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/service/NotificationEventServiceDefault.java
  apps/onboarding-functions/src/main/resources/application.properties
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/service/CompletionServiceDefaultTest2.java
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/service/NotificationEventServiceDefaultTest.java
  apps/onboarding-functions/src/test/resources/application.properties
  infra/container_apps/hub_spid_login/container_app.tf
  infra/container_apps/hub_spid_login/env/dev/terraform.tfvars
  infra/container_apps/onboarding-cdc/env/dev/terraform.tfvars
  infra/container_apps/onboarding-cdc/env/prod-pnpg/terraform.tfvars
  infra/container_apps/onboarding-cdc/env/prod/terraform.tfvars
  infra/container_apps/onboarding-cdc/env/uat/terraform.tfvars
  infra/container_apps/onboarding-cdc/main.tf
  infra/container_apps/onboarding-ms/container_app.tf
  infra/container_apps/onboarding-ms/env/dev/terraform.tfvars
  infra/functions/onboarding-functions/env/dev-pnpg/terraform.tfvars
  infra/functions/onboarding-functions/env/dev/terraform.tfvars
  infra/functions/onboarding-functions/env/prod-pnpg/terraform.tfvars
  infra/functions/onboarding-functions/env/prod/terraform.tfvars
  infra/functions/onboarding-functions/env/uat-pnpg/terraform.tfvars
  infra/functions/onboarding-functions/env/uat/terraform.tfvars
  infra/functions/onboarding-functions/functions.tf
Labels: functions, ops

#399 [SELC-5299] Fix count notification
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/service/OnboardingService.java
Labels: functions, hotfix

#401 [SELC-5300] feat: Increment timeout time for start orchestration
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/service/OnboardingServiceDefault.java
Labels: onboarding-ms

#403 chore: Move to Container App Env workload UAT
  infra/container_apps/hub_spid_login/env/uat/terraform.tfvars
  infra/container_apps/onboarding-cdc/env/uat/terraform.tfvars
  infra/container_apps/onboarding-ms/env/uat/terraform.tfvars
  infra/functions/onboarding-functions/env/uat/terraform.tfvars
Labels: ops, hotfix

#396 [SELC-5284] fix: Added step to persist activatedAt for onboarding with workflowType USERS
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/workflow/WorkflowExecutor.java
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/functions/OnboardingFunctionsTest.java
Labels: functions

#406 [SELC-5300] Adding context for log on sendMailTest
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/functions/OnboardingFunctions.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/service/CompletionService.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/service/CompletionServiceDefault.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/service/NotificationService.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/service/NotificationServiceDefault.java
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/functions/OnboardingFunctionsTest.java
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/service/CompletionServiceDefaultTest.java
Labels: functions

#407 [SELC-5299] Trace with onboarding on catching exception
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/service/NotificationEventServiceDefault.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/service/OnboardingService.java
Labels: functions

#408 [SELC-5276] feat: Added check on recipient Code
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/constants/CustomError.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/service/util/OnboardingUtils.java
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/service/NotificationServiceDefaultTest.java
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/service/util/OnboardingUtilsTest.java
Labels: onboarding-ms

#391 [SELC-5264] feat: Added logic to create token from onboarding's user identifier
  apps/onboarding-functions/pom.xml
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/client/auth/AuthenticationPropagationHeadersFactory.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/config/TokenConfig.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/service/CompletionServiceDefault.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/service/ContractServiceDefault.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/service/JwtSessionService.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/service/JwtSessionServiceDefault.java
  apps/onboarding-functions/src/main/openapi/user.json
  apps/onboarding-functions/src/main/resources/application.properties
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/client/EventhubSasTokenAuthorizationTest.java
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/client/auth/AuthenticationPropagationHeadersFactoryTest.java
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/service/CompletionServiceDefaultTest.java
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/service/JwtSessionServiceDefaultTest.java
  apps/onboarding-functions/src/test/resources/certs/PKCS1Key.pem
  infra/functions/onboarding-functions/env/dev-pnpg/terraform.tfvars
  infra/functions/onboarding-functions/env/dev/terraform.tfvars
  infra/functions/onboarding-functions/env/prod-pnpg/terraform.tfvars
  infra/functions/onboarding-functions/env/prod/terraform.tfvars
  infra/functions/onboarding-functions/env/uat-pnpg/terraform.tfvars
  infra/functions/onboarding-functions/env/uat/terraform.tfvars
Labels: functions, ops

#410 [SELC-5299] fix: updated query to retrieve onboarding to resend even without workflowType
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/service/NotificationEventServiceDefault.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/service/OnboardingService.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/utils/Utils.java
Labels: functions

#411 [SELC-5310] feat: Added logic to detect availability of external email service
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/service/CompletionServiceDefault.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/service/NotificationEventServiceDefault.java
  apps/onboarding-functions/src/main/resources/application.properties
  infra/functions/onboarding-functions/env/dev-pnpg/terraform.tfvars
  infra/functions/onboarding-functions/env/dev/terraform.tfvars
  infra/functions/onboarding-functions/env/prod-pnpg/terraform.tfvars
  infra/functions/onboarding-functions/env/prod/terraform.tfvars
  infra/functions/onboarding-functions/env/uat/terraform.tfvars
Labels: functions, ops

#412 [SELC - 5275] feat: added new API to checkRecipientCode
  apps/onboarding-ms/src/main/docs/openapi.json
  apps/onboarding-ms/src/main/docs/openapi.yaml
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/controller/OnboardingController.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/model/RecipientCodeStatus.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/service/OnboardingService.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/service/OnboardingServiceDefault.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/service/util/OnboardingUtils.java
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/controller/OnboardingControllerTest.java
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/service/OnboardingServiceDefaultTest.java
Labels: onboarding-ms

#414 [SELC-5276] feat: Added check on institutionType for check recipient code
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/service/util/OnboardingUtils.java
Labels: onboarding-ms

#415 [SELC-5276] fix: Throw exception in of 404 for getUOFromRecipientCode
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/service/OnboardingServiceDefault.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/service/util/OnboardingUtils.java
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/service/OnboardingServiceDefaultTest.java
Labels: onboarding-ms

#420 [SELC-5319] Retrieve Institution Id when create institution
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/service/CompletionServiceDefault.java
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/service/CompletionServiceDefaultTest.java
Labels: functions

#423 chore: Move to Container App Env workload PROD
  infra/container_apps/hub_spid_login/env/prod/terraform.tfvars
  infra/container_apps/onboarding-cdc/env/prod/terraform.tfvars
  infra/container_apps/onboarding-ms/env/prod/terraform.tfvars
  infra/functions/onboarding-functions/env/prod/terraform.tfvars
Labels: ops, hotfix

#426 chore: Set USER_MS_SEND_MAIL true in env PROD
  infra/functions/onboarding-functions/env/prod-pnpg/terraform.tfvars
  infra/functions/onboarding-functions/env/prod/terraform.tfvars
Labels: ops, hotfix

#425 Added condition to avoid sending mail in case of unavailability of external service
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/service/NotificationServiceDefault.java
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/service/NotificationServiceDefaultTest.java
Labels: functions

#431 [SELC-5322] feat: added check to avoid error in case of 404 for pdv
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/client/auth/AuthenticationPropagationHeadersFactory.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/service/JwtSessionServiceDefault.java
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/client/auth/AuthenticationPropagationHeadersFactoryTest.java
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/service/JwtSessionServiceDefaultTest.java
Labels: functions, hotfix
