Repository pagopa/selfcare-onboarding, pull requests merged in 2024-08, with the labels that each got.

#432 [SELC-5326] feat: Added telemetry client to track mail events
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/functions/OnboardingFunctions.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/service/CompletionService.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/service/CompletionServiceDefault.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/service/NotificationEventServiceDefault.java
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/functions/OnboardingFunctionsTest.java
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/service/CompletionServiceDefaultTest.java
Labels: functions

#430 [SELC-5351] feat: Changed parameter for function sendRegistrationContractMail in case of EA onboarding
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/workflow/WorkflowExecutorContractRegistrationAggregator.java
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/service/NotificationServiceDefaultTest.java
Labels: functions, hotfix

#433 [SELC-5326] fix: Added telemetry for all send email methods
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/functions/OnboardingFunctions.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/service/CompletionServiceDefault.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/service/NotificationServiceDefault.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/service/OnboardingService.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/utils/Utils.java
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/functions/OnboardingFunctionsTest.java
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/service/OnboardingServiceTest.java
Labels: functions

#435 [SELC-5334] Feat: Refactor csv fields position
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/controller/request/BillingPaRequest.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/model/CsvAggregate.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/service/AggregatesServiceDefault.java
  apps/onboarding-ms/src/test/resources/aggregates.csv
Labels: onboarding-ms

#428 [SELC-5333] feat: added instanceId to ResendNotifications function for logging purpose
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/dto/NotificationsResources.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/dto/ResendNotificationsFilters.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/functions/NotificationFunctions.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/service/NotificationEventResenderServiceDefault.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/service/NotificationEventService.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/service/NotificationEventServiceDefault.java
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/functions/NotificationFunctionsTest.java
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/service/NotificationEventResenderServiceDefaultTest.java
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/service/NotificationEventServiceDefaultTest.java
Labels: functions

#436 [SELC - 5349] feat: updated verifyOnboarding invocation
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/service/OnboardingServiceDefault.java
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/service/OnboardingServiceDefaultTest.java
Labels: onboarding-ms

#437 [SELC-5389] Feat: Added subunitCode as onboarding get filter
  apps/onboarding-ms/src/main/docs/openapi.json
  apps/onboarding-ms/src/main/docs/openapi.yaml
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/controller/OnboardingController.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/model/OnboardingGetFilters.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/util/QueryUtils.java
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/controller/OnboardingControllerTest.java
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/service/OnboardingServiceDefaultTest.java
Labels: onboarding-ms

#438 fix: replaced dash char in env name with underscore
  infra/functions/onboarding-functions/env/uat-pnpg/terraform.tfvars
Labels: ops, hotfix

#439 fix: replaced dash char in env name with underscore
  infra/functions/onboarding-functions/env/uat-pnpg/terraform.tfvars
Labels: ops

#441 Add rest client logging
  apps/onboarding-functions/src/main/resources/application.properties
Labels: functions, hotfix

#440 [SELC-5400] fix: Added check on getUserFromPdv for check manager API
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/service/OnboardingServiceDefault.java
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/service/OnboardingServiceDefaultTest.java
Labels: onboarding-ms, hotfix

#444 [SELC-5410] fix: Remove InstitutionPaSubunitType from onboarding-ms
  apps/onboarding-ms/src/main/docs/openapi.json
  apps/onboarding-ms/src/main/docs/openapi.yaml
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/controller/request/InstitutionBaseRequest.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/controller/request/InstitutionImportRequest.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/controller/response/InstitutionResponse.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/entity/Institution.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/service/AggregatesServiceDefault.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/service/OnboardingServiceDefault.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/service/util/OnboardingUtils.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/util/InstitutionPaSubunitType.java
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/service/OnboardingServiceDefaultTest.java
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/service/util/OnboardingUtilsTest.java
Labels: onboarding-ms, hotfix

#447 [SELC-5401] docs: Enable release onboarding-functions OpenAPI docs on storage
  .github/workflows/call_release_function.yml
  .github/workflows/release_functions.yml
  apps/onboarding-functions/src/main/openapi/openapi.json
  apps/onboarding-ms/src/main/docs/openapi.json
  apps/onboarding-ms/src/main/docs/openapi.yaml
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/controller/OnboardingController.java
Labels: functions, ops, onboarding-ms

#448 chore: Add operationId to OpenAPI Documentation
  apps/onboarding-ms/src/main/docs/openapi.json
  apps/onboarding-ms/src/main/docs/openapi.yaml
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/controller/OnboardingController.java
Labels: onboarding-ms

#449 [SELC-5416] fix: RootParent getOriginId on notification
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/utils/BaseNotificationBuilder.java
Labels: functions, hotfix

#451 Added connection pool size for each client into onboarding functions
  apps/onboarding-functions/src/main/resources/application.properties
Labels: functions, hotfix

#453 [SELC-5407] feat: added institutionType PRV for private institutions
  libs/onboarding-sdk-azure-storage/pom.xml
  libs/onboarding-sdk-common/pom.xml
  libs/onboarding-sdk-common/src/main/java/it/pagopa/selfcare/onboarding/common/InstitutionType.java
  libs/onboarding-sdk-crypto/pom.xml
  libs/onboarding-sdk-pom/pom.xml
  libs/onboarding-sdk-product/pom.xml
Labels: libs

#455 [SELC-5423] Refactor notification
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/service/NotificationEventServiceDefault.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/utils/BaseNotificationBuilder.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/utils/SapNotificationBuilder.java
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/service/NotificationEventServiceDefaultTest.java
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/utils/SapNotificationBuilderTest.java
Labels: functions, hotfix

#443 [SELC-5397] feat: removed tracking events in case of sending emails
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/functions/OnboardingFunctions.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/service/CompletionService.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/service/CompletionServiceDefault.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/service/OnboardingService.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/utils/Utils.java
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/functions/OnboardingFunctionsTest.java
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/service/CompletionServiceDefaultTest.java
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/service/OnboardingServiceTest.java
Labels: functions

#457 [SELC-5384] fix: added check for EC recipient code in case of AOO/UO onboarding
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/service/OnboardingServiceDefault.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/service/util/OnboardingUtils.java
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/service/OnboardingServiceDefaultTest.java
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/service/util/OnboardingUtilsTest.java
Labels: onboarding-ms, hotfix

#459 chore: Disable Health Check for Onboarding Functions
  infra/functions/onboarding-functions/functions.tf
Labels: ops
