Repository pagopa/selfcare-onboarding, pull requests merged in 2024-10, with the labels that each got.

#511 chore: add extensions x-legacy-api to legacy endpoint
  apps/onboarding-ms/src/main/docs/openapi.json
  apps/onboarding-ms/src/main/docs/openapi.yaml
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/controller/OnboardingController.java
Labels: onboarding-ms

#507 [SELC-5669] Feat: Modified onboardingPaAggregation to persist also vatNumber given from csv
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/controller/request/AggregateInstitutionRequest.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/entity/AggregateInstitution.java
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/controller/OnboardingControllerTest.java
Labels: onboarding-ms

#508 [SELC-5667] Feat: Refactor verify appIo csv to map all data retrieved from IPA
  apps/onboarding-ms/src/main/docs/openapi.json
  apps/onboarding-ms/src/main/docs/openapi.yaml
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/controller/AggregatesController.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/mapper/OnboardingMapper.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/model/AggregateAppIo.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/model/AggregatesCsv.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/model/CsvAggregateAppIo.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/model/VerifyAggregateAppIoResponse.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/service/AggregatesService.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/service/AggregatesServiceDefault.java
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/controller/AggregatesControllerTest.java
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/mapper/OnboardingMapperTest.java
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/model/CsvAggregateAppIoTest.java
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/service/AggregatesServiceDefaultTest.java
  apps/onboarding-ms/src/test/resources/aggregates-appio.csv
Labels: onboarding-ms

#509 [SELC-5653] feat: Cleaning up the test classes onboarding-functions
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/client/EventhubSasTokenAuthorizationTest.java
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/functions/ExternalFunctionsTest.java
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/functions/OnboardingFunctionsTest.java
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/repository/TokenRepositoryTest.java
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/service/CheckOrganizationServiceDefaultTest.java
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/service/CompletionServiceDefaultTest.java
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/service/ContractServiceDefaultTest.java
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/service/NotificationEventServiceDefaultTest.java
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/utils/NotificationBuilderFactoryTest.java
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/utils/QueueEventExaminerTest.java
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/utils/SapNotificationBuilderTest.java
Labels: functions

#515 [SELC-5657] feat: Cleaning up the test classes onboarding-sdk-product
  libs/onboarding-sdk-product/src/test/java/it/pagopa/selfcare/product/service/ProductServiceCacheableTest.java
  libs/onboarding-sdk-product/src/test/java/it/pagopa/selfcare/product/service/ProductServiceDefaultTest.java
Labels: libs

#514 [SELC-5656] feat: Cleaning up the test classes onboarding-sdk-crypto
  libs/onboarding-sdk-crypto/src/test/java/it/pagopa/selfcare/onboarding/crypto/PadesSignServiceTest.java
  libs/onboarding-sdk-crypto/src/test/java/it/pagopa/selfcare/onboarding/crypto/Pkcs7HashSignServiceTest.java
Labels: libs

#513 [SELC-5655] feat: Cleaning up the test classes onboarding-ms
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/controller/AggregatesControllerTest.java
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/controller/TokenControllerTest.java
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/exception/handler/ExceptionHandlerTest.java
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/service/AggregatesServiceDefaultTest.java
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/service/NotificationServiceDefaultTest.java
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/service/OnboardingServiceDefaultTest.java
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/service/TokenServiceDefaultTest.java
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/service/strategy/ConfigMapAllowedListOnboardingValidationStrategyTest.java
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/service/util/OnboardingUtilsTest.java
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/util/QueryUtilsTest.java
Labels: onboarding-ms

#520 [SELC-5691] Feat: Added aggregates field to persist on Onboarding
  apps/onboarding-ms/src/main/docs/openapi.json
  apps/onboarding-ms/src/main/docs/openapi.yaml
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/controller/request/AggregateInstitutionRequest.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/entity/AggregateInstitution.java
Labels: onboarding-ms

#521 [SELC-5683] Feat: Added county city and zipCode in verify csv for APP IO
  apps/onboarding-ms/pom.xml
  apps/onboarding-ms/src/main/docs/openapi.json
  apps/onboarding-ms/src/main/docs/openapi.yaml
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/controller/AggregatesController.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/mapper/OnboardingMapper.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/model/Aggregate.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/model/AggregateSend.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/model/GeographicTaxonomyFromIstatCode.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/model/RowError.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/model/VerifyAggregateAppIoResponse.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/model/VerifyAggregateResponse.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/model/VerifyAggregateSendResponse.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/service/AggregatesService.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/service/AggregatesServiceDefault.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/service/CsvService.java
  apps/onboarding-ms/src/main/resources/application.properties
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/controller/AggregatesControllerTest.java
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/mapper/OnboardingMapperTest.java
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/model/CsvAggregatePagoPaTest.java
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/model/CsvAggregateSendTest.java
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/model/VerifyAggregateSendResponseTest.java
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/service/AggregatesServiceDefaultTest.java
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/service/profile/OnboardingTestProfile.java
  apps/onboarding-ms/src/test/resources/aggregates-appio.csv
  apps/onboarding-ms/src/test/resources/application.properties
Labels: onboarding-ms

#502 [SELC-3573] feat: Added function to reject outdated onboardings
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/functions/OnboardingFunctions.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/functions/utils/ActivityName.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/service/CompletionService.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/service/CompletionServiceDefault.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/workflow/WorkflowExecutor.java
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/functions/OnboardingFunctionsTest.java
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/service/CompletionServiceDefaultTest.java
Labels: functions

#516 [SELC-5693] feat: Added mapping of values for contract PRV
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/service/ContractServiceDefault.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/utils/PdfMapper.java
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/service/ContractServiceDefaultTest.java
Labels: functions

#523 [SELC-5560] feat: call CREATE_AGGREGATES_CSV_ACTIVITY function in WorkflowExecutorContractRegistrationAggregator
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/service/ContractServiceDefault.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/workflow/WorkflowExecutorContractRegistrationAggregator.java
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/functions/OnboardingFunctionsTest.java
Labels: functions

#522 [SELC-5561] feat: call CREATE_AGGREGATES_CSV_ACTIVITY function in WorkflowExecutorIncrementRegistrationAggregator
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/workflow/WorkflowExecutorIncrementRegistrationAggregator.java
Labels: functions

#524 [SELC-5681] Feat: Added additional fields in verify csv for PAGOPA
  apps/onboarding-ms/src/main/docs/openapi.json
  apps/onboarding-ms/src/main/docs/openapi.yaml
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/controller/AggregatesController.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/mapper/OnboardingMapper.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/model/Aggregate.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/model/CsvAggregatePagoPa.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/model/CsvAggregateSend.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/service/AggregatesService.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/service/AggregatesServiceDefault.java
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/controller/AggregatesControllerTest.java
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/model/CsvAggregatePagoPaTest.java
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/service/AggregatesServiceDefaultTest.java
  apps/onboarding-ms/src/test/resources/aggregates-pagopa.csv
  apps/onboarding-ms/src/test/resources/aggregates-send.csv
Labels: onboarding-ms

#528 [SELC-5680] Feat: Refactor API to verify csv for SEND
  apps/onboarding-ms/src/main/docs/openapi.json
  apps/onboarding-ms/src/main/docs/openapi.yaml
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/controller/AggregatesController.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/controller/request/AggregateInstitutionRequest.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/entity/AggregateInstitution.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/mapper/OnboardingMapper.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/model/Aggregate.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/model/CsvAggregateSend.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/service/AggregatesService.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/service/AggregatesServiceDefault.java
  apps/onboarding-ms/src/main/resources/application.properties
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/controller/AggregatesControllerTest.java
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/mapper/OnboardingMapperTest.java
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/model/CsvAggregateSendTest.java
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/model/CsvAggregateTest.java
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/service/AggregatesServiceDefaultTest.java
  apps/onboarding-ms/src/test/resources/application.properties
Labels: onboarding-ms

#529 [SELC-5708] Feat: Added check to clean blank row and skip note row
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/service/CsvService.java
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/service/AggregatesServiceDefaultTest.java
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/service/CsvServiceTest.java
  apps/onboarding-ms/src/test/resources/test-read.csv
Labels: onboarding-ms

#531 [SELC-5632] feat: added getProductRaw on product-sdk to retrieve data without refreshing configuration
  apps/onboarding-functions/pom.xml
  apps/onboarding-ms/pom.xml
  apps/pom.xml
  libs/onboarding-sdk-azure-storage/pom.xml
  libs/onboarding-sdk-common/pom.xml
  libs/onboarding-sdk-crypto/pom.xml
  libs/onboarding-sdk-pom/pom.xml
  libs/onboarding-sdk-product/pom.xml
  libs/onboarding-sdk-product/src/main/java/it/pagopa/selfcare/product/service/ProductService.java
  libs/onboarding-sdk-product/src/main/java/it/pagopa/selfcare/product/service/ProductServiceCacheable.java
  libs/onboarding-sdk-product/src/main/java/it/pagopa/selfcare/product/service/ProductServiceDefault.java
  libs/onboarding-sdk-product/src/test/java/it/pagopa/selfcare/product/service/ProductServiceCacheableTest.java
  libs/onboarding-sdk-product/src/test/java/it/pagopa/selfcare/product/service/ProductServiceDefaultTest.java
  test-coverage/pom.xml
Labels: functions, onboarding-ms, libs

#532 [SELC-5629] fix: getAllRoleMappings sdk when both maps are non-null with overlapping keys
  .github/workflows/pr_libs.yml
  libs/onboarding-sdk-product/src/main/java/it/pagopa/selfcare/product/entity/Product.java
  libs/onboarding-sdk-product/src/main/java/it/pagopa/selfcare/product/entity/ProductRole.java
  libs/onboarding-sdk-product/src/main/java/it/pagopa/selfcare/product/entity/ProductRoleInfo.java
  libs/onboarding-sdk-product/src/test/java/it/pagopa/selfcare/product/entity/ProductTest.java
Labels: ops, libs

#527 Update azure linux function app configuration
  infra/functions/onboarding-functions/.terraform.lock.hcl
  infra/functions/onboarding-functions/env/dev-pnpg/terraform.tfvars
  infra/functions/onboarding-functions/env/dev/terraform.tfvars
  infra/functions/onboarding-functions/env/prod-pnpg/terraform.tfvars
  infra/functions/onboarding-functions/env/prod/terraform.tfvars
  infra/functions/onboarding-functions/env/uat-pnpg/terraform.tfvars
  infra/functions/onboarding-functions/env/uat/terraform.tfvars
  infra/functions/onboarding-functions/functions.tf
  infra/functions/onboarding-functions/variables.tf
Labels: ops, hotfix

#530 [SELC-5564] feat: add method to replace csv aggregates placeholder
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/service/ContractServiceDefault.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/utils/PdfMapper.java
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/service/ContractServiceDefaultTest.java
Labels: functions

#537 [SELC-5629] fix: handle institutionType null on validRoles
  apps/onboarding-functions/pom.xml
  apps/onboarding-ms/pom.xml
  apps/pom.xml
  libs/onboarding-sdk-azure-storage/pom.xml
  libs/onboarding-sdk-common/pom.xml
  libs/onboarding-sdk-crypto/pom.xml
  libs/onboarding-sdk-pom/pom.xml
  libs/onboarding-sdk-product/pom.xml
  libs/onboarding-sdk-product/src/main/java/it/pagopa/selfcare/product/utils/ProductUtils.java
  test-coverage/pom.xml
Labels: functions, onboarding-ms, libs

#534 [SELC-5602] feat: Added setup google-java-format
  README.md
Labels: docs

#539 [SELC-5736] feat: populate aggregates csv placeholder for prod-pagopa in PRV contract
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/service/ContractServiceDefault.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/utils/PdfMapper.java
Labels: functions

#538 [SELC-5733] feat: create aggregates csv for prod-pagopa
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/entity/AggregateInstitution.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/service/ContractServiceDefault.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/utils/GenericError.java
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/service/ContractServiceDefaultTest.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/entity/AggregateInstitution.java
Labels: functions, onboarding-ms

#542 [PNPG-248] feat: added new workflow type and updated pom versions
  apps/onboarding-functions/pom.xml
  apps/onboarding-ms/pom.xml
  apps/pom.xml
  libs/onboarding-sdk-azure-storage/pom.xml
  libs/onboarding-sdk-common/pom.xml
  libs/onboarding-sdk-common/src/main/java/it/pagopa/selfcare/onboarding/common/WorkflowType.java
  libs/onboarding-sdk-crypto/pom.xml
  libs/onboarding-sdk-pom/pom.xml
  libs/onboarding-sdk-product/pom.xml
  test-coverage/pom.xml
Labels: functions, onboarding-ms, libs

#541 [SELC-5748] feat: Added new API for update recipient code
  apps/onboarding-ms/src/main/docs/openapi.json
  apps/onboarding-ms/src/main/docs/openapi.yaml
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/controller/OnboardingController.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/entity/Onboarding.java
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/controller/OnboardingControllerTest.java
Labels: onboarding-ms

#547 [SELC-5763] feat: update aggregates csv creation for IO
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/service/ContractServiceDefault.java
Labels: functions

#549 [SELC-5763] fix: modify legal sentence for IO at the end of aggregates csv
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/service/ContractServiceDefault.java
Labels: functions

#550 Removed post processor method and moved function to reject onboardings into executePendingState
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/functions/OnboardingFunctions.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/service/CompletionServiceDefault.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/workflow/WorkflowExecutor.java
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/functions/OnboardingFunctionsTest.java
Labels: functions, hotfix

#548 [SELC-5764] feat: modify link text for csv aggregates for IO
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/utils/PdfMapper.java
Labels: functions

#543 [PNPG-244] feat: added user apis and implementation of onboardingUserPg method
  apps/onboarding-ms/README.md
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/service/OnboardingService.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/service/OnboardingServiceDefault.java
  apps/onboarding-ms/src/main/openapi/user.json
  apps/onboarding-ms/src/main/resources/application.properties
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/service/OnboardingServiceDefaultTest.java
Labels: onboarding-ms

#552 [PNPG-244] feat: added API onboarding/users/pg-from-ic-and-ade
  apps/onboarding-ms/src/main/docs/openapi.json
  apps/onboarding-ms/src/main/docs/openapi.yaml
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/controller/OnboardingController.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/controller/request/OnboardingUserPgRequest.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/mapper/OnboardingMapper.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/service/OnboardingServiceDefault.java
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/controller/OnboardingControllerTest.java
Labels: onboarding-ms

#544 [PNPG-250] feat: DELETE_MANAGERS_BY_IC_AND_ADE activity implementation
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/functions/OnboardingFunctions.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/functions/utils/ActivityName.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/service/CompletionService.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/service/CompletionServiceDefault.java
  apps/onboarding-functions/src/main/resources/application.properties
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/functions/OnboardingFunctionsTest.java
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/service/CompletionServiceDefaultTest.java
Labels: functions

#553 Removed post processor method and added reject onboarding fn into executePendingState
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/functions/OnboardingFunctions.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/service/CompletionServiceDefault.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/workflow/WorkflowExecutor.java
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/functions/OnboardingFunctionsTest.java
Labels: functions

#554 [PNPG-244] feat: added env for MS_USER_URL
  apps/onboarding-ms/README.md
  apps/onboarding-ms/src/main/resources/application.properties
  infra/container_apps/onboarding-ms/env/dev-pnpg/terraform.tfvars
  infra/container_apps/onboarding-ms/env/dev/terraform.tfvars
  infra/container_apps/onboarding-ms/env/prod-pnpg/terraform.tfvars
  infra/container_apps/onboarding-ms/env/prod/terraform.tfvars
  infra/container_apps/onboarding-ms/env/uat-pnpg/terraform.tfvars
  infra/container_apps/onboarding-ms/env/uat/terraform.tfvars
Labels: ops, onboarding-ms

#555 [PNPG-244] feat: added Authentication header propagation for selfcare-user clients
  apps/onboarding-ms/src/main/resources/application.properties
Labels: onboarding-ms

#559 Merge back from hotfix send user fd notification
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/dto/NotificationUserToSend.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/dto/NotificationUserType.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/dto/QueueUserEvent.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/dto/UserToNotify.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/functions/OnboardingFunctions.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/service/NotificationEventServiceDefault.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/utils/CustomMetricsConst.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/utils/FdNotificationBuilder.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/utils/NotificationUserBuilder.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/utils/NotificationUserBuilderFactory.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/utils/SapNotificationBuilder.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/utils/StandardNotificationBuilder.java
  apps/onboarding-functions/src/main/openapi/user.json
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/functions/OnboardingFunctionsTest.java
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/service/NotificationEventResenderServiceDefaultTest.java
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/service/NotificationEventServiceDefaultTest.java
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/utils/FdNotificationBuilderTest.java
Labels: functions

#558 [SELC-5761] feat: changed check-manager api to control if manager is active on selfcare-user
  apps/onboarding-ms/src/main/docs/openapi.json
  apps/onboarding-ms/src/main/docs/openapi.yaml
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/controller/OnboardingController.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/entity/CheckManagerResponse.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/service/OnboardingService.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/service/OnboardingServiceDefault.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/util/QueryUtils.java
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/controller/OnboardingControllerTest.java
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/service/OnboardingServiceDefaultTest.java
Labels: onboarding-ms

#560 [PNPG-244] refactor: renamed api path to perform onboarding of users for pg
  apps/onboarding-ms/src/main/docs/openapi.json
  apps/onboarding-ms/src/main/docs/openapi.yaml
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/controller/OnboardingController.java
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/controller/OnboardingControllerTest.java
Labels: onboarding-ms

#556 [SELC-5798] feat: modify NAMIRIAL URL from test to container app
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/config/OnboardingFunctionConfig.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/config/PagoPaSignatureConfig.java
  apps/onboarding-functions/src/main/resources/application.properties
  infra/functions/onboarding-functions/env/dev/terraform.tfvars
  infra/functions/onboarding-functions/env/prod/terraform.tfvars
  infra/functions/onboarding-functions/env/uat/terraform.tfvars
  libs/onboarding-sdk-crypto/src/main/java/it/pagopa/selfcare/onboarding/crypto/NamiralSignServiceImpl.java
  libs/onboarding-sdk-crypto/src/main/java/it/pagopa/selfcare/onboarding/crypto/client/NamirialHttpClient.java
Labels: functions, ops, libs

#563 [SELC-5860] feat: add productLabel to ProductRoleInfo on SDK, version 0.3.4
  apps/onboarding-functions/pom.xml
  apps/onboarding-ms/pom.xml
  apps/pom.xml
  libs/onboarding-sdk-azure-storage/pom.xml
  libs/onboarding-sdk-common/pom.xml
  libs/onboarding-sdk-crypto/pom.xml
  libs/onboarding-sdk-pom/pom.xml
  libs/onboarding-sdk-product/pom.xml
  libs/onboarding-sdk-product/src/main/java/it/pagopa/selfcare/product/entity/ProductRole.java
  libs/onboarding-sdk-product/src/test/java/it/pagopa/selfcare/product/service/ProductServiceDefaultTest.java
  test-coverage/pom.xml
Labels: functions, onboarding-ms, libs

#562 [SELC-5786] feat: set admin aggregate's role to ADMIN_EA
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/mapper/OnboardingMapper.java
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/OnboardingMapperTest.java
Labels: functions

#564 [SELC-5789] feat: add USERS_EA WorkflowType and upgrade sdk version to 0.3.5
  README.md
  apps/onboarding-cdc/src/main/openapi/onboarding_functions.json
  apps/onboarding-functions/pom.xml
  apps/onboarding-ms/pom.xml
  apps/pom.xml
  libs/onboarding-sdk-azure-storage/pom.xml
  libs/onboarding-sdk-common/pom.xml
  libs/onboarding-sdk-common/src/main/java/it/pagopa/selfcare/onboarding/common/WorkflowType.java
  libs/onboarding-sdk-crypto/pom.xml
  libs/onboarding-sdk-pom/pom.xml
  libs/onboarding-sdk-product/pom.xml
  test-coverage/pom.xml
Labels: functions, docs, onboarding-ms, libs

#567 [SELC - 5817] feat: Added providerNames, contractType, contractId to PSPs' PaymentS…
  apps/onboarding-ms/src/main/docs/openapi.json
  apps/onboarding-ms/src/main/docs/openapi.yaml
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/controller/request/PaymentServiceProviderRequest.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/entity/PaymentServiceProvider.java
Labels: onboarding-ms

#565 [SELC-5850] Adding more field to institution for update api
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/entity/Onboarding.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/util/QueryUtils.java
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/util/QueryUtilsTest.java
Labels: onboarding-ms, hotfix

#568 [SELC-5853] Adding send user notification from onboarding for prod-fd* products
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/service/NotificationEventServiceDefault.java
Labels: functions

#566 [SELC-5824] feat: Added parent description for AOO and UO aggregate
  apps/onboarding-ms/src/main/docs/openapi.json
  apps/onboarding-ms/src/main/docs/openapi.yaml
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/controller/request/AggregateInstitutionRequest.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/entity/AggregateInstitution.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/model/Aggregate.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/service/AggregatesServiceDefault.java
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/controller/OnboardingControllerTest.java
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/service/AggregatesServiceDefaultTest.java
Labels: onboarding-ms

#571 [SELC-5851] Adding acknowledgment to openapi onboarding fn
  apps/onboarding-functions/src/main/openapi/openapi.json
Labels: functions, hotfix

#570 [SELC-5865] Feat: Added InstitutionFromRootName in getDelegationRequest
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/service/CompletionServiceDefault.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/utils/BaseNotificationBuilder.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/utils/SapNotificationBuilder.java
  apps/onboarding-functions/src/main/openapi/core.json
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/service/CompletionServiceDefaultTest.java
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/utils/FdNotificationBuilderTest.java
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/utils/NotificationBuilderTestUtil.java
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/utils/SapNotificationBuilderTest.java
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/utils/StandardNotificationBuilderTest.java
Labels: functions

#561 [SELC-5806] feat: Refactored class Product
  apps/onboarding-functions/pom.xml
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/entity/OnboardingWorkflow.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/entity/OnboardingWorkflowAggregator.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/entity/OnboardingWorkflowInstitution.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/entity/OnboardingWorkflowUser.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/service/OnboardingService.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/utils/InstitutionUtils.java
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/service/CompletionServiceDefaultTest.java
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/service/OnboardingServiceTest.java
  apps/onboarding-ms/pom.xml
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/service/OnboardingServiceDefault.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/util/InstitutionUtils.java
  apps/pom.xml
  libs/onboarding-sdk-azure-storage/pom.xml
  libs/onboarding-sdk-common/pom.xml
  libs/onboarding-sdk-crypto/pom.xml
  libs/onboarding-sdk-pom/pom.xml
  libs/onboarding-sdk-product/pom.xml
  libs/onboarding-sdk-product/src/main/java/it/pagopa/selfcare/product/entity/ContractStorage.java
  libs/onboarding-sdk-product/src/main/java/it/pagopa/selfcare/product/entity/ContractTemplate.java
  libs/onboarding-sdk-product/src/main/java/it/pagopa/selfcare/product/entity/Product.java
  libs/onboarding-sdk-product/src/main/java/it/pagopa/selfcare/product/service/ProductService.java
  libs/onboarding-sdk-product/src/main/java/it/pagopa/selfcare/product/service/ProductServiceCacheable.java
  libs/onboarding-sdk-product/src/main/java/it/pagopa/selfcare/product/service/ProductServiceDefault.java
  libs/onboarding-sdk-product/src/test/java/it/pagopa/selfcare/product/entity/ProductTest.java
  libs/onboarding-sdk-product/src/test/java/it/pagopa/selfcare/product/service/ProductServiceCacheableTest.java
  libs/onboarding-sdk-product/src/test/resources/product.json
  test-coverage/pom.xml
Labels: functions, onboarding-ms, libs

#575 Removed invocation to REJECTED_OUTDATED_ONBOARDINGS fn
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/workflow/WorkflowExecutor.java
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/functions/OnboardingFunctionsTest.java
Labels: functions

#569 [SELC-5804] feat: added api to import a psp
  apps/onboarding-ms/src/main/docs/openapi.json
  apps/onboarding-ms/src/main/docs/openapi.yaml
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/controller/OnboardingController.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/controller/request/OnboardingImportContract.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/controller/request/OnboardingImportPspRequest.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/controller/request/PaymentServiceProviderRequest.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/mapper/OnboardingMapper.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/service/OnboardingServiceDefault.java
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/controller/OnboardingControllerTest.java
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/service/OnboardingServiceDefaultTest.java
Labels: onboarding-ms

#577 [SELC-5804] fix: Removed required field filename for import psp
  apps/onboarding-ms/src/main/docs/openapi.json
  apps/onboarding-ms/src/main/docs/openapi.yaml
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/controller/request/OnboardingImportContract.java
Labels: onboarding-ms

#578 chore: added comments for send mail users fn
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/client/auth/AuthenticationPropagationHeadersFactory.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/service/CompletionServiceDefault.java
Labels: functions

#579 [SELC-5873] feat: add new function to retrieve all aggregates related to an aggregator
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/functions/OnboardingFunctions.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/functions/utils/ActivityName.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/service/CompletionService.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/service/CompletionServiceDefault.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/utils/Utils.java
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/functions/OnboardingFunctionsTest.java
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/service/CompletionServiceDefaultTest.java
Labels: functions

#582 [SELC-5897] feat: Added fields for payment service provider
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/entity/PaymentServiceProvider.java
Labels: functions

#583 [SELC-5788] feat: add new API onboardingUsersAggregator
  apps/onboarding-ms/src/main/docs/openapi.json
  apps/onboarding-ms/src/main/docs/openapi.yaml
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/controller/OnboardingController.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/mapper/OnboardingMapper.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/service/OnboardingService.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/service/OnboardingServiceDefault.java
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/controller/OnboardingControllerTest.java
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/service/OnboardingServiceDefaultTest.java
Labels: onboarding-ms

#581 [SELC-5509] feat: Terraform Configuration to Deploy Container for Namirial Signature
  .github/workflows/release_namirial_sign.yml
  infra/container_apps/namirial-sign/.terraform.lock.hcl
  infra/container_apps/namirial-sign/container_group.tf
  infra/container_apps/namirial-sign/custom.properties
  infra/container_apps/namirial-sign/data.tf
  infra/container_apps/namirial-sign/env/dev/backend.ini
  infra/container_apps/namirial-sign/env/dev/backend.tfvars
  infra/container_apps/namirial-sign/env/dev/terraform.tfvars
  infra/container_apps/namirial-sign/env/prod/backend.ini
  infra/container_apps/namirial-sign/env/prod/backend.tfvars
  infra/container_apps/namirial-sign/env/prod/terraform.tfvars
  infra/container_apps/namirial-sign/env/uat/backend.ini
  infra/container_apps/namirial-sign/env/uat/backend.tfvars
  infra/container_apps/namirial-sign/env/uat/terraform.tfvars
  infra/container_apps/namirial-sign/locals.tf
  infra/container_apps/namirial-sign/main.tf
  infra/container_apps/namirial-sign/storage.tf
  infra/container_apps/namirial-sign/terraform.sh
  infra/container_apps/namirial-sign/variables.tf
Labels: ops

#584 [SELC-5509] chore: enable Namirial SWS Container on UAT and PROD
  infra/container_apps/namirial-sign/container_group.tf
  infra/container_apps/namirial-sign/env/dev/terraform.tfvars
  infra/container_apps/namirial-sign/env/prod/terraform.tfvars
  infra/container_apps/namirial-sign/env/uat/terraform.tfvars
  infra/container_apps/namirial-sign/variables.tf
Labels: ops

#585 Remove keep-alive from resteasy
  apps/onboarding-functions/src/main/resources/application.properties
Labels: functions

#586 [SEL-5902] Update institution reqiurements migrating from enum to string
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/utils/BaseNotificationBuilder.java
Labels: functions
