Repository pagopa/selfcare-onboarding, pull requests merged in 2024-04, with the labels that each got.

#215 [SELC - 4626] feat: Leave empty space in the mapper in case taxCode and vatNumber a…
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/utils/PdfMapper.java
Labels: functions, onboarding-ms

#214 chore: Workload profiles migration PNPG
  infra/container_apps/onboarding-ms/container_app.tf
  infra/container_apps/onboarding-ms/env/dev-pnpg/terraform.tfvars
  infra/container_apps/onboarding-ms/env/prod-pnpg/terraform.tfvars
  infra/container_apps/onboarding-ms/env/uat-pnpg/terraform.tfvars
  infra/container_apps/onboarding-ms/env/uat/terraform.tfvars
  infra/container_apps/onboarding-ms/variables.tf
  infra/functions/onboarding-functions/env/dev-pnpg/terraform.tfvars
  infra/functions/onboarding-functions/env/uat-pnpg/terraform.tfvars
  infra/functions/onboarding-functions/env/uat/terraform.tfvars
Labels: ops

#216 [SELC - 4623] feat: removed NotEmpty annotation for taxCode and vatNumber for AS on…
  apps/onboarding-ms/src/main/docs/openapi.json
  apps/onboarding-ms/src/main/docs/openapi.yaml
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/controller/request/BillingRequest.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/controller/request/InstitutionBaseRequest.java
Labels: onboarding-ms

#219 [SELC-4523] feat: Hub-Spid-Login migration to Container App Env
  .github/workflows/release_hub_spid.yml
  infra/container_apps/hub_spid_login/.terraform.lock.hcl
  infra/container_apps/hub_spid_login/container_app.tf
  infra/container_apps/hub_spid_login/env/dev-pnpg/backend.ini
  infra/container_apps/hub_spid_login/env/dev-pnpg/backend.tfvars
  infra/container_apps/hub_spid_login/env/dev-pnpg/terraform.tfvars
  infra/container_apps/hub_spid_login/env/dev/backend.ini
  infra/container_apps/hub_spid_login/env/dev/backend.tfvars
  infra/container_apps/hub_spid_login/env/dev/terraform.tfvars
  infra/container_apps/hub_spid_login/env/prod-pnpg/backend.ini
  infra/container_apps/hub_spid_login/env/prod-pnpg/backend.tfvars
  infra/container_apps/hub_spid_login/env/prod-pnpg/terraform.tfvars
  infra/container_apps/hub_spid_login/env/prod/backend.ini
  infra/container_apps/hub_spid_login/env/prod/backend.tfvars
  infra/container_apps/hub_spid_login/env/prod/terraform.tfvars
  infra/container_apps/hub_spid_login/env/uat-pnpg/backend.ini
  infra/container_apps/hub_spid_login/env/uat-pnpg/backend.tfvars
  infra/container_apps/hub_spid_login/env/uat-pnpg/terraform.tfvars
  infra/container_apps/hub_spid_login/env/uat/backend.ini
  infra/container_apps/hub_spid_login/env/uat/backend.tfvars
  infra/container_apps/hub_spid_login/env/uat/terraform.tfvars
  infra/container_apps/hub_spid_login/main.tf
  infra/container_apps/hub_spid_login/terraform.sh
  infra/container_apps/hub_spid_login/variables.tf
  infra/functions/onboarding-functions/functions.tf
Labels: ops

#220 [SELC-4186] fix: update user open api and added prefix to user email identifier for pdv
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/service/CompletionServiceDefault.java
  apps/onboarding-functions/src/main/openapi/user.json
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/service/OnboardingServiceDefault.java
Labels: functions, onboarding-ms

#221 [SELC-4691] feat: added prefix for email uuid into pdv model
  apps/onboarding-ms/src/main/docs/openapi.json
  apps/onboarding-ms/src/main/docs/openapi.yaml
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/service/OnboardingServiceDefault.java
Labels: onboarding-ms

#222 chore: Migration to Container App module with name and workload_profile empty
  infra/container_apps/hub_spid_login/container_app.tf
  infra/container_apps/hub_spid_login/env/prod-pnpg/terraform.tfvars
  infra/container_apps/hub_spid_login/env/prod/terraform.tfvars
  infra/container_apps/hub_spid_login/env/uat-pnpg/terraform.tfvars
  infra/container_apps/hub_spid_login/env/uat/terraform.tfvars
  infra/container_apps/hub_spid_login/locals.tf
  infra/container_apps/hub_spid_login/variables.tf
  infra/container_apps/onboarding-ms/container_app.tf
  infra/container_apps/onboarding-ms/env/dev-pnpg/terraform.tfvars
  infra/container_apps/onboarding-ms/env/dev/terraform.tfvars
  infra/container_apps/onboarding-ms/env/prod-pnpg/terraform.tfvars
  infra/container_apps/onboarding-ms/env/prod/terraform.tfvars
  infra/container_apps/onboarding-ms/env/uat-pnpg/terraform.tfvars
  infra/container_apps/onboarding-ms/env/uat/terraform.tfvars
  infra/container_apps/onboarding-ms/locals.tf
  infra/container_apps/onboarding-ms/variables.tf
  infra/functions/onboarding-functions/env/dev-pnpg/terraform.tfvars
  infra/functions/onboarding-functions/env/dev/terraform.tfvars
  infra/functions/onboarding-functions/env/prod-pnpg/terraform.tfvars
  infra/functions/onboarding-functions/env/prod/terraform.tfvars
Labels: ops

#223 chore: Migration uat using terraform ca module with suffix
  infra/container_apps/hub_spid_login/container_app.tf
  infra/container_apps/hub_spid_login/env/uat-pnpg/terraform.tfvars
  infra/container_apps/hub_spid_login/env/uat/terraform.tfvars
  infra/container_apps/hub_spid_login/locals.tf
  infra/container_apps/hub_spid_login/variables.tf
  infra/container_apps/onboarding-ms/container_app.tf
  infra/container_apps/onboarding-ms/env/uat-pnpg/terraform.tfvars
  infra/container_apps/onboarding-ms/env/uat/terraform.tfvars
  infra/container_apps/onboarding-ms/locals.tf
  infra/container_apps/onboarding-ms/variables.tf
  infra/functions/onboarding-functions/env/uat-pnpg/terraform.tfvars
  infra/functions/onboarding-functions/env/uat/terraform.tfvars
Labels: ops

#224 [SELC-4697] feat: added feature flag for persist user function
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/service/CompletionServiceDefault.java
  apps/onboarding-functions/src/main/resources/application.properties
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/service/CompletionServiceDefaultTest.java
Labels: functions

#225 chore: USER_MS_ACTIVE true in DEV
  infra/functions/onboarding-functions/env/dev-pnpg/terraform.tfvars
  infra/functions/onboarding-functions/env/dev/terraform.tfvars
Labels: ops

#228 fix: added prod-io-sign in ONBOARDING_ALLOWED_INSTITUTIONS_PRODUCTS
  infra/container_apps/onboarding-ms/env/prod/terraform.tfvars
Labels: ops

#226 fix: added prod-io-sign in ONBOARDING_ALLOWED_INSTITUTIONS_PRODUCTS
  infra/container_apps/onboarding-ms/env/prod/terraform.tfvars
Labels: ops, hotfix

#229 fix: added prod-io-sign in ONBOARDING_ALLOWED_INSTITUTIONS_PRODUCTS UAT
  infra/container_apps/onboarding-ms/env/uat/terraform.tfvars
Labels: ops

#227 fix: added prod-io-sign in ONBOARDING_ALLOWED_INSTITUTIONS_PRODUCTS
  infra/container_apps/onboarding-ms/env/prod/terraform.tfvars
  infra/container_apps/onboarding-ms/env/uat/terraform.tfvars
Labels: ops, hotfix

#232 hotfix: USER_MS uat and prod url
  infra/functions/onboarding-functions/env/prod-pnpg/terraform.tfvars
  infra/functions/onboarding-functions/env/prod/terraform.tfvars
  infra/functions/onboarding-functions/env/uat/terraform.tfvars
Labels: ops, hotfix

#233 [SELC-4709] feat: added originId in DTO and Entity
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/controller/request/InstitutionBaseRequest.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/entity/Institution.java
Labels: onboarding-ms

#234 [SELC-4709] fix: updated openapi
  apps/onboarding-ms/src/main/docs/openapi.json
  apps/onboarding-ms/src/main/docs/openapi.yaml
Labels: onboarding-ms

#236 SELC-4709 fix: added originId in Institution in onboarding-functions
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/entity/Institution.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/utils/PdfMapper.java
Labels: functions

#241 SELC-4474 feat: removed NotNull from billing object in OnboardingDefaultRequest and updated openapi
  apps/onboarding-ms/src/main/docs/openapi.json
  apps/onboarding-ms/src/main/docs/openapi.yaml
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/controller/request/OnboardingDefaultRequest.java
Labels: onboarding-ms

#239 [SELC-4686] feat: modified verifyOnboarding invocation calling new API
  apps/onboarding-ms/src/main/docs/openapi.json
  apps/onboarding-ms/src/main/docs/openapi.yaml
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/service/OnboardingServiceDefault.java
  apps/onboarding-ms/src/main/openapi/core.json
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/service/OnboardingServiceDefaultTest.java
Labels: onboarding-ms

#235 [SELC - 4628] feat: added API to retrieve institution's onboardings
  apps/onboarding-ms/src/main/docs/openapi.json
  apps/onboarding-ms/src/main/docs/openapi.yaml
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/controller/OnboardingController.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/service/OnboardingService.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/service/OnboardingServiceDefault.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/util/QueryUtils.java
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/controller/OnboardingControllerTest.java
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/service/OnboardingServiceDefaultTest.java
Labels: onboarding-ms

#240 [SELC-4719] feat: Modified invocation to getInstitutions API to work with origin and originId when taxCode is not present
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/service/CompletionServiceDefault.java
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/service/CompletionServiceDefaultTest.java
Labels: functions

#242 SELC-4686 fix: changed check on taxCode null in getInstitutions method
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/service/CompletionServiceDefault.java
Labels: functions

#245 [SELC-4472] fix: Update field extCountry for italian institution
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/utils/PdfMapper.java
Labels: functions

#248 hotfix: add try-catch when CreateUsers
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/service/CompletionServiceDefault.java
Labels: functions, hotfix

#249 [SELC - 4576] fix: removed @NotEmpty annotation to billingPaRequest.vatNumber
  apps/onboarding-ms/src/main/docs/openapi.json
  apps/onboarding-ms/src/main/docs/openapi.yaml
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/controller/request/BillingPaRequest.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/controller/request/OnboardingPaRequest.java
Labels: onboarding-ms

#247 chore: USER_MS_ACTIVE prod to true
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/service/CompletionServiceDefault.java
  infra/container_apps/hub_spid_login/container_app.tf
  infra/container_apps/onboarding-ms/container_app.tf
  infra/functions/onboarding-functions/env/prod-pnpg/terraform.tfvars
  infra/functions/onboarding-functions/env/prod/terraform.tfvars
Labels: functions, ops

#250 hotfix: set Container app env prod url for core and proxy
  infra/container_apps/onboarding-ms/container_app.tf
  infra/container_apps/onboarding-ms/env/prod-pnpg/terraform.tfvars
  infra/container_apps/onboarding-ms/env/prod/terraform.tfvars
  infra/functions/onboarding-functions/env/prod-pnpg/terraform.tfvars
  infra/functions/onboarding-functions/env/prod/terraform.tfvars
Labels: ops, hotfix

#251 hotfix: set Container app env prod url for core and proxy (#250)
  infra/container_apps/onboarding-ms/env/prod-pnpg/terraform.tfvars
  infra/container_apps/onboarding-ms/env/prod/terraform.tfvars
  infra/functions/onboarding-functions/env/prod/terraform.tfvars
Labels: ops
