Repository pagopa/selfcare-onboarding, pull requests merged in 2024-02, with the labels that each got.

#135 [EC-114] Update terraform.sh to execute init before any other command
  infra/container_apps/onboarding-ms/terraform.sh
  infra/functions/onboarding-functions/terraform.sh
  infra/mongo/terraform.sh
Labels: ops

#136 refactor: remove userid from onboarding request
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/controller/OnboardingController.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/controller/request/OnboardingBaseRequest.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/controller/request/OnboardingPgRequest.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/entity/Product.java
Labels: onboarding-ms

#138 [SELC-3832] feat: add new InstitutionType REC CON
  libs/onboarding-sdk-azure-storage/pom.xml
  libs/onboarding-sdk-common/pom.xml
  libs/onboarding-sdk-common/src/main/java/it/pagopa/selfcare/onboarding/common/InstitutionType.java
  libs/onboarding-sdk-crypto/pom.xml
  libs/onboarding-sdk-pom/pom.xml
  libs/onboarding-sdk-product/pom.xml
  test-coverage/pom.xml
Labels: libs

#139 [SELC-3832] feat: update openapi and using upgrade sdk version
  apps/onboarding-functions/pom.xml
  apps/onboarding-functions/src/main/openapi/core.json
  apps/onboarding-ms/pom.xml
  apps/onboarding-ms/src/main/openapi/core.json
Labels: functions, onboarding-ms

#140 ops: increase core client timeout
  apps/onboarding-functions/src/main/resources/application.properties
Labels: functions

#141 [SELC-4016] feat: consume onboarding endpoint
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/controller/OnboardingController.java
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/controller/OnboardingControllerTest.java
Labels: onboarding-ms

#143 [SELC-4041] feat: product config for having test environment
  libs/onboarding-sdk-azure-storage/pom.xml
  libs/onboarding-sdk-common/pom.xml
  libs/onboarding-sdk-crypto/pom.xml
  libs/onboarding-sdk-pom/pom.xml
  libs/onboarding-sdk-product/pom.xml
  libs/onboarding-sdk-product/src/main/java/it/pagopa/selfcare/product/entity/Product.java
  test-coverage/pom.xml
Labels: libs

#144 [SELC-4041] feat: onboarding test environment products configured by testEnvProductIds
  apps/onboarding-functions/pom.xml
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/entity/Onboarding.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/functions/OnboardingFunctions.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/functions/utils/ActivityName.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/workflow/WorkflowExecutor.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/workflow/WorkflowExecutorConfirmation.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/workflow/WorkflowExecutorContractRegistration.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/workflow/WorkflowExecutorForApprove.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/workflow/WorkflowExecutorForApprovePt.java
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/functions/OnboardingFunctionsTest.java
  apps/onboarding-ms/pom.xml
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/entity/Onboarding.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/service/OnboardingServiceDefault.java
Labels: functions, onboarding-ms

#145 [SELC-3991] feat: add prod-sendino in ONBOARDING_ALLOWED_INSTITUTIONS_PRODUCTS in prod
  infra/container_apps/onboarding-ms/env/prod/terraform.tfvars
Labels: ops

#146 [EC-116] Add permission on pnpg keyvault to managed identity
  .identity/data.tf
  .identity/github_branch_rules.tf
  .identity/github_managed_identity_ci.tf
Labels: ops

#147 [EC-161] Fix onboarding release trigger
  .github/workflows/pr_libs.yml
  .github/workflows/release_onboarding_sdk.yml
Labels: ops

#148 [EC-116] ops: release PNPG ms and functions
  .github/workflows/release_pnpg_functions.yml
  .github/workflows/release_pnpg_ms.yml
Labels: ops

#149 [SELC-4079] feat: added upperCase method to recipientCode field into OnboardingMapper
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/mapper/OnboardingMapper.java
Labels: onboarding-ms

#151 fix: retrieve pagopa logo optionally when sending mail confirmation or rejection
  .github/workflows/release_ms.yml
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/config/MailTemplatePlaceholdersConfig.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/service/CompletionServiceDefault.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/service/ContractService.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/service/ContractServiceDefault.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/service/NotificationService.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/service/NotificationServiceDefault.java
  apps/onboarding-functions/src/main/resources/application.properties
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/service/CompletionServiceDefaultTest.java
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/service/ContractServiceDefaultTest.java
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/service/NotificationServiceDefaultTest.java
  infra/functions/onboarding-functions/env/dev-pnpg/terraform.tfvars
  infra/functions/onboarding-functions/env/prod-pnpg/terraform.tfvars
  infra/functions/onboarding-functions/env/uat-pnpg/terraform.tfvars
Labels: functions, ops

#152 ops: remove mongo lock onboardings
  infra/mongo/mongo_db.tf
Labels: ops

#154 fix: remove mail validation on PG request
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/controller/request/OnboardingPgRequest.java
Labels: onboarding-ms

#155 fix: USER_REGISTRY_URL dev value
  infra/container_apps/onboarding-ms/env/dev/terraform.tfvars
Labels: ops

#156 [SELC-4182] feat: mail stored in PDV workContract as UUID
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/entity/User.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/service/CompletionServiceDefault.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/utils/PdfMapper.java
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/service/CompletionServiceDefaultTest.java
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/service/ContractServiceDefaultTest.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/entity/User.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/mapper/UserMapper.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/service/OnboardingServiceDefault.java
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/service/OnboardingServiceDefaultTest.java
Labels: functions, onboarding-ms

#157 [SELC-4086] feat: Added properties into OnboardingGet object
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/controller/response/InstitutionResponse.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/controller/response/OnboardingGet.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/entity/Institution.java
Labels: onboarding-ms

#158 ops: disable automation pipeline for prod environment
  .github/workflows/release_functions.yml
  .github/workflows/release_ms.yml
  .github/workflows/release_pnpg_functions.yml
  .github/workflows/release_pnpg_ms.yml
Labels: ops

#160 hotfix: enable ssl for sending mail using aruba server
  apps/onboarding-functions/src/main/resources/application.properties
  infra/functions/onboarding-functions/env/dev-pnpg/terraform.tfvars
  infra/functions/onboarding-functions/env/dev/terraform.tfvars
  infra/functions/onboarding-functions/env/prod-pnpg/terraform.tfvars
  infra/functions/onboarding-functions/env/prod/terraform.tfvars
  infra/functions/onboarding-functions/env/uat-pnpg/terraform.tfvars
  infra/functions/onboarding-functions/env/uat/terraform.tfvars
Labels: functions, ops, hotfix

#161 hotfix: added env for enable ssl for sending mail
  apps/onboarding-functions/src/main/resources/application.properties
  infra/functions/onboarding-functions/env/dev-pnpg/terraform.tfvars
  infra/functions/onboarding-functions/env/dev/terraform.tfvars
  infra/functions/onboarding-functions/env/prod-pnpg/terraform.tfvars
  infra/functions/onboarding-functions/env/prod/terraform.tfvars
  infra/functions/onboarding-functions/env/uat-pnpg/terraform.tfvars
  infra/functions/onboarding-functions/env/uat/terraform.tfvars
Labels: functions, ops, hotfix

#162 [EC-113] Add repository settings as Terraform configuration
  .github/workflows/call_code_review_infra.yml
  .github/workflows/call_release_function.yml
  .github/workflows/call_release_infra.yml
  .github/workflows/call_release_ms.yml
  .identity/.terraform.lock.hcl
  .identity/data.tf
  .identity/env/dev/backend.ini
  .identity/env/dev/backend.tfvars
  .identity/env/dev/terraform.tfvars
  .identity/env/prod/backend.ini
  .identity/env/prod/terraform.tfvars
  .identity/env/uat/backend.ini
  .identity/env/uat/backend.tfvars
  .identity/env/uat/terraform.tfvars
  .identity/github_branch_rules.tf
  .identity/github_environment_cd.tf
  .identity/github_environment_ci.tf
  .identity/github_managed_identity_cd.tf
  .identity/github_managed_identity_ci.tf
  .identity/github_repo_secrets.tf
  .identity/github_repo_variables.tf
  .identity/locals.tf
  .identity/main.tf
  .identity/outputs.tf
  .identity/terraform.sh
  .identity/variables.tf
  infra/repository/.terraform.lock.hcl
  infra/repository/README.md
  infra/repository/backend.tfvars
  infra/repository/main.tf
Labels: ops

#163 [CP] Rename GitHub secrets and variables
  .github/workflows/call_code_review_infra.yml
  .github/workflows/call_release_function.yml
  .github/workflows/call_release_infra.yml
  .github/workflows/call_release_ms.yml
  .identity/locals.tf
Labels: ops, hotfix

#164 [SELC-3555] ops: added indexes createdAt
  infra/container_apps/onboarding-ms/env/prod/terraform.tfvars
  infra/container_apps/onboarding-ms/env/uat/terraform.tfvars
  infra/mongo/mongo_db.tf
Labels: ops

#167 [SELC-4248] feat: added new WorkflowType and increased version of pom for common-sdk
  libs/onboarding-sdk-azure-storage/pom.xml
  libs/onboarding-sdk-common/pom.xml
  libs/onboarding-sdk-common/src/main/java/it/pagopa/selfcare/onboarding/common/WorkflowType.java
  libs/onboarding-sdk-crypto/pom.xml
  libs/onboarding-sdk-pom/pom.xml
  libs/onboarding-sdk-product/pom.xml
Labels: libs

#168 fix: aks url uat and prod
  infra/container_apps/onboarding-ms/env/prod-pnpg/terraform.tfvars
  infra/container_apps/onboarding-ms/env/uat-pnpg/terraform.tfvars
Labels: ops, hotfix

#170 fix: return http code 409 when already onboarded
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/exception/ResourceConflictException.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/exception/handler/ExceptionHandler.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/service/OnboardingServiceDefault.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/util/GenericError.java
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/service/OnboardingServiceDefaultTest.java
Labels: onboarding-ms

#171 [SELC-3982] fix: update field createdAt to LocalDateTime in ImportedContract
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/controller/request/OnboardingImportContract.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/service/OnboardingServiceDefault.java
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/service/OnboardingServiceDefaultTest.java
Labels: onboarding-ms

#174 cherry-pick releases 0.0.3
  apps/onboarding-functions/src/main/resources/application.properties
  infra/container_apps/onboarding-ms/env/prod-pnpg/terraform.tfvars
  infra/container_apps/onboarding-ms/env/uat-pnpg/terraform.tfvars
  infra/functions/onboarding-functions/env/dev-pnpg/terraform.tfvars
  infra/functions/onboarding-functions/env/dev/terraform.tfvars
  infra/functions/onboarding-functions/env/prod-pnpg/terraform.tfvars
  infra/functions/onboarding-functions/env/prod/terraform.tfvars
  infra/functions/onboarding-functions/env/uat-pnpg/terraform.tfvars
  infra/functions/onboarding-functions/env/uat/terraform.tfvars
Labels: functions, ops

#175 ops: pipeline release infra PNPG
  .github/workflows/release_functions_pnpg_infra.yml
  apps/onboarding-functions/src/main/resources/application.properties
  infra/functions/onboarding-functions/env/dev-pnpg/terraform.tfvars
  infra/functions/onboarding-functions/env/dev/terraform.tfvars
Labels: functions, ops

#176 fix: save updateAt when workflow executed
  .github/workflows/create_release_branch.yml
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/service/CompletionServiceDefault.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/service/OnboardingService.java
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/service/CompletionServiceDefaultTest.java
  infra/functions/onboarding-functions/env/prod-pnpg/terraform.tfvars
  infra/functions/onboarding-functions/env/uat-pnpg/terraform.tfvars
Labels: functions, ops, hotfix

#177 [SELC-4228] fix: add institutionType in createInstitution from IPA
  apps/onboarding-functions/README.md
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/service/CompletionServiceDefault.java
  apps/onboarding-functions/src/main/openapi/core.json
Labels: functions

#178 fix: mongodb client at startup
  .github/workflows/pr_functions.yml
  .github/workflows/pr_ms.yml
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/conf/OnboardingMsConfig.java
  infra/container_apps/onboarding-ms/env/uat/terraform.tfvars
Labels: ops, onboarding-ms, hotfix

#179 fix: return conflict if parent has an onboarding
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/service/OnboardingServiceDefault.java
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/service/OnboardingServiceDefaultTest.java
Labels: onboarding-ms, hotfix

#180 ops: decrease pdv client timeout
  .github/workflows/create_release_branch.yml
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/config/OnboardingFunctionConfig.java
  apps/onboarding-functions/src/main/resources/application.properties
Labels: functions, ops, hotfix

#181 fix: mapping using BsonProperty for institutionId
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/entity/Institution.java
Labels: onboarding-ms, hotfix

#183 fix: return Problem entity as body on Signature failure
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/exception/handler/ExceptionHandler.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/exception/model/Problem.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/exception/model/ProblemError.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/service/OnboardingServiceDefault.java
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/exception/handler/ExceptionHandlerTest.java
Labels: onboarding-ms, hotfix

#184 ops: enable release feat branch on uat
  .github/workflows/release_container_apps_infra.yml
  .github/workflows/release_container_apps_pnpg_infra.yml
  .github/workflows/release_functions_infra.yml
  .github/workflows/release_functions_pnpg_infra.yml
  .github/workflows/release_mongo_infra.yml
  .github/workflows/release_mongo_pnpg_infra.yml
  apps/onboarding-ms/src/main/resources/application.properties
Labels: ops, onboarding-ms

#186 [SELC-4158] feat: adding logging customizing http request-response
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/controller/OnboardingController.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/filter/CustomClientRequestLoggingFilter.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/filter/CustomClientResponseLoggingFilter.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/filter/CustomLoggingFilter.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/service/OnboardingServiceDefault.java
  apps/onboarding-ms/src/main/resources/application.properties
  test-coverage/pom.xml
Labels: onboarding-ms, hotfix

#187 fix: orchestration sync return internal server error
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/functions/OnboardingFunctions.java
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/functions/OnboardingFunctionsTest.java
  infra/functions/onboarding-functions/env/prod-pnpg/terraform.tfvars
Labels: functions, ops, hotfix

#188 ops: enable send real mail
  infra/functions/onboarding-functions/env/prod-pnpg/terraform.tfvars
  infra/functions/onboarding-functions/env/prod/terraform.tfvars
Labels: ops, hotfix

#189 cherry-pick release 0.0.4
  .github/workflows/create_release_branch.yml
  .github/workflows/pr_functions.yml
  .github/workflows/pr_ms.yml
  apps/onboarding-functions/README.md
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/config/OnboardingFunctionConfig.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/functions/OnboardingFunctions.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/service/CompletionServiceDefault.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/service/OnboardingService.java
  apps/onboarding-functions/src/main/openapi/core.json
  apps/onboarding-functions/src/main/resources/application.properties
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/functions/OnboardingFunctionsTest.java
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/service/CompletionServiceDefaultTest.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/conf/OnboardingMsConfig.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/controller/OnboardingController.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/entity/Institution.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/exception/handler/ExceptionHandler.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/exception/model/Problem.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/exception/model/ProblemError.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/filter/CustomClientRequestLoggingFilter.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/filter/CustomClientResponseLoggingFilter.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/filter/CustomLoggingFilter.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/service/OnboardingServiceDefault.java
  apps/onboarding-ms/src/main/resources/application.properties
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/exception/handler/ExceptionHandlerTest.java
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/service/OnboardingServiceDefaultTest.java
  infra/container_apps/onboarding-ms/env/prod-pnpg/terraform.tfvars
  infra/container_apps/onboarding-ms/env/prod/terraform.tfvars
  infra/container_apps/onboarding-ms/env/uat/terraform.tfvars
  infra/functions/onboarding-functions/env/prod-pnpg/terraform.tfvars
  infra/functions/onboarding-functions/env/prod/terraform.tfvars
  infra/functions/onboarding-functions/env/uat-pnpg/terraform.tfvars
  infra/functions/onboarding-functions/env/uat/terraform.tfvars
  infra/functions/onboarding-functions/functions.tf
  infra/mongo/env/prod-pnpg/backend.ini
  infra/mongo/env/prod-pnpg/backend.tfvars
  infra/mongo/env/prod-pnpg/terraform.tfvars
  infra/mongo/env/prod/backend.ini
  infra/mongo/env/prod/backend.tfvars
  infra/mongo/env/prod/terraform.tfvars
  test-coverage/pom.xml
Labels: functions, ops, onboarding-ms

#190 fix: set sign service based on pagopa source resource
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/config/OnboardingFunctionConfig.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/config/PagoPaSignatureConfig.java
  apps/onboarding-functions/src/main/resources/application.properties
  infra/functions/onboarding-functions/env/prod/terraform.tfvars
  infra/functions/onboarding-functions/env/uat/terraform.tfvars
Labels: functions, ops, hotfix

#191 fix: set sign service based on pagopa source resource
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/config/OnboardingFunctionConfig.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/config/PagoPaSignatureConfig.java
  apps/onboarding-functions/src/main/resources/application.properties
  infra/functions/onboarding-functions/env/prod/terraform.tfvars
  infra/functions/onboarding-functions/env/uat/terraform.tfvars
Labels: functions, ops

#192 [SELC-4938] feat: save openapi under docs folder
  apps/onboarding-ms/src/main/docs/openapi.json
  apps/onboarding-ms/src/main/docs/openapi.yaml
  apps/onboarding-ms/src/main/resources/application.properties
Labels: onboarding-ms

#193 fix: replace updateAt with updatedAt
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/service/CompletionServiceDefault.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/service/OnboardingService.java
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/service/CompletionServiceDefaultTest.java
Labels: functions

#195 fix: avoid to find unused user request
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/service/OnboardingService.java
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/service/OnboardingServiceTest.java
Labels: functions, hotfix
