Repository pagopa/selfcare-onboarding, pull requests merged in 2024-11, with the labels that each got.

#588 [SELC-5899] feat: change Namirial SWS URL using container resource group
  infra/container_apps/namirial-sign/container_group.tf
  infra/container_apps/namirial-sign/data.tf
  infra/container_apps/namirial-sign/env/dev/terraform.tfvars
  infra/container_apps/namirial-sign/env/prod/terraform.tfvars
  infra/container_apps/namirial-sign/env/uat/terraform.tfvars
  infra/container_apps/namirial-sign/locals.tf
  infra/container_apps/namirial-sign/variables.tf
  infra/functions/onboarding-functions/.terraform.lock.hcl
  infra/functions/onboarding-functions/env/dev/terraform.tfvars
  infra/functions/onboarding-functions/env/prod/terraform.tfvars
  infra/functions/onboarding-functions/env/uat/terraform.tfvars
  libs/onboarding-sdk-crypto/src/main/java/it/pagopa/selfcare/onboarding/crypto/client/NamirialHttpClient.java
Labels: ops, libs

#589 [SELC-5922] Set institution category L37 when GSP and SELC
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/utils/BaseNotificationBuilder.java
Labels: functions

#590 [SELC-5872] feat: add userAggregatorContractMappings field in Product entity in onboarding-sdk
  apps/onboarding-functions/pom.xml
  apps/onboarding-ms/pom.xml
  apps/pom.xml
  libs/onboarding-sdk-azure-storage/pom.xml
  libs/onboarding-sdk-common/pom.xml
  libs/onboarding-sdk-crypto/pom.xml
  libs/onboarding-sdk-pom/pom.xml
  libs/onboarding-sdk-product/pom.xml
  libs/onboarding-sdk-product/src/main/java/it/pagopa/selfcare/product/entity/PHASE_ADDITION_ALLOWED.java
  libs/onboarding-sdk-product/src/main/java/it/pagopa/selfcare/product/entity/Product.java
  libs/onboarding-sdk-product/src/test/java/it/pagopa/selfcare/product/entity/ProductTest.java
  test-coverage/pom.xml
Labels: functions, onboarding-ms, libs

#592 [SELC-5966] feat: Fixed contract for workflow-aggregator
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/entity/OnboardingWorkflowAggregator.java
Labels: functions

#595 Remove send user notification
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/service/NotificationEventServiceDefault.java
Labels: functions, hotfix

#596 Remove send user notification
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/service/NotificationEventServiceDefault.java
Labels: functions

#599 Update infra for function
  infra/functions/onboarding-functions/.terraform.lock.hcl
  infra/functions/onboarding-functions/env/dev-pnpg/terraform.tfvars
  infra/functions/onboarding-functions/env/dev/terraform.tfvars
  infra/functions/onboarding-functions/env/prod-pnpg/terraform.tfvars
  infra/functions/onboarding-functions/env/prod/terraform.tfvars
  infra/functions/onboarding-functions/env/uat-pnpg/terraform.tfvars
  infra/functions/onboarding-functions/env/uat/terraform.tfvars
  infra/functions/onboarding-functions/functions.tf
  infra/functions/onboarding-functions/main.tf
  infra/functions/onboarding-functions/variables.tf
Labels: ops

#600 [SELC-5995] Add supportEmail to notification
  README.md
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/dto/InstitutionToNotify.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/utils/BaseNotificationBuilder.java
Labels: functions, docs, hotfix

#598 [SELC-5983] feat: added logic to set contractType, contractId and providerNames t…
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/utils/BaseNotificationBuilder.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/utils/FdNotificationBuilder.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/utils/NotificationBuilder.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/utils/SapNotificationBuilder.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/utils/StandardNotificationBuilder.java
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/utils/NotificationBuilderTestUtil.java
Labels: functions

#602 [SELC-5976] feat: modify persistUser API to allow adding users even if they already exist
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/mapper/ProductMapper.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/service/CompletionServiceDefault.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/service/NotificationEventServiceDefault.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/utils/FdNotificationBuilder.java
  apps/onboarding-functions/src/main/openapi/user.json
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/service/CompletionServiceDefaultTest.java
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/service/NotificationEventServiceDefaultTest.java
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/utils/FdNotificationBuilderTest.java
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/utils/NotificationBuilderTestUtil.java
Labels: functions

#603 [SELC-5812] feat: Fixed contract path for institution type
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/utils/InstitutionUtils.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/util/InstitutionUtils.java
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/util/InstitutionUtilsTest.java
Labels: functions, onboarding-ms

#606 [SELC-5980] Update integration test CICD
  .github/workflows/call_integration_test.yml
  .github/workflows/release_integration_test_infra.yml
  infra/integration-test/.terraform.lock.hcl
  infra/integration-test/Selfcare-Integration.postman_environment.json
  infra/integration-test/data.tf
  infra/integration-test/env/dev-pnpg/backend.ini
  infra/integration-test/env/dev-pnpg/backend.tfvars
  infra/integration-test/env/dev-pnpg/terraform.tfvars
  infra/integration-test/env/dev/backend.ini
  infra/integration-test/env/dev/backend.tfvars
  infra/integration-test/env/dev/terraform.tfvars
  infra/integration-test/env/uat-pnpg/backend.ini
  infra/integration-test/env/uat-pnpg/backend.tfvars
  infra/integration-test/env/uat-pnpg/terraform.tfvars
  infra/integration-test/env/uat/backend.ini
  infra/integration-test/env/uat/backend.tfvars
  infra/integration-test/env/uat/terraform.tfvars
  infra/integration-test/integration_test.tf
  infra/integration-test/locals.tf
  infra/integration-test/main.tf
  infra/integration-test/terraform.sh
  infra/integration-test/variables.tf
Labels: ops

#605 [SELC-6022] Store billing when onboarding an UO Institution
  apps/onboarding-ms/src/main/docs/openapi.json
  apps/onboarding-ms/src/main/docs/openapi.yaml
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/controller/OnboardingController.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/controller/request/OnboardingImportRequest.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/service/OnboardingService.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/service/OnboardingServiceDefault.java
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/controller/OnboardingControllerTest.java
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/service/OnboardingServiceDefaultTest.java
Labels: onboarding-ms

#506 [SELC-5547] feat: refactoring onboarding's logic
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/constants/CustomError.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/entity/IPAEntity.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/entity/registry/BaseRegistryManager.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/entity/registry/RegistryManager.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/entity/registry/RegistryManagerADE.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/entity/registry/RegistryManagerANAC.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/entity/registry/RegistryManagerIPA.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/entity/registry/RegistryManagerIPAAoo.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/entity/registry/RegistryManagerIPAGps.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/entity/registry/RegistryManagerIPAUo.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/entity/registry/RegistryManagerIVASS.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/entity/registry/RegistryManagerInfocamere.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/entity/registry/RegistryManagerPDNDInfocamere.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/entity/registry/RegistryManagerPT.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/entity/registry/RegistryManagerSELC.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/entity/registry/RegistryResourceFactory.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/entity/registry/client/ClientRegistryADE.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/entity/registry/client/ClientRegistryANAC.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/entity/registry/client/ClientRegistryIPA.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/entity/registry/client/ClientRegistryIVASS.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/entity/registry/client/ClientRegistryInfocamere.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/entity/registry/client/ClientRegistryPDNDInfocamere.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/service/OnboardingServiceDefault.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/service/util/OnboardingUtils.java
  apps/onboarding-ms/src/main/resources/application.properties
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/entity/RegistryResourceProviderTest.java
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/service/OnboardingServiceDefaultTest.java
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/service/util/OnboardingUtilsTest.java
Labels: onboarding-ms

#612 [SELC-6058] fix: propagate parentDescription in aggregates' onboarding
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/entity/AggregateInstitution.java
Labels: functions

#611 [SELC-5607] feat: Added new institution type GPU
  libs/onboarding-sdk-azure-storage/pom.xml
  libs/onboarding-sdk-common/pom.xml
  libs/onboarding-sdk-common/src/main/java/it/pagopa/selfcare/onboarding/common/InstitutionType.java
  libs/onboarding-sdk-crypto/pom.xml
  libs/onboarding-sdk-pom/pom.xml
  libs/onboarding-sdk-product/pom.xml
Labels: libs

#613 [SELC-5607] feat: Updated dependencies for new libs
  apps/onboarding-cdc/src/main/openapi/onboarding_functions.json
  apps/onboarding-functions/pom.xml
  apps/onboarding-functions/src/main/openapi/core.json
  apps/onboarding-ms/pom.xml
  apps/onboarding-ms/src/main/docs/openapi.json
  apps/onboarding-ms/src/main/docs/openapi.yaml
  apps/onboarding-ms/src/main/openapi/core.json
  apps/onboarding-ms/src/main/openapi/onboarding_functions.json
  apps/pom.xml
  test-coverage/pom.xml
Labels: functions, onboarding-ms

#616 Added new worflow type FOR_APPROVE_GPU
  libs/onboarding-sdk-azure-storage/pom.xml
  libs/onboarding-sdk-common/pom.xml
  libs/onboarding-sdk-common/src/main/java/it/pagopa/selfcare/onboarding/common/WorkflowType.java
  libs/onboarding-sdk-crypto/pom.xml
  libs/onboarding-sdk-pom/pom.xml
  libs/onboarding-sdk-product/pom.xml
Labels: libs

#617 feat: Updated libs
  apps/onboarding-cdc/src/main/openapi/onboarding_functions.json
  apps/onboarding-functions/pom.xml
  apps/onboarding-ms/pom.xml
  apps/onboarding-ms/src/main/openapi/onboarding_functions.json
  apps/pom.xml
Labels: functions, onboarding-ms

#615 [SELC-5514] feat: Added new values for GPU
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/entity/BusinessData.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/entity/GPUData.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/entity/Institution.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/entity/PaymentServiceProvider.java
Labels: onboarding-ms

#619 SELC-5619 refactor: removed Notification resend api and related classes
  apps/onboarding-ms/src/main/docs/openapi.json
  apps/onboarding-ms/src/main/docs/openapi.yaml
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/controller/NotificationController.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/mapper/OnboardingMapper.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/service/NotificationService.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/service/NotificationServiceDefault.java
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/controller/NotificationControllerTest.java
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/service/NotificationServiceDefaultTest.java
Labels: onboarding-ms

#622 [SELC-5514] feat: Added GPUData into OnboardingMapper
  apps/onboarding-ms/src/main/docs/openapi.json
  apps/onboarding-ms/src/main/docs/openapi.yaml
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/controller/request/OnboardingDefaultRequest.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/mapper/OnboardingMapper.java
Labels: onboarding-ms

#618 [SELC-6082] feat: added logic to retrieve institution and billing data in import API
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/entity/registry/RegistryManagerIPA.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/entity/registry/RegistryManagerIPAUo.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/entity/registry/RegistryResourceFactory.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/entity/registry/client/ClientRegistryIPA.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/service/OnboardingServiceDefault.java
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/service/OnboardingServiceDefaultTest.java
Labels: onboarding-ms

#623 [SELC-5514] feat: Updated gpuData config
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/mapper/OnboardingMapper.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/service/OnboardingServiceDefault.java
Labels: onboarding-ms

#621 [SELC-5642] feat: added new workflow executor for GPU
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/functions/OnboardingFunctions.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/functions/utils/ActivityName.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/workflow/WorkflowExecutorForApprove.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/workflow/WorkflowExecutorForApproveGpu.java
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/functions/OnboardingFunctionsTest.java
Labels: functions
