Repository pagopa/selfcare-onboarding, pull requests merged in 2024-05, with the labels that each got.

#252 feat: add invoiceable field in Product entity and increase sdk version
  libs/onboarding-sdk-azure-storage/pom.xml
  libs/onboarding-sdk-common/pom.xml
  libs/onboarding-sdk-crypto/pom.xml
  libs/onboarding-sdk-pom/pom.xml
  libs/onboarding-sdk-product/pom.xml
  libs/onboarding-sdk-product/src/main/java/it/pagopa/selfcare/product/entity/Product.java
  libs/onboarding-sdk-product/src/main/schema/Product_v1.avsc
Labels: libs

#254 feat: increased onboarding-sdk-common version in onboarding-functions and onboarding-ms
  apps/onboarding-functions/pom.xml
  apps/onboarding-ms/pom.xml
Labels: functions, onboarding-ms

#255 fix: changed validation annotation for digitalAddress field
  apps/onboarding-ms/src/main/docs/openapi.json
  apps/onboarding-ms/src/main/docs/openapi.yaml
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/controller/request/OnboardingPgRequest.java
Labels: onboarding-ms

#259 chore: set hub-spid-login environment var for prod
  infra/container_apps/hub_spid_login/env/prod-pnpg/terraform.tfvars
  infra/container_apps/hub_spid_login/env/prod/terraform.tfvars
Labels: ops

#257 [SELC - 4786] feat: added taxCodeSfe field in Institution Object
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/entity/Institution.java
  apps/onboarding-ms/src/main/docs/openapi.json
  apps/onboarding-ms/src/main/docs/openapi.yaml
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/controller/request/InstitutionBaseRequest.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/controller/response/InstitutionResponse.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/entity/Institution.java
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/controller/OnboardingControllerTest.java
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/service/OnboardingServiceDefaultTest.java
Labels: functions, onboarding-ms

#258 SELC-4321 feat: changed exception when user's certified field differ from input request
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/constants/CustomError.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/service/OnboardingServiceDefault.java
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/service/OnboardingServiceDefaultTest.java
Labels: onboarding-ms

#262 [SELC - 4852] feat: feat: added check if parent taxCode request is equals to parent taxCode retrieved from IPA
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/entity/Institution.java
  apps/onboarding-ms/src/main/docs/openapi.json
  apps/onboarding-ms/src/main/docs/openapi.yaml
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/controller/request/InstitutionBaseRequest.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/controller/response/InstitutionResponse.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/entity/Institution.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/service/OnboardingServiceDefault.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/service/util/OnboardingUtils.java
  apps/onboarding-ms/src/main/openapi/core.json
  apps/onboarding-ms/src/main/openapi/party_registry_proxy.json
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/controller/OnboardingControllerTest.java
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/service/OnboardingServiceDefaultTest.java
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/service/util/OnboardingUtilsTest.java
Labels: functions, onboarding-ms

#261 [SELC-4795] feat: Updated fields for contract with institutionType EC and product prod-pagopa
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/service/ContractServiceDefault.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/utils/PdfMapper.java
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/service/ContractServiceDefaultTest.java
Labels: functions

#263 chore: Use Container App name as url when calling a container app
  infra/container_apps/onboarding-ms/env/dev-pnpg/terraform.tfvars
  infra/container_apps/onboarding-ms/env/dev/terraform.tfvars
  infra/container_apps/onboarding-ms/env/prod-pnpg/terraform.tfvars
  infra/container_apps/onboarding-ms/env/prod/terraform.tfvars
  infra/container_apps/onboarding-ms/env/uat-pnpg/terraform.tfvars
  infra/container_apps/onboarding-ms/env/uat/terraform.tfvars
Labels: ops

#264 [SELC-4738] feat: add flag to force institution creation on every onboarding
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/service/CompletionServiceDefault.java
  apps/onboarding-functions/src/main/resources/application.properties
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/service/CompletionServiceDefaultTest.java
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/service/CompletionServiceDefaultTest2.java
  infra/functions/onboarding-functions/env/dev-pnpg/terraform.tfvars
  infra/functions/onboarding-functions/env/dev/terraform.tfvars
  infra/functions/onboarding-functions/env/prod-pnpg/terraform.tfvars
  infra/functions/onboarding-functions/env/prod/terraform.tfvars
  infra/functions/onboarding-functions/env/uat-pnpg/terraform.tfvars
  infra/functions/onboarding-functions/env/uat/terraform.tfvars
Labels: functions, ops

#265 [SELC-4918] feat: added custom validation for UO with taxCodeInvoicing
  apps/onboarding-ms/src/main/docs/openapi.json
  apps/onboarding-ms/src/main/docs/openapi.yaml
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/controller/request/BillingPaRequest.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/controller/request/InstitutionBaseRequest.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/entity/Billing.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/entity/Institution.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/service/util/OnboardingUtils.java
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/service/OnboardingServiceDefaultTest.java
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/service/util/OnboardingUtilsTest.java
Labels: onboarding-ms

#267 [SELC-4887] Set activated date when onboarding complete
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/service/CompletionServiceDefault.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/workflow/WorkflowExecutor.java
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/service/CompletionServiceDefaultTest.java
  apps/onboarding-ms/src/main/docs/openapi.json
  apps/onboarding-ms/src/main/docs/openapi.yaml
  infra/functions/onboarding-functions/env/dev-pnpg/terraform.tfvars
  infra/functions/onboarding-functions/env/dev/terraform.tfvars
  infra/functions/onboarding-functions/env/prod-pnpg/terraform.tfvars
  infra/functions/onboarding-functions/env/prod/terraform.tfvars
  infra/functions/onboarding-functions/env/uat-pnpg/terraform.tfvars
  infra/functions/onboarding-functions/env/uat/terraform.tfvars
Labels: functions, ops, onboarding-ms

#268 [SELC-4931] feat: Updated core api docs with new field taxCodeInvoicing
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/service/CompletionServiceDefault.java
  apps/onboarding-functions/src/main/openapi/core.json
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/service/CompletionServiceDefaultTest.java
Labels: functions, onboarding-ms

#269 [SELC-4931] fix: Set taxCodeInvoicing for persist onboardings function
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/service/CompletionServiceDefault.java
  apps/onboarding-ms/src/main/docs/openapi.json
  apps/onboarding-ms/src/main/docs/openapi.yaml
Labels: functions, onboarding-ms

#270 Remove prod-fd from onboarding list
  infra/container_apps/onboarding-ms/env/prod/terraform.tfvars
Labels: ops

#271 [SELC-4980] feat: added consumers field in Product object, and updated pom
  apps/onboarding-functions/pom.xml
  apps/onboarding-ms/pom.xml
  libs/onboarding-sdk-azure-storage/pom.xml
  libs/onboarding-sdk-common/pom.xml
  libs/onboarding-sdk-crypto/pom.xml
  libs/onboarding-sdk-pom/pom.xml
  libs/onboarding-sdk-product/pom.xml
  libs/onboarding-sdk-product/src/main/java/it/pagopa/selfcare/product/entity/Product.java
Labels: functions, onboarding-ms, libs

#272 [SELC - 4959] feat: create CDC module, infra and pipelines
  .github/workflows/call_release_cdc.yml
  .github/workflows/pr_cdc.yml
  .github/workflows/release_cdc.yml
  .github/workflows/release_pnpg_cdc.yml
  apps/onboarding-cdc/pom.xml
  apps/onboarding-cdc/src/main/java/it/pagopa/selfcare/onboarding/event/CdcLifecycle.java
  apps/onboarding-cdc/src/main/java/it/pagopa/selfcare/onboarding/event/OnboardingCdcService.java
  apps/onboarding-cdc/src/main/java/it/pagopa/selfcare/onboarding/event/config/OnboardingCdcConfig.java
  apps/onboarding-cdc/src/main/java/it/pagopa/selfcare/onboarding/event/constant/CdcStartAtConstant.java
  apps/onboarding-cdc/src/main/java/it/pagopa/selfcare/onboarding/event/entity/AdditionalInformations.java
  apps/onboarding-cdc/src/main/java/it/pagopa/selfcare/onboarding/event/entity/Billing.java
  apps/onboarding-cdc/src/main/java/it/pagopa/selfcare/onboarding/event/entity/DataProtectionOfficer.java
  apps/onboarding-cdc/src/main/java/it/pagopa/selfcare/onboarding/event/entity/GeographicTaxonomy.java
  apps/onboarding-cdc/src/main/java/it/pagopa/selfcare/onboarding/event/entity/Institution.java
  apps/onboarding-cdc/src/main/java/it/pagopa/selfcare/onboarding/event/entity/Onboarding.java
  apps/onboarding-cdc/src/main/java/it/pagopa/selfcare/onboarding/event/entity/PaymentServiceProvider.java
  apps/onboarding-cdc/src/main/java/it/pagopa/selfcare/onboarding/event/entity/Token.java
  apps/onboarding-cdc/src/main/java/it/pagopa/selfcare/onboarding/event/entity/User.java
  apps/onboarding-cdc/src/main/java/it/pagopa/selfcare/onboarding/event/entity/util/InstitutionPaSubunitType.java
  apps/onboarding-cdc/src/main/resources/application.properties
  apps/onboarding-cdc/src/test/resources/application.properties
  apps/onboarding-ms/src/main/docs/openapi.json
  apps/onboarding-ms/src/main/docs/openapi.yaml
  apps/pom.xml
  infra/container_apps/onboarding-cdc/.terraform.lock.hcl
  infra/container_apps/onboarding-cdc/env/dev-pnpg/backend.ini
  infra/container_apps/onboarding-cdc/env/dev-pnpg/backend.tfvars
  infra/container_apps/onboarding-cdc/env/dev-pnpg/terraform.tfvars
  infra/container_apps/onboarding-cdc/env/dev/backend.ini
  infra/container_apps/onboarding-cdc/env/dev/backend.tfvars
  infra/container_apps/onboarding-cdc/env/dev/terraform.tfvars
  infra/container_apps/onboarding-cdc/env/prod-pnpg/backend.ini
  infra/container_apps/onboarding-cdc/env/prod-pnpg/backend.tfvars
  infra/container_apps/onboarding-cdc/env/prod-pnpg/terraform.tfvars
  infra/container_apps/onboarding-cdc/env/prod/backend.ini
  infra/container_apps/onboarding-cdc/env/prod/backend.tfvars
  infra/container_apps/onboarding-cdc/env/prod/terraform.tfvars
  infra/container_apps/onboarding-cdc/env/uat-pnpg/backend.ini
  infra/container_apps/onboarding-cdc/env/uat-pnpg/backend.tfvars
  infra/container_apps/onboarding-cdc/env/uat-pnpg/terraform.tfvars
  infra/container_apps/onboarding-cdc/env/uat/backend.ini
  infra/container_apps/onboarding-cdc/env/uat/backend.tfvars
  infra/container_apps/onboarding-cdc/env/uat/terraform.tfvars
  infra/container_apps/onboarding-cdc/locals.tf
  infra/container_apps/onboarding-cdc/main.tf
  infra/container_apps/onboarding-cdc/terraform.sh
  infra/container_apps/onboarding-cdc/variables.tf
  infra/container_apps/onboarding-ms/env/dev/terraform.tfvars
Labels: ops, onboarding-ms

#275 [SELC-4892] Added function to send events on topic through event hub
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/client/auth/EventhubSasTokenAuthorization.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/client/eventhub/EventHubRestClient.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/config/NotificationConfig.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/entity/NotificationToSend.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/entity/Onboarding.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/entity/QueueEvent.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/entity/Topic.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/exception/NotificationException.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/functions/NotificationFunctions.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/functions/OnboardingFunctions.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/functions/utils/ActivityName.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/mapper/NotificationMapper.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/service/NotificationEventService.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/service/NotificationEventServiceDefault.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/utils/NotificationFactory.java
  apps/onboarding-functions/src/main/resources/application.properties
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/client/EventhubSasTokenAuthorizationTest.java
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/functions/NotificationFunctionsTest.java
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/functions/OnboardingFunctionsTest.java
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/service/CompletionServiceDefaultTest2.java
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/service/NotificationEventServiceDefaultTest.java
  infra/functions/onboarding-functions/env/dev-pnpg/terraform.tfvars
  infra/functions/onboarding-functions/env/dev/terraform.tfvars
  infra/functions/onboarding-functions/env/prod-pnpg/terraform.tfvars
  infra/functions/onboarding-functions/env/prod/terraform.tfvars
  infra/functions/onboarding-functions/env/uat-pnpg/terraform.tfvars
  infra/functions/onboarding-functions/env/uat/terraform.tfvars
Labels: functions, ops
