Repository pagopa/selfcare-onboarding, pull requests merged in 2024-06, with the labels that each got.

#276 [SELC-4897] feat: Added function to resend notification
  apps/onboarding-cdc/src/main/java/it/pagopa/selfcare/onboarding/event/OnboardingCdcService.java
  apps/onboarding-cdc/src/main/openapi/onboarding_functions.json
  apps/onboarding-cdc/src/main/resources/application.properties
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/client/auth/EventhubSasTokenAuthorization.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/entity/Topic.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/functions/NotificationFunctions.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/service/NotificationEventService.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/service/NotificationEventServiceDefault.java
  apps/onboarding-functions/src/main/resources/application.properties
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/functions/NotificationFunctionsTest.java
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/service/NotificationEventServiceDefaultTest.java
  infra/functions/onboarding-functions/env/dev-pnpg/terraform.tfvars
  infra/functions/onboarding-functions/env/dev/terraform.tfvars
  infra/functions/onboarding-functions/env/prod-pnpg/terraform.tfvars
  infra/functions/onboarding-functions/env/prod/terraform.tfvars
  infra/functions/onboarding-functions/env/uat-pnpg/terraform.tfvars
  infra/functions/onboarding-functions/env/uat/terraform.tfvars
Labels: functions, ops

#280 [SELC-4954] Update ACS for dev env
  infra/container_apps/hub_spid_login/env/dev/terraform.tfvars
Labels: ops

#284 [SELC - 5016] feat: added custom serializer
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/dto/NotificationToSend.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/utils/CustomOffsetDateTimeSerializer.java
Labels: functions

#285 [SELC - 5031] feat: add filter status when getting onboarding detail
  apps/onboarding-ms/src/main/docs/openapi.json
  apps/onboarding-ms/src/main/docs/openapi.yaml
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/controller/OnboardingController.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/service/OnboardingService.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/service/OnboardingServiceDefault.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/util/QueryUtils.java
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/controller/OnboardingControllerTest.java
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/service/OnboardingServiceDefaultTest.java
Labels: onboarding-ms

#287 [SELC-5035] feat: added new worflow type to manage the administrator addition flow
  libs/onboarding-sdk-azure-storage/pom.xml
  libs/onboarding-sdk-common/pom.xml
  libs/onboarding-sdk-common/src/main/java/it/pagopa/selfcare/onboarding/common/WorkflowType.java
  libs/onboarding-sdk-crypto/pom.xml
  libs/onboarding-sdk-pom/pom.xml
  libs/onboarding-sdk-product/pom.xml
Labels: libs

#288 [SELC-5034] feature: added logic to discriminate event type in cdc module
  apps/onboarding-cdc/src/main/java/it/pagopa/selfcare/onboarding/event/NotificationService.java
  apps/onboarding-cdc/src/main/java/it/pagopa/selfcare/onboarding/event/OnboardingCdcService.java
  apps/onboarding-cdc/src/main/java/it/pagopa/selfcare/onboarding/event/entity/util/QueueEvent.java
  apps/onboarding-cdc/src/main/openapi/onboarding_functions.json
  apps/onboarding-cdc/src/main/resources/application.properties
  apps/onboarding-cdc/src/test/java/it/pagopa/selfcare/onboarding/event/NotificationServiceTest.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/functions/NotificationFunctions.java
  infra/container_apps/onboarding-cdc/env/dev/terraform.tfvars
  infra/container_apps/onboarding-cdc/env/prod/terraform.tfvars
  infra/container_apps/onboarding-cdc/env/uat/terraform.tfvars
Labels: functions, ops

#289 [SELC-5033] Storing function api key to KV from terraform
  infra/container_apps/onboarding-cdc/env/dev-pnpg/terraform.tfvars
  infra/container_apps/onboarding-cdc/env/dev/terraform.tfvars
  infra/container_apps/onboarding-cdc/env/prod-pnpg/terraform.tfvars
  infra/container_apps/onboarding-cdc/env/prod/terraform.tfvars
  infra/container_apps/onboarding-cdc/env/uat-pnpg/terraform.tfvars
  infra/container_apps/onboarding-cdc/env/uat/terraform.tfvars
  infra/functions/onboarding-functions/functions.tf
Labels: ops

#290 [SELC - updatedSdkVersion] feat: updated sdk version
  apps/onboarding-ms/pom.xml
Labels: onboarding-ms

#293 [SELC - updatedOnboardingFunctionUrl ] feat: updated onboarding functions url
  infra/container_apps/onboarding-cdc/env/prod-pnpg/terraform.tfvars
  infra/container_apps/onboarding-cdc/env/prod/terraform.tfvars
  infra/container_apps/onboarding-cdc/env/uat-pnpg/terraform.tfvars
  infra/container_apps/onboarding-cdc/env/uat/terraform.tfvars
Labels: ops

#294 ops: GitHub Action to detect breaking changes on Swagger
  .github/workflows/swagger_conflict_update_ms.yml
  apps/onboarding-ms/src/main/resources/application.properties
Labels: ops, onboarding-ms

#295 [SELC-5035] feat: Added new workflow type to manage the users import flow
  libs/onboarding-sdk-azure-storage/pom.xml
  libs/onboarding-sdk-common/pom.xml
  libs/onboarding-sdk-common/src/main/java/it/pagopa/selfcare/onboarding/common/WorkflowType.java
  libs/onboarding-sdk-crypto/pom.xml
  libs/onboarding-sdk-pom/pom.xml
  libs/onboarding-sdk-product/pom.xml
Labels: libs

#296 [SELC-4992] feat: Added workflow to manage the administator addition flow
  apps/onboarding-cdc/pom.xml
  apps/onboarding-cdc/src/main/openapi/onboarding_functions.json
  apps/onboarding-functions/pom.xml
  apps/onboarding-ms/pom.xml
Labels: functions, onboarding-ms

#298 [SELC-5041] Refactor store activatedAt
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/functions/OnboardingFunctions.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/functions/utils/ActivityName.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/service/CompletionService.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/service/CompletionServiceDefault.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/workflow/WorkflowExecutor.java
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/functions/OnboardingFunctionsTest.java
  apps/onboarding-ms/src/main/docs/openapi.json
  apps/onboarding-ms/src/main/docs/openapi.yaml
Labels: functions, onboarding-ms

#300 [SELC-4894] fix: removed filePath from base builder and added only in standard builder
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/utils/BaseNotificationBuilder.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/utils/NotificationBuilder.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/utils/StandardNotificationBuilder.java
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/utils/FdNotificationBuilderTest.java
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/utils/SapNotificationBuilderTest.java
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/utils/StandardNotificationBuilderTest.java
Labels: functions

#301 [SELC-5056] chore: added "support" and "Onboarding" tags to /{onboardingId}/consume
  apps/onboarding-ms/src/main/docs/openapi.json
  apps/onboarding-ms/src/main/docs/openapi.yaml
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/controller/OnboardingController.java
Labels: onboarding-ms

#302 [SELC - 4376] feat: added new API to complete users onboarding process
  apps/onboarding-ms/src/main/docs/openapi.json
  apps/onboarding-ms/src/main/docs/openapi.yaml
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/controller/OnboardingController.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/exception/InvalidRequestException.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/service/OnboardingService.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/service/OnboardingServiceDefault.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/util/GenericError.java
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/controller/OnboardingControllerTest.java
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/service/OnboardingServiceDefaultTest.java
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/service/profile/OnboardingTestProfile.java
Labels: onboarding-ms

#303 [SELC-5085] chore: add support and Onboarding tags to getOnboardingPending API
  apps/onboarding-ms/src/main/docs/openapi.json
  apps/onboarding-ms/src/main/docs/openapi.yaml
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/controller/OnboardingController.java
Labels: onboarding-ms

#304 [SELC-5088] feat: Adding API for update some field for onboarding
  apps/onboarding-ms/src/main/docs/openapi.json
  apps/onboarding-ms/src/main/docs/openapi.yaml
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/controller/OnboardingController.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/mapper/OnboardingMapper.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/service/OnboardingService.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/service/OnboardingServiceDefault.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/util/QueryUtils.java
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/controller/OnboardingControllerTest.java
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/service/OnboardingServiceDefaultTest.java
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/util/QueryUtilsTest.java
Labels: onboarding-ms

#307 [SELC-5088] ADD API Prod from main
  apps/onboarding-ms/src/main/docs/openapi.json
  apps/onboarding-ms/src/main/docs/openapi.yaml
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/constants/CustomError.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/controller/OnboardingController.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/controller/request/OnboardingUserRequest.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/entity/Onboarding.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/exception/InvalidRequestException.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/mapper/InstitutionMapper.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/mapper/OnboardingMapper.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/service/OnboardingService.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/service/OnboardingServiceDefault.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/util/GenericError.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/util/QueryUtils.java
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/controller/OnboardingControllerTest.java
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/service/OnboardingServiceDefaultTest.java
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/service/profile/OnboardingTestProfile.java
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/util/QueryUtilsTest.java
Labels: onboarding-ms, hotfix

#308 fix: added missing url config for geographic taxonomies client
  apps/onboarding-functions/src/main/resources/application.properties
Labels: functions

#309 fix: added missing url config for geographic taxonomies client (#308)
  apps/onboarding-functions/src/main/resources/application.properties
Labels: functions, hotfix

#310 [SELC-4899] feat: added filters to getOnboardingWithFilter API
  apps/onboarding-ms/src/main/docs/openapi.json
  apps/onboarding-ms/src/main/docs/openapi.yaml
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/controller/OnboardingController.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/model/OnboardingGetFilters.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/service/OnboardingService.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/service/OnboardingServiceDefault.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/util/QueryUtils.java
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/controller/OnboardingControllerTest.java
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/service/OnboardingServiceDefaultTest.java
Labels: onboarding-ms

#311 [SELC-4898] feat: Added async api to resend onboarding notifications
  apps/onboarding-ms/src/main/docs/openapi.json
  apps/onboarding-ms/src/main/docs/openapi.yaml
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/controller/NotificationController.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/mapper/OnboardingMapper.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/service/NotificationService.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/service/NotificationServiceDefault.java
  apps/onboarding-ms/src/main/openapi/onboarding_functions.json
  apps/onboarding-ms/src/main/resources/application.properties
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/controller/NotificationControllerTest.java
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/service/NotificationServiceDefaultTest.java
Labels: onboarding-ms

#313 feat: Avoid to send PEC when user reject an onboarding
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/workflow/WorkflowExecutor.java
  apps/onboarding-ms/src/main/docs/openapi.json
  apps/onboarding-ms/src/main/docs/openapi.yaml
Labels: functions, onboarding-ms

#314 [SELC-4374] feat: Added filter status for onboarding search
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/service/OnboardingServiceDefault.java
Labels: onboarding-ms

#312 [SELC-4898] feat: Added logic to determine queue event type
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/config/NotificationConfig.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/functions/NotificationFunctions.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/service/NotificationEventServiceDefault.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/utils/QueueEventExaminer.java
  apps/onboarding-functions/src/main/resources/application.properties
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/service/NotificationEventServiceDefaultTest.java
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/utils/QueueEventExaminerTest.java
  infra/functions/onboarding-functions/env/dev-pnpg/terraform.tfvars
  infra/functions/onboarding-functions/env/dev/terraform.tfvars
  infra/functions/onboarding-functions/env/prod-pnpg/terraform.tfvars
  infra/functions/onboarding-functions/env/prod/terraform.tfvars
  infra/functions/onboarding-functions/env/uat-pnpg/terraform.tfvars
  infra/functions/onboarding-functions/env/uat/terraform.tfvars
Labels: functions, ops

#315 SELC-5119 feat: added watch config to prevent azure function invocation on demand
  apps/onboarding-cdc/src/main/java/it/pagopa/selfcare/onboarding/event/NotificationService.java
  apps/onboarding-cdc/src/test/java/it/pagopa/selfcare/onboarding/event/NotificationServiceTest.java
  apps/onboarding-cdc/src/test/java/it/pagopa/selfcare/onboarding/event/profile/NotificationTestProfile.java
  apps/onboarding-cdc/src/test/resources/application.properties
  infra/container_apps/onboarding-cdc/env/prod/terraform.tfvars
  infra/container_apps/onboarding-cdc/env/uat/terraform.tfvars
Labels: ops

#316 [SELC-5078] add CONTRACT_REGISTRATION_AGGREGATOR and CONFIRMATION_AGGREGATE workflow
  README.md
  libs/onboarding-sdk-azure-storage/pom.xml
  libs/onboarding-sdk-common/pom.xml
  libs/onboarding-sdk-common/src/main/java/it/pagopa/selfcare/onboarding/common/WorkflowType.java
  libs/onboarding-sdk-crypto/pom.xml
  libs/onboarding-sdk-pom/pom.xml
  libs/onboarding-sdk-product/pom.xml
Labels: docs, libs

#317 [SELC - 5123] feat: added new isAggregator and aggregates fields to Onboarding Objects
  apps/onboarding-cdc/pom.xml
  apps/onboarding-cdc/src/main/openapi/onboarding_functions.json
  apps/onboarding-functions/pom.xml
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/entity/Onboarding.java
  apps/onboarding-ms/pom.xml
  apps/onboarding-ms/src/main/docs/openapi.json
  apps/onboarding-ms/src/main/docs/openapi.yaml
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/controller/request/OnboardingBaseRequest.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/controller/response/OnboardingResponse.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/entity/Onboarding.java
Labels: functions, onboarding-ms

#318 [SELC-5127] Refactor notification send API using Optional ifPresentOrElse
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/functions/NotificationFunctions.java
Labels: functions

#320 [SELC-5127] Restore notification send API
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/functions/NotificationFunctions.java
Labels: functions

#324 chore: Upgrade quarkus version 3.11.2
  apps/onboarding-ms/pom.xml
  apps/onboarding-ms/src/main/docs/openapi.yaml
Labels: onboarding-ms

#323 [SELC - 5065] feat: Added API to save the onboarding request from an Aggregator
  apps/onboarding-ms/src/main/docs/openapi.json
  apps/onboarding-ms/src/main/docs/openapi.yaml
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/controller/OnboardingController.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/service/OnboardingServiceDefault.java
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/controller/OnboardingControllerTest.java
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/service/OnboardingServiceDefaultTest.java
Labels: onboarding-ms

#291 [SELC-4722] feat: Removed issues reported by Sonar
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/util/QueryUtils.java
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/service/OnboardingServiceDefaultTest.java
Labels: onboarding-ms

#327 [SELC - 5067] feat: added new functions to send mail with contract for aggregator
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/config/MailTemplatePathConfig.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/functions/OnboardingFunctions.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/functions/utils/ActivityName.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/service/NotificationService.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/service/NotificationServiceDefault.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/service/OnboardingService.java
  apps/onboarding-functions/src/main/resources/application.properties
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/functions/OnboardingFunctionsTest.java
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/service/NotificationServiceDefaultTest.java
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/service/OnboardingServiceTest.java
  infra/functions/onboarding-functions/env/dev-pnpg/terraform.tfvars
  infra/functions/onboarding-functions/env/dev/terraform.tfvars
  infra/functions/onboarding-functions/env/prod-pnpg/terraform.tfvars
  infra/functions/onboarding-functions/env/prod/terraform.tfvars
  infra/functions/onboarding-functions/env/uat-pnpg/terraform.tfvars
  infra/functions/onboarding-functions/env/uat/terraform.tfvars
Labels: functions, ops

#328 [SELC-5143] Feat: Added OnboardingAggregateOrchestratorInput class
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/dto/OnboardingAggregateOrchestratorInput.java
Labels: functions

#321 [SELC-5197] Refactor notification send API using Optional ifPresentOrElse
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/entity/ResponseWrapper.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/functions/NotificationFunctions.java
Labels: functions

#331 [SELC-5115] Allow sending notification without requiring a token
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/utils/BaseNotificationBuilder.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/utils/StandardNotificationBuilder.java
Labels: functions

#325 [SELC-5066] - Add new workflow to handle the onboarding of Aggregator institutions
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/functions/OnboardingFunctions.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/workflow/WorkflowExecutorConfirmationAggregate.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/workflow/WorkflowExecutorContractRegistrationAggregator.java
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/functions/OnboardingFunctionsTest.java
Labels: functions

#330 [SELC - 5148] feat: added new AggregateInstitution Object
  apps/onboarding-cdc/src/main/openapi/onboarding_functions.json
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/entity/AggregateInstitution.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/entity/Onboarding.java
  apps/onboarding-ms/src/main/docs/openapi.json
  apps/onboarding-ms/src/main/docs/openapi.yaml
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/controller/request/AggregateInstitutionRequest.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/controller/request/OnboardingBaseRequest.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/entity/AggregateInstitution.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/entity/Onboarding.java
  apps/onboarding-ms/src/main/openapi/onboarding_functions.json
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/controller/OnboardingControllerTest.java
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/service/OnboardingServiceDefaultTest.java
Labels: functions, onboarding-ms

#334 SELC-4901: added function for checkOrganization
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/config/FDConfig.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/functions/NotificationFunctions.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/service/CheckOrganizationService.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/service/CheckOrganizationServiceDefault.java
  apps/onboarding-functions/src/main/resources/application.properties
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/TestUtils.java
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/functions/NotificationFunctionsTest.java
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/service/CheckOrganizationServiceDefaultTest.java
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/service/profile/CheckOrganizationByPassTestProfile.java
  apps/onboarding-functions/src/test/resources/application.properties
  infra/functions/onboarding-functions/env/dev/terraform.tfvars
  infra/functions/onboarding-functions/env/prod/terraform.tfvars
  infra/functions/onboarding-functions/env/uat/terraform.tfvars
Labels: functions, ops

#336 Remove WorkFlowExecutorConfirmationAggregate
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/functions/OnboardingFunctions.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/workflow/WorkflowExecutorConfirmationAggregate.java
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/functions/OnboardingFunctionsTest.java
Labels: functions

#335 [SELC-5080] feat: added new function sendCompletedEmailAggregate
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/config/MailTemplatePathConfig.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/config/MailTemplatePlaceholdersConfig.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/entity/Aggregator.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/entity/Onboarding.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/functions/OnboardingFunctions.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/functions/utils/ActivityName.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/service/CompletionService.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/service/CompletionServiceDefault.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/service/NotificationService.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/service/NotificationServiceDefault.java
  apps/onboarding-functions/src/main/resources/application.properties
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/functions/OnboardingFunctionsTest.java
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/service/CompletionServiceDefaultTest.java
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/service/NotificationServiceDefaultTest.java
  infra/functions/onboarding-functions/env/dev-pnpg/terraform.tfvars
  infra/functions/onboarding-functions/env/dev/terraform.tfvars
  infra/functions/onboarding-functions/env/prod-pnpg/terraform.tfvars
  infra/functions/onboarding-functions/env/prod/terraform.tfvars
  infra/functions/onboarding-functions/env/uat-pnpg/terraform.tfvars
  infra/functions/onboarding-functions/env/uat/terraform.tfvars
Labels: functions, ops

#339 [SELC-5082] Feat: Added createDelegation function for aggregate
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/functions/OnboardingFunctions.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/functions/utils/ActivityName.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/service/CompletionService.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/service/CompletionServiceDefault.java
  apps/onboarding-functions/src/main/resources/application.properties
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/functions/OnboardingFunctionsTest.java
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/service/CompletionServiceDefaultTest.java
Labels: functions

#333 [SELC-5097] Feat: Added function for CreateOnboardingRequest
  apps/onboarding-functions/pom.xml
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/entity/Aggregator.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/functions/OnboardingFunctions.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/functions/utils/ActivityName.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/mapper/OnboardingMapper.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/service/CompletionService.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/service/CompletionServiceDefault.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/utils/Utils.java
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/functions/OnboardingFunctionsTest.java
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/service/CompletionServiceDefaultTest.java
Labels: functions

#340 [SELC-5098] Feat: Added workflow for executorConfirmAggregate
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/workflow/WorkflowExecutorConfirmAggregate.java
Labels: functions

#341 SELC-5122: added rest client and invocation of FD check organization api
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/client/fd/FDRestClient.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/dto/OrganizationLightBeanResponse.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/dto/OrganizationResponse.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/functions/ExternalFunctions.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/functions/NotificationFunctions.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/service/CheckOrganizationServiceDefault.java
  apps/onboarding-functions/src/main/resources/application.properties
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/functions/ExternalFunctionsTest.java
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/functions/NotificationFunctionsTest.java
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/service/CheckOrganizationServiceDefaultTest.java
Labels: functions

#344 [SELC-5098] Feat: Refactor ExecutorConfirmAggregate workflow to set delegationId in Onboarding
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/entity/Onboarding.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/functions/OnboardingFunctions.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/service/CompletionService.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/service/CompletionServiceDefault.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/workflow/WorkflowExecutorConfirmAggregate.java
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/functions/OnboardingFunctionsTest.java
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/service/CompletionServiceDefaultTest.java
Labels: functions

#342 [SELC-5122] feat: Added oAuth provider for FD's checkOrganization API
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/client/auth/ExternalOauthAuthorization.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/client/external/ExternalRestClient.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/client/external/ExternalTokenRestClient.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/config/ExternalConfig.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/config/FDConfig.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/dto/OauthToken.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/service/CheckOrganizationServiceDefault.java
  apps/onboarding-functions/src/main/resources/application.properties
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/client/auth/ExternalOauthAuthorizationTest.java
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/service/CheckOrganizationServiceDefaultTest.java
  infra/functions/onboarding-functions/env/dev/terraform.tfvars
  infra/functions/onboarding-functions/env/prod/terraform.tfvars
  infra/functions/onboarding-functions/env/uat/terraform.tfvars
Labels: functions, ops

#347 fix: unit tests check organization
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/service/CheckOrganizationServiceDefaultTest.java
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/service/profile/CheckOrganizationByPassTestProfile.java
  apps/onboarding-functions/src/test/resources/application.properties
Labels: functions

#337 [SELC-5149] feat: Refactor workflow executor logic
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/config/MailTemplatePathConfig.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/config/MailTemplatePlaceholdersConfig.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/entity/OnboardingWorkflow.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/entity/OnboardingWorkflowAggregator.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/entity/OnboardingWorkflowInstitution.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/entity/OnboardingWorkflowType.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/entity/OnboardingWorkflowUser.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/functions/OnboardingFunctions.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/functions/utils/ActivityName.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/service/CompletionService.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/service/CompletionServiceDefault.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/service/NotificationService.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/service/NotificationServiceDefault.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/service/OnboardingService.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/utils/Utils.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/workflow/WorkflowExecutor.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/workflow/WorkflowExecutorConfirmAggregate.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/workflow/WorkflowExecutorConfirmation.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/workflow/WorkflowExecutorContractRegistration.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/workflow/WorkflowExecutorContractRegistrationAggregator.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/workflow/WorkflowExecutorForApprove.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/workflow/WorkflowExecutorForApprovePt.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/workflow/WorkflowExecutorForUsers.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/workflow/WorkflowExecutorImport.java
  apps/onboarding-functions/src/main/resources/application.properties
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/functions/OnboardingFunctionsTest.java
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/service/CompletionServiceDefaultTest.java
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/service/NotificationServiceDefaultTest.java
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/service/OnboardingServiceTest.java
  apps/onboarding-functions/src/test/resources/application.properties
  infra/functions/onboarding-functions/env/dev-pnpg/terraform.tfvars
  infra/functions/onboarding-functions/env/dev/terraform.tfvars
  infra/functions/onboarding-functions/env/prod-pnpg/terraform.tfvars
  infra/functions/onboarding-functions/env/prod/terraform.tfvars
  infra/functions/onboarding-functions/env/uat-pnpg/terraform.tfvars
  infra/functions/onboarding-functions/env/uat/terraform.tfvars
Labels: functions, ops

#345 [SELC-5083] feat: persist delegationId in createUsers
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/mapper/ProductMapper.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/service/CompletionServiceDefault.java
  apps/onboarding-functions/src/main/openapi/user.json
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/service/CompletionServiceDefaultTest.java
Labels: functions

#350 [SELC-5122] fix: changed client_secret env reference
  apps/onboarding-functions/src/main/resources/application.properties
Labels: functions

#351 [SELC-5149] fix: Updated registration template path for INSTITUTION workflow
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/entity/OnboardingWorkflowInstitution.java
Labels: functions

#329 [SELC-5073] feat: added function CountOnboardings
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/dto/NotificationCountResult.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/functions/NotificationFunctions.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/service/OnboardingService.java
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/functions/NotificationFunctionsTest.java
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/service/OnboardingServiceTest.java
Labels: functions

#343 [SELC-5084] feat: map isAggregate when persisting onboarding
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/service/CompletionServiceDefault.java
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/service/CompletionServiceDefaultTest.java
Labels: functions

#354 [SELC-5061] feat: added API to check manager in case of USERS workflow
  apps/onboarding-ms/pom.xml
  apps/onboarding-ms/src/main/docs/openapi.json
  apps/onboarding-ms/src/main/docs/openapi.yaml
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/controller/OnboardingController.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/service/OnboardingService.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/service/OnboardingServiceDefault.java
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/controller/OnboardingControllerTest.java
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/service/OnboardingServiceDefaultTest.java
Labels: onboarding-ms

#358 [SELC-5185] feat: Update sdk version to 0.1.15
  libs/onboarding-sdk-azure-storage/pom.xml
  libs/onboarding-sdk-common/pom.xml
  libs/onboarding-sdk-common/src/main/java/it/pagopa/selfcare/onboarding/common/WorkflowType.java
  libs/onboarding-sdk-crypto/pom.xml
  libs/onboarding-sdk-pom/pom.xml
  libs/onboarding-sdk-product/pom.xml
Labels: libs

#356 fix: added check on null values of Token in BaseNotificationBuilder
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/utils/BaseNotificationBuilder.java
Labels: functions

#355 Feature/test fd token
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/client/auth/ExternalOauthAuthorization.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/client/external/ExternalRestClient.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/dto/OauthToken.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/dto/OrganizationLightBeanResponse.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/dto/OrganizationResponse.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/functions/ExternalFunctions.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/service/CheckOrganizationService.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/service/CheckOrganizationServiceDefault.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/utils/CustomOffsetDateTimeDeserializer.java
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/client/auth/ExternalOauthAuthorizationTest.java
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/service/CheckOrganizationServiceDefaultTest.java
Labels: functions

#359 feat: added User entry in TokenType enum and updated sdk versions
  apps/onboarding-cdc/pom.xml
  apps/onboarding-functions/pom.xml
  apps/onboarding-ms/pom.xml
  libs/onboarding-sdk-azure-storage/pom.xml
  libs/onboarding-sdk-common/pom.xml
  libs/onboarding-sdk-common/src/main/java/it/pagopa/selfcare/onboarding/common/TokenType.java
  libs/onboarding-sdk-crypto/pom.xml
  libs/onboarding-sdk-pom/pom.xml
  libs/onboarding-sdk-product/pom.xml
Labels: functions, onboarding-ms, libs

#361 fix: missing update in dependency version
  apps/onboarding-functions/pom.xml
  libs/onboarding-sdk-product/pom.xml
Labels: functions, libs

#348 [SELC-4921] feat: added function for messageAcknowledgment
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/dto/AckPayloadRequest.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/functions/ExternalFunctions.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/utils/AckStatus.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/utils/Utils.java
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/functions/ExternalFunctionsTest.java
Labels: functions

#362 [SELC-5184] fix: Update path file contract
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/service/ContractService.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/service/ContractServiceDefault.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/service/OnboardingService.java
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/service/ContractServiceDefaultTest.java
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/service/OnboardingServiceTest.java
Labels: functions

#363 [SELC-5191] feat: added function to check if onboarding should send notification
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/service/NotificationEventServiceDefault.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/utils/Utils.java
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/service/NotificationEventServiceDefaultTest.java
Labels: functions

#364 [SELC-5073] fix: added query condition to retrieve only institution onboarding
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/service/OnboardingService.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/utils/Utils.java
Labels: functions

#366 fix: 404 Error on User
  apps/onboarding-functions/src/main/resources/application.properties
Labels: functions

#367 [SELC-5096] feat: add new orchestrator to handle aggregate institutions onbaordings
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/functions/OnboardingFunctions.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/functions/utils/ActivityName.java
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/functions/OnboardingFunctionsTest.java
Labels: functions

#368 [SELC-4371] fix: Added originId into response of get Onboardings by filters API
  apps/onboarding-ms/pom.xml
  apps/onboarding-ms/src/main/docs/openapi.json
  apps/onboarding-ms/src/main/docs/openapi.yaml
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/controller/response/InstitutionResponse.java
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/service/OnboardingServiceDefaultTest.java
Labels: onboarding-ms
