Repository pagopa/selfcare-onboarding, pull requests merged in 2025-05, with the labels that each got.

#778 Fix persist onboarding await
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/service/OnboardingServiceDefault.java
Labels: onboarding-ms

#780 [SELC-6886] feat: Added cucumber into module of azure-fn
  apps/onboarding-functions/pom.xml
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/steps/IntegrationFunctionProfile.java
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/steps/OnboardingFunctionStep.java
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/utils/JwtData.java
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/utils/JwtUtils.java
  apps/onboarding-functions/src/test/resources/application.properties
  apps/onboarding-functions/src/test/resources/certs/pk-key.pub
  apps/onboarding-functions/src/test/resources/certs/sk-key.pem
  apps/onboarding-functions/src/test/resources/features/onboarding-fn.feature
Labels: functions

#779 [SELC-6956] feat: refactor checkManager API
  apps/onboarding-ms/src/main/docs/openapi.json
  apps/onboarding-ms/src/main/docs/openapi.yaml
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/controller/OnboardingController.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/controller/request/CheckManagerRequest.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/service/OnboardingService.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/service/OnboardingServiceDefault.java
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/controller/OnboardingControllerTest.java
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/service/OnboardingServiceDefaultTest.java
Labels: onboarding-ms

#782 [SELC-7080] Update condition to identify eventType
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/utils/QueueEventExaminer.java
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/utils/QueueEventExaminerTest.java
  apps/onboarding-ms/src/main/docs/openapi.json
  apps/onboarding-ms/src/main/docs/openapi.yaml
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/controller/OnboardingController.java
Labels: functions, onboarding-ms, hotfix

#781 [SELC-7045] feat: added emailTemplates attribute into Product
  libs/onboarding-sdk-azure-storage/pom.xml
  libs/onboarding-sdk-common/pom.xml
  libs/onboarding-sdk-crypto/pom.xml
  libs/onboarding-sdk-pom/pom.xml
  libs/onboarding-sdk-product/pom.xml
  libs/onboarding-sdk-product/src/main/java/it/pagopa/selfcare/product/entity/EmailTemplate.java
  libs/onboarding-sdk-product/src/main/java/it/pagopa/selfcare/product/entity/Product.java
  libs/onboarding-sdk-product/src/test/java/it/pagopa/selfcare/product/entity/ProductTest.java
Labels: libs

#783 [SELC-7045] fix: updated method to get email templates
  libs/onboarding-sdk-product/src/main/java/it/pagopa/selfcare/product/entity/Product.java
  libs/onboarding-sdk-product/src/test/java/it/pagopa/selfcare/product/entity/ProductTest.java
Labels: libs

#785 [SELC-6856] feat: Added test for GPU and PT scenarios
  .gitignore
  apps/onboarding-functions/src/integrationTest/java/org/acme/FunctionIT.java
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/service/NotificationServiceDefaultTest.java
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/service/OnboardingServiceTest.java
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/steps/IntegrationFunctionProfile.java
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/steps/IntegrationObjectUtils.java
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/steps/IntegrationOnboardingResources.java
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/steps/IntegrationOperationUtils.java
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/steps/OnboardingFunctionStep.java
  apps/onboarding-functions/src/test/resources/.dockerignore
  apps/onboarding-functions/src/test/resources/Dockerfile-azure-cli
  apps/onboarding-functions/src/test/resources/application.properties
  apps/onboarding-functions/src/test/resources/blobStorageInit/init_azurite.sh
  apps/onboarding-functions/src/test/resources/blobStorageInit/products.json
  apps/onboarding-functions/src/test/resources/db/init_mongo.js
  apps/onboarding-functions/src/test/resources/docker-compose.yml
  apps/onboarding-functions/src/test/resources/features/onboarding-fn.feature
  apps/onboarding-functions/src/test/resources/integration_data/selc/failed_gpu_request.json
  apps/onboarding-functions/src/test/resources/integration_data/selc/failed_pt_request.json
  apps/onboarding-functions/src/test/resources/integration_data/selc/success_gpu_request.json
  apps/onboarding-functions/src/test/resources/integration_data/selc/success_pt_request.json
  apps/onboarding-functions/src/test/resources/mock/party-registry-api.json
  apps/onboarding-functions/src/test/resources/mock/user-registry-api.json
  apps/onboarding-functions/src/test/resources/test-institution-ms.env
  apps/onboarding-functions/src/test/resources/test-user-ms.env
Labels: functions

#786 [SELC-7044] feat: added boolean sendMail for worklow type IMPORT
  apps/onboarding-ms/src/main/docs/openapi.json
  apps/onboarding-ms/src/main/docs/openapi.yaml
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/controller/request/OnboardingImportRequest.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/entity/Onboarding.java
Labels: onboarding-ms

#788 [SELC-7040] feat: added new logic to send completion mail for import
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/entity/Onboarding.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/entity/OnboardingWorkflow.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/service/NotificationServiceDefault.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/workflow/WorkflowExecutor.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/workflow/WorkflowExecutorImport.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/workflow/WorkflowExecutorImportAggregation.java
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/functions/OnboardingFunctionsTest.java
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/service/NotificationServiceDefaultTest.java
Labels: functions

#787 [SELC-6867] Added test case for workflow CONFIRMATION
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/steps/IntegrationFunctionProfile.java
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/steps/IntegrationObjectUtils.java
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/steps/IntegrationOnboardingResources.java
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/steps/IntegrationOperationUtils.java
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/steps/OnboardingFunctionStep.java
  apps/onboarding-functions/src/test/resources/db/init_mongo.js
  apps/onboarding-functions/src/test/resources/features/onboarding-fn.feature
  apps/onboarding-functions/src/test/resources/integration_data/institution/institution_example.json
  apps/onboarding-functions/src/test/resources/integration_data/onboarding/selc/failed_confirmation_request.json
  apps/onboarding-functions/src/test/resources/integration_data/onboarding/selc/failed_gpu_request.json
  apps/onboarding-functions/src/test/resources/integration_data/onboarding/selc/failed_pt_request.json
  apps/onboarding-functions/src/test/resources/integration_data/onboarding/selc/success_confirmation_request.json
  apps/onboarding-functions/src/test/resources/integration_data/onboarding/selc/success_gpu_request.json
  apps/onboarding-functions/src/test/resources/integration_data/onboarding/selc/success_pt_request.json
Labels: functions

#789 [SELC-6858] feat: Added scenario for USERS
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/steps/IntegrationFunctionProfile.java
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/steps/IntegrationOperationUtils.java
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/steps/OnboardingFunctionStep.java
  apps/onboarding-functions/src/test/resources/application.properties
  apps/onboarding-functions/src/test/resources/features/onboarding-fn.feature
  apps/onboarding-functions/src/test/resources/integration_data/institution/institution_example.json
  apps/onboarding-functions/src/test/resources/integration_data/onboarding/selc/failed_users_request.json
  apps/onboarding-functions/src/test/resources/integration_data/onboarding/selc/success_users_request.json
  apps/onboarding-functions/src/test/resources/mock/user-registry-api.json
  apps/onboarding-functions/src/test/resources/test-user-ms.env
Labels: functions

#790 [SELC-6855] feat: added cucumber scenarios for CONTRACT_REGISTRATION and FOR_APPROVE workflow
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/steps/IntegrationObjectUtils.java
  apps/onboarding-functions/src/test/resources/features/onboarding-fn.feature
  apps/onboarding-functions/src/test/resources/integration_data/institution/institution_example.json
  apps/onboarding-functions/src/test/resources/integration_data/onboarding/ipa/failed_contract_registration_request.json
  apps/onboarding-functions/src/test/resources/integration_data/onboarding/ipa/success_contract_registration_request.json
  apps/onboarding-functions/src/test/resources/integration_data/onboarding/selc/failed_for_approve_request.json
  apps/onboarding-functions/src/test/resources/integration_data/onboarding/selc/success_for_approve_request.json
Labels: functions

#791 [SELC-6859] feat: Added scenario for USERS_EA
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/steps/IntegrationObjectUtils.java
  apps/onboarding-functions/src/test/resources/features/onboarding-fn.feature
  apps/onboarding-functions/src/test/resources/integration_data/institution/institution_example.json
  apps/onboarding-functions/src/test/resources/integration_data/onboarding/selc/failed_users_ea_request.json
  apps/onboarding-functions/src/test/resources/integration_data/onboarding/selc/success_users_ea_request.json
  apps/onboarding-functions/src/test/resources/mock/user-registry-api.json
Labels: functions

#792 Removed not empty constraint for onboarding request aggregator
  apps/onboarding-ms/src/main/docs/openapi.json
  apps/onboarding-ms/src/main/docs/openapi.yaml
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/controller/request/OnboardingBaseRequest.java
Labels: onboarding-ms, hotfix

#795 [SELC-6860] feat: Added scenario for USERS_PG
  apps/onboarding-functions/src/test/resources/features/onboarding-fn.feature
  apps/onboarding-functions/src/test/resources/integration_data/onboarding/selc/failed_users_pg_request.json
  apps/onboarding-functions/src/test/resources/integration_data/onboarding/selc/success_users_pg_request.json
Labels: functions

#797 fix: fixed onboarding aggregator increment
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/service/CompletionServiceDefault.java
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/service/CompletionServiceDefaultTest.java
Labels: functions
