Repository pagopa/selfcare-onboarding, pull requests merged in 2025-06, with the labels that each got.

#798 [SELC-7082] feat: added attribute istatCode to OnboardingRequest object
  apps/onboarding-ms/src/main/docs/openapi.json
  apps/onboarding-ms/src/main/docs/openapi.yaml
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/controller/request/InstitutionBaseRequest.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/entity/registry/RegistryManagerIPAUo.java
Labels: onboarding-ms

#800 [SELC-7142] feat: added new workflowType for Aggregation
  libs/onboarding-sdk-azure-storage/pom.xml
  libs/onboarding-sdk-common/pom.xml
  libs/onboarding-sdk-common/src/main/java/it/pagopa/selfcare/onboarding/common/WorkflowType.java
  libs/onboarding-sdk-crypto/pom.xml
  libs/onboarding-sdk-pom/pom.xml
  libs/onboarding-sdk-product/pom.xml
Labels: libs

#803 [SELC-7142] feat: refactor onboarding aggregator/aggregate logic
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/functions/OnboardingFunctions.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/functions/utils/ActivityName.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/mapper/OnboardingMapper.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/service/CompletionService.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/service/CompletionServiceDefault.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/workflow/WorkflowExecutor.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/workflow/WorkflowExecutorConfirmationAggregator.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/workflow/WorkflowExecutorContractRegistrationAggregator.java
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/functions/OnboardingFunctionsTest.java
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/service/CompletionServiceDefaultTest.java
  apps/onboarding-ms/src/main/docs/openapi.json
  apps/onboarding-ms/src/main/docs/openapi.yaml
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/controller/OnboardingController.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/entity/registry/RegistryManagerSELC.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/service/OnboardingServiceDefault.java
  apps/onboarding-ms/src/main/openapi/onboarding_functions.json
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/controller/OnboardingControllerTest.java
Labels: functions, onboarding-ms

#804 Fix function delete onboarding
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/dto/UserInstitutionFilters.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/functions/InstitutionFunctions.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/service/CompletionServiceDefault.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/service/InstitutionService.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/service/UserService.java
  apps/onboarding-functions/src/main/openapi/core.json
  apps/onboarding-functions/src/main/openapi/user.json
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/functions/InstitutionFunctionsTest.java
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/service/InstitutionServiceTest.java
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/service/UserServiceTest.java
Labels: functions

#799 [SELC-7084] feat: added field istatCode into Institution object
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/entity/Institution.java
  apps/onboarding-functions/src/main/openapi/core.json
Labels: functions

#808 [SELC-6979] feat: added logic to send mail for user during onboarding request phase
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/functions/OnboardingFunctions.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/functions/utils/ActivityName.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/mapper/OnboardingMapper.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/mapper/UserMapper.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/service/OnboardingService.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/workflow/WorkflowExecutor.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/workflow/WorkflowExecutorContractRegistration.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/workflow/WorkflowExecutorContractRegistrationAggregator.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/workflow/WorkflowExecutorForApprove.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/workflow/WorkflowExecutorForApproveGpu.java
  apps/onboarding-functions/src/main/openapi/user.json
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/functions/OnboardingFunctionsTest.java
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/service/OnboardingServiceTest.java
Labels: functions

#809 [SELC-7141] feat: added description for send mail to user
  apps/onboarding-functions/src/test/resources/integration_data/onboarding/selc/success_for_approve_gpu_request.json
Labels: functions

#812 [SELC-7212] Update gha
  .github/workflows/call_code_review_resources_infra.yml
  .github/workflows/call_release_resources_infra.yml
  .github/workflows/pr_resources_infra.yml
  .github/workflows/release_infra_resources.yml
  .github/workflows/release_integration_test_infra.yml
  apps/onboarding-functions/src/main/resources/application.properties
  apps/onboarding-ms/src/main/resources/application.properties
  infra/container_apps/onboarding-ms/env/dev/terraform.tfvars
  infra/functions/onboarding-functions/env/dev/terraform.tfvars
  infra/integration-test/integration_test.tf
  infra/resources/_modules/storage_accounts/locals.tf
  infra/resources/_modules/storage_accounts/storage_account.tf
  infra/resources/_modules/storage_accounts/storage_containers.tf
  infra/resources/_modules/storage_accounts/variables.tf
  infra/resources/dev/data.tf
  infra/resources/dev/locals.tf
  infra/resources/dev/storage_documents.tf
Labels: functions, ops, onboarding-ms

#815 [SELC-7212] Update infra for documents storage
  infra/resources/uat/.terraform.lock.hcl
  infra/resources/uat/locals.tf
  infra/resources/uat/storage_documents.tf
Labels: ops
