Repository pagopa/selfcare-onboarding, pull requests merged in 2025-02, with the labels that each got.

#673 [SELC-6056] feat: Added new endpoint into OnboardingController aggregator/import
  apps/onboarding-ms/src/main/docs/openapi.json
  apps/onboarding-ms/src/main/docs/openapi.yaml
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/controller/OnboardingController.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/entity/OnboardingAggregationImportRequest.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/entity/registry/RegistryManagerIPAUo.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/service/OnboardingService.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/service/OnboardingServiceDefault.java
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/controller/OnboardingControllerTest.java
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/service/OnboardingServiceDefaultTest.java
Labels: onboarding-ms

#686 [SELC-6418] feat: update sdk version and added new productId
  libs/onboarding-sdk-azure-storage/pom.xml
  libs/onboarding-sdk-common/pom.xml
  libs/onboarding-sdk-common/src/main/java/it/pagopa/selfcare/onboarding/common/ProductId.java
  libs/onboarding-sdk-crypto/pom.xml
  libs/onboarding-sdk-pom/pom.xml
  libs/onboarding-sdk-product/pom.xml
Labels: libs

#687 feat: update sdk version
  apps/onboarding-functions/pom.xml
  apps/onboarding-ms/pom.xml
  apps/pom.xml
  test-coverage/pom.xml
Labels: functions, onboarding-ms

#688 [SELC-6354] feat: added new logic to validate institution type
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/entity/registry/BaseRegistryManager.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/entity/registry/RegistryManager.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/service/OnboardingServiceDefault.java
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/service/OnboardingServiceDefaultTest.java
Labels: onboarding-ms

#690 fix: updated enableUser to skipUserCreation
  libs/onboarding-sdk-azure-storage/pom.xml
  libs/onboarding-sdk-common/pom.xml
  libs/onboarding-sdk-crypto/pom.xml
  libs/onboarding-sdk-pom/pom.xml
  libs/onboarding-sdk-product/pom.xml
  libs/onboarding-sdk-product/src/main/java/it/pagopa/selfcare/product/entity/ProductRoleInfo.java
Labels: libs

#691 feat: updated sdk dependency
  apps/onboarding-functions/pom.xml
  apps/onboarding-ms/pom.xml
  apps/pom.xml
  test-coverage/pom.xml
Labels: functions, onboarding-ms

#685 [SELC-6356] feat: added check to invoke the function CREATE_USERS_ACTIVITY
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/service/CompletionServiceDefault.java
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/service/CompletionServiceDefaultTest.java
Labels: functions

#693 Revert "[SELC-6373] feat: add new PartyRole ADMIN_EA_IO"
  apps/onboarding-cdc/src/main/openapi/onboarding_functions.json
  apps/onboarding-functions/pom.xml
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/service/CompletionServiceDefault.java
  apps/onboarding-functions/src/main/openapi/core.json
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/service/CompletionServiceDefaultTest.java
  apps/onboarding-ms/pom.xml
  apps/onboarding-ms/src/main/docs/openapi.json
  apps/onboarding-ms/src/main/docs/openapi.yaml
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/controller/OnboardingController.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/controller/OnboardingV2Controller.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/controller/response/OnboardingResponseV1.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/controller/response/PartyRoleV1.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/controller/response/UserOnboardingResponseV1.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/mapper/OnboardingMapper.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/service/OnboardingServiceDefault.java
  apps/onboarding-ms/src/main/openapi/core.json
  apps/onboarding-ms/src/main/openapi/onboarding_functions.json
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/controller/OnboardingControllerTest.java
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/controller/OnboardingV2ControllerTest.java
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/mapper/OnboardingMapperTest.java
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/service/AggregatesServiceDefaultTest.java
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/service/OnboardingServiceDefaultTest.java
  apps/pom.xml
  libs/onboarding-sdk-azure-storage/pom.xml
  libs/onboarding-sdk-common/pom.xml
  libs/onboarding-sdk-common/src/main/java/it/pagopa/selfcare/onboarding/common/PartyRole.java
  libs/onboarding-sdk-crypto/pom.xml
  libs/onboarding-sdk-pom/pom.xml
  libs/onboarding-sdk-product/pom.xml
  test-coverage/pom.xml
Labels: functions, onboarding-ms, libs

#694 [SELC-6374] feat: set role ADMIN_EA for prod-io aggregates
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/mapper/OnboardingMapper.java
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/OnboardingMapperTest.java
Labels: functions

#696 [SELC-6492] Send PSP data for all workflow
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/utils/BaseNotificationBuilder.java
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/utils/StandardNotificationBuilderTest.java
Labels: functions, hotfix

#699 [SELC-6463] feat: added check on product parent onboarding
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/service/OnboardingServiceDefault.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/util/ErrorMessage.java
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/service/OnboardingServiceDefaultTest.java
  infra/container_apps/onboarding-ms/env/dev/terraform.tfvars
  infra/container_apps/onboarding-ms/env/prod/terraform.tfvars
  infra/container_apps/onboarding-ms/env/uat/terraform.tfvars
Labels: ops, onboarding-ms

#701 [SELC-6505] Add new field institutionId on notification event
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/utils/StandardNotificationBuilder.java
Labels: functions, hotfix

#700 [SELC-6435] feat: set CONTRACT_REGISTRATION workflowType for products with parent
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/entity/registry/RegistryManagerSELC.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/service/OnboardingServiceDefault.java
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/service/OnboardingServiceDefaultTest.java
Labels: onboarding-ms

#702 [SELC-6478] feat: added parameter userId for get Onboardings API
  apps/onboarding-ms/src/main/docs/openapi.json
  apps/onboarding-ms/src/main/docs/openapi.yaml
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/controller/OnboardingController.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/model/OnboardingGetFilters.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/service/OnboardingServiceDefault.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/util/QueryUtils.java
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/service/OnboardingServiceDefaultTest.java
Labels: onboarding-ms

#704 [SELC-6439] feat: Added cucumber dependency into MS
  apps/onboarding-ms/pom.xml
Labels: onboarding-ms

#705 Fix method check-manager
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/service/OnboardingServiceDefault.java
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/service/OnboardingServiceDefaultTest.java
Labels: onboarding-ms, hotfix

#706 Merge back from 0.4.12
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/service/OnboardingServiceDefault.java
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/service/OnboardingServiceDefaultTest.java
Labels: onboarding-ms

#707 [SELC-6440] feat: Added env JWT_BEARER_TOKEN (infra)
  infra/container_apps/onboarding-ms/env/dev-pnpg/terraform.tfvars
  infra/container_apps/onboarding-ms/env/dev/terraform.tfvars
  infra/container_apps/onboarding-ms/env/prod-pnpg/terraform.tfvars
  infra/container_apps/onboarding-ms/env/prod/terraform.tfvars
  infra/container_apps/onboarding-ms/env/uat-pnpg/terraform.tfvars
  infra/container_apps/onboarding-ms/env/uat/terraform.tfvars
Labels: ops

#695 feat: Deleted unused files
  infra/test/.terraform.lock.hcl
  infra/test/Selfcare-Integration.postman_environment.json
  infra/test/data.tf
  infra/test/env/dev/backend.ini
  infra/test/env/dev/backend.tfvars
  infra/test/env/dev/terraform.tfvars
  infra/test/integration_test.tf
  infra/test/locals.tf
  infra/test/main.tf
  infra/test/terraform.sh
  infra/test/variables.tf
  integration-test/locals.tf
Labels: ops

#708 [SELC-6440] feat: Added cucumber and init onboarding feature
  apps/onboarding-ms/pom.xml
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/steps/IntegrationProfile.java
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/steps/OnboardingStep.java
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/util/JwtData.java
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/util/JwtUtils.java
  apps/onboarding-ms/src/test/resources/application.properties
  apps/onboarding-ms/src/test/resources/certs/pk-key.pub
  apps/onboarding-ms/src/test/resources/certs/sk-key.pem
  apps/onboarding-ms/src/test/resources/cucumber.properties
  apps/onboarding-ms/src/test/resources/features/onboarding.feature
Labels: onboarding-ms

#709 [SELC-6356] Remove prod-fd-garantito from PROD
  infra/container_apps/onboarding-ms/env/prod/terraform.tfvars
Labels: ops

#710 [SELC-6552] Update origin and originId from updateOnboarding
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/util/QueryUtils.java
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/util/QueryUtilsTest.java
Labels: onboarding-ms, hotfix

#711 [SELC-6552] Update origin and originId from updateOnboarding
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/util/QueryUtils.java
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/util/QueryUtilsTest.java
Labels: onboarding-ms

#713 chore: Avoid error when fileName include accent char
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/dto/NotificationToSend.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/utils/BaseNotificationBuilder.java
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/service/NotificationEventServiceDefaultTest.java
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/utils/StandardNotificationBuilderTest.java
Labels: functions

#715 [SELC-6500] feat: persist billing to onboarding user request
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/service/OnboardingServiceDefault.java
Labels: onboarding-ms

#712 [#SELC-6324] Add Namirial Container App
  infra/container_apps/hub_spid_login/env/prod/terraform.tfvars
  infra/container_apps/namirial-sign/container_app.tf
  infra/container_apps/namirial-sign/data.tf
  infra/container_apps/namirial-sign/env/dev/terraform.tfvars
  infra/container_apps/namirial-sign/env/prod/terraform.tfvars
  infra/container_apps/namirial-sign/env/uat/terraform.tfvars
  infra/container_apps/namirial-sign/locals.tf
  infra/container_apps/namirial-sign/private_dns.tf
  infra/container_apps/namirial-sign/variables.tf
  infra/container_apps/onboarding-cdc/env/prod/terraform.tfvars
  infra/container_apps/onboarding-ms/env/dev-pnpg/terraform.tfvars
  infra/container_apps/onboarding-ms/env/dev/terraform.tfvars
  infra/container_apps/onboarding-ms/env/prod-pnpg/terraform.tfvars
  infra/container_apps/onboarding-ms/env/uat-pnpg/terraform.tfvars
  infra/container_apps/onboarding-ms/env/uat/terraform.tfvars
  infra/dashboards/monitor.tf
  infra/dashboards/variables.tf
  infra/functions/onboarding-functions/env/dev/terraform.tfvars
  infra/functions/onboarding-functions/env/uat-pnpg/terraform.tfvars
  infra/functions/onboarding-functions/env/uat/terraform.tfvars
  infra/functions/onboarding-functions/functions.tf
  infra/functions/onboarding-functions/variables.tf
  infra/integration-test/integration_test.tf
  infra/integration-test/variables.tf
Labels: ops
