Repository pagopa/selfcare-onboarding, pull requests merged in 2025-09, with the labels that each got.

#854 Fixed integration-test action for onboarding-fn
  .github/workflows/cucumber_function_integration_test.yml
Labels: ops

#856 [SELC-7469] feat: added attribute activatedAt into getOnboardingsByFilters API
  apps/onboarding-ms/src/main/docs/openapi.json
  apps/onboarding-ms/src/main/docs/openapi.yaml
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/controller/response/OnboardingGet.java
Labels: onboarding-ms

#859 fix: Added report stage into action for functions
  .github/workflows/cucumber_function_integration_test.yml
Labels: ops

#862 [SELC-7557] feat: added new Payment class for prod-idpay-merchant
  apps/onboarding-ms/src/main/docs/openapi.json
  apps/onboarding-ms/src/main/docs/openapi.yaml
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/controller/request/OnboardingDefaultRequest.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/entity/Onboarding.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/entity/Payment.java
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/controller/OnboardingControllerTest.java
  apps/onboarding-ms/src/test/resources/application.properties
  apps/onboarding-ms/src/test/resources/features/onboarding.feature
  apps/onboarding-ms/src/test/resources/integration-data/pdnd_infocamere/invalid_iban_prv_request.json
  apps/onboarding-ms/src/test/resources/integration-data/pdnd_infocamere/success_iban_prv_request.json
Labels: onboarding-ms

#863 [SELC-7435] feat: Added fields to pdf mapper for prod-idpay-merchant
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/entity/Payment.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/service/ContractServiceDefault.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/utils/PdfMapper.java
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/service/ContractServiceDefaultTest.java
Labels: functions

#860 [SELC-7558] feat: added terraform resource to put encription key on azure key vault
  infra/container_apps/onboarding-ms/env/dev/terraform.tfvars
  infra/container_apps/onboarding-ms/env/prod/terraform.tfvars
  infra/container_apps/onboarding-ms/env/uat/terraform.tfvars
  infra/resources/dev/encryption_key.tf
  infra/resources/dev/main.tf
  infra/resources/prod/encryption_key.tf
  infra/resources/prod/main.tf
  infra/resources/uat/encryption_key.tf
  infra/resources/uat/main.tf
Labels: ops

#864 [SELC-7588] feat: Added scenario for prod prod-idpay-merchant
  .github/workflows/cucumber_function_integration_test.yml
  apps/onboarding-functions/pom.xml
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/entity/Onboarding.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/entity/Payment.java
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/service/ContractServiceDefaultTest.java
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/steps/OnboardingFunctionStep.java
  apps/onboarding-functions/src/test/resources/Dockerfile-azure-cli
  apps/onboarding-functions/src/test/resources/blobStorageInit/init_azurite.sh
  apps/onboarding-functions/src/test/resources/features/onboarding-fn.feature
  apps/onboarding-functions/src/test/resources/fn/dummy-accordo_di_adesione.html
  apps/onboarding-functions/src/test/resources/integration_data/onboarding/selc/success_contract_registration_prv_request.json
  apps/onboarding-ms/pom.xml
  apps/pom.xml
  test-coverage/pom.xml
Labels: functions, ops, onboarding-ms

#868 [SELC-7561] feat: added logic to encrypt sensitive data for payment node
  apps/onboarding-ms/pom.xml
  apps/onboarding-ms/src/main/docs/openapi.json
  apps/onboarding-ms/src/main/docs/openapi.yaml
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/conf/DataEncryptionConfig.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/controller/request/OnboardingDefaultRequest.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/controller/request/PaymentRequestDto.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/entity/Payment.java
  apps/onboarding-ms/src/main/resources/application.properties
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/controller/OnboardingControllerTest.java
Labels: onboarding-ms

#871 [SELC-7439] feat: added payment node into API getOnboaringByFilters
  apps/onboarding-ms/src/main/docs/openapi.json
  apps/onboarding-ms/src/main/docs/openapi.yaml
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/controller/response/InstitutionResponse.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/controller/response/OnboardingGet.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/controller/response/PaymentResponse.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/entity/Payment.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/mapper/OnboardingMapper.java
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/service/OnboardingServiceDefaultTest.java
Labels: onboarding-ms

#870 [SELC-7562] feat: Added into mapper decrypted fields for node payments
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/config/DataEncryptionConfig.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/entity/Payment.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/utils/PdfMapper.java
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/service/ContractServiceDefaultTest.java
  apps/onboarding-functions/src/test/resources/application.properties
  apps/onboarding-functions/src/test/resources/fn/application.properties
  apps/onboarding-functions/src/test/resources/integration_data/onboarding/selc/success_contract_registration_prv_request.json
  apps/onboarding-functions/src/test/resources/test-integration-function.env
  infra/functions/onboarding-functions/env/dev/terraform.tfvars
  infra/functions/onboarding-functions/env/prod/terraform.tfvars
  infra/functions/onboarding-functions/env/uat/terraform.tfvars
Labels: functions, ops

#877 fix: updated store onboarding activatedAt logic
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/service/CompletionServiceDefault.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/workflow/WorkflowExecutor.java
Labels: functions

#882 [SELC-7612] feat: Added allowedInstitutionByTaxCode into sdk
  libs/onboarding-sdk-azure-storage/pom.xml
  libs/onboarding-sdk-common/pom.xml
  libs/onboarding-sdk-crypto/pom.xml
  libs/onboarding-sdk-pom/pom.xml
  libs/onboarding-sdk-product/pom.xml
  libs/onboarding-sdk-product/src/main/java/it/pagopa/selfcare/product/entity/Product.java
  libs/onboarding-sdk-product/src/main/java/it/pagopa/selfcare/product/service/ProductService.java
  libs/onboarding-sdk-product/src/main/java/it/pagopa/selfcare/product/service/ProductServiceCacheable.java
  libs/onboarding-sdk-product/src/main/java/it/pagopa/selfcare/product/service/ProductServiceDefault.java
  libs/onboarding-sdk-product/src/test/java/it/pagopa/selfcare/product/service/ProductServiceDefaultTest.java
Labels: libs

#883 [SELC-7648] feat: added new boolean and logic to encrypt sole trader data
  apps/onboarding-ms/src/main/docs/openapi.json
  apps/onboarding-ms/src/main/docs/openapi.yaml
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/controller/request/OnboardingBaseRequest.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/entity/Institution.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/entity/Onboarding.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/mapper/OnboardingMapper.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/service/OnboardingServiceDefault.java
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/mapper/OnboardingMapperTest.java
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/service/OnboardingServiceDefaultTest.java
Labels: onboarding-ms

#886 feat: updated verify onboarding logic for sole trader
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/utils/BaseNotificationBuilder.java
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/utils/NotificationBuilderTestUtil.java
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/utils/StandardNotificationBuilderTest.java
  apps/onboarding-ms/src/main/docs/openapi.json
  apps/onboarding-ms/src/main/docs/openapi.yaml
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/controller/OnboardingController.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/service/OnboardingService.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/service/OnboardingServiceDefault.java
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/controller/OnboardingControllerTest.java
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/service/OnboardingServiceDefaultTest.java
Labels: functions, onboarding-ms

#885 [SELC-7664] feat: Added new implementation for validation by institutionTaxCode
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/service/OnboardingServiceDefault.java
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/service/OnboardingServiceDefaultTest.java
Labels: onboarding-ms

#887 [SELC-7657] feat: Added method to return expirationDate by product
  libs/onboarding-sdk-azure-storage/pom.xml
  libs/onboarding-sdk-common/pom.xml
  libs/onboarding-sdk-crypto/pom.xml
  libs/onboarding-sdk-pom/pom.xml
  libs/onboarding-sdk-product/pom.xml
  libs/onboarding-sdk-product/src/main/java/it/pagopa/selfcare/product/entity/Product.java
  libs/onboarding-sdk-product/src/main/java/it/pagopa/selfcare/product/service/ProductService.java
  libs/onboarding-sdk-product/src/main/java/it/pagopa/selfcare/product/service/ProductServiceCacheable.java
  libs/onboarding-sdk-product/src/main/java/it/pagopa/selfcare/product/service/ProductServiceDefault.java
  libs/onboarding-sdk-product/src/test/java/it/pagopa/selfcare/product/service/ProductServiceCacheableTest.java
  libs/onboarding-sdk-product/src/test/java/it/pagopa/selfcare/product/service/ProductServiceDefaultTest.java
Labels: libs

#888 [SELC-7692] feat: Updated sdk version
  apps/onboarding-functions/pom.xml
  apps/onboarding-ms/pom.xml
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/steps/IntegrationProductService.java
  apps/pom.xml
  test-coverage/pom.xml
Labels: functions, onboarding-ms

#889 [SELC-7686] feat: updated methods to encrypt and decrypt
  libs/onboarding-sdk-azure-storage/pom.xml
  libs/onboarding-sdk-common/pom.xml
  libs/onboarding-sdk-crypto/pom.xml
  libs/onboarding-sdk-crypto/src/main/java/it/pagopa/selfcare/onboarding/crypto/utils/DataEncryptionUtils.java
  libs/onboarding-sdk-crypto/src/test/java/it/pagopa/selfcare/onboarding/crypto/utils/DataEncryptionUtilTest.java
  libs/onboarding-sdk-pom/pom.xml
  libs/onboarding-sdk-product/pom.xml
Labels: libs
