Repository pagopa/selfcare-onboarding, pull requests merged in 2025-04, with the labels that each got.

#745 [SELC-6798] fix: allowed duplicate institution onboarding with different institut…
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/service/CompletionServiceDefault.java
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/service/CompletionServiceDefaultTest.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/service/OnboardingServiceDefault.java
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/service/OnboardingServiceDefaultTest.java
Labels: functions, onboarding-ms, hotfix

#746 [SELC-6542] feat: added cucumber tests for onboarding PA
  .github/workflows/call_code_review.yml
  .github/workflows/call_code_review_integration_test.yml
  .github/workflows/release_integration_test_infra.yml
  apps/onboarding-ms/pom.xml
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/controller/OnboardingController.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/controller/request/OnboardingDefaultRequest.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/entity/registry/BaseRegistryManager.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/entity/registry/RegistryManagerIPAGps.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/entity/registry/RegistryResourceFactory.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/entity/registry/client/ClientRegistryIPA.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/service/OnboardingServiceDefault.java
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/entity/RegistryResourceProviderTest.java
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/steps/IntegrationAuthenticationHeadersFactory.java
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/steps/IntegrationOnboardingPAResources.java
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/steps/IntegrationProductService.java
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/steps/OnboardingStep.java
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/steps/ScenarioContext.java
  apps/onboarding-ms/src/test/resources/application.properties
  apps/onboarding-ms/src/test/resources/features/onboarding.feature
  apps/onboarding-ms/src/test/resources/integration_data/duplicated_onboarding_request.json
  apps/onboarding-ms/src/test/resources/integration_data/empty_origin_request.json
  apps/onboarding-ms/src/test/resources/integration_data/empty_pec_request.json
  apps/onboarding-ms/src/test/resources/integration_data/empty_users_request.json
  apps/onboarding-ms/src/test/resources/integration_data/invalid_billing_uo_request.json
  apps/onboarding-ms/src/test/resources/integration_data/invalid_child_product_request.json
  apps/onboarding-ms/src/test/resources/integration_data/invalid_gsp_note_request.json
  apps/onboarding-ms/src/test/resources/integration_data/invalid_gsp_request.json
  apps/onboarding-ms/src/test/resources/integration_data/invalid_io_premium_request.json
  apps/onboarding-ms/src/test/resources/integration_data/invalid_proxy_pec_request.json
  apps/onboarding-ms/src/test/resources/integration_data/invalid_proxy_recipient_code_request.json
  apps/onboarding-ms/src/test/resources/integration_data/invalid_recipient_code_uo_request.json
  apps/onboarding-ms/src/test/resources/integration_data/invalid_request.json
  apps/onboarding-ms/src/test/resources/integration_data/products.json
  apps/onboarding-ms/src/test/resources/integration_data/success_aoo_request.json
  apps/onboarding-ms/src/test/resources/integration_data/success_pa_request.json
  apps/onboarding-ms/src/test/resources/integration_data/success_uo_request.json
  infra/integration-test/integration_test.tf
  integration-test/mongo/dummy_data.json
Labels: ops, onboarding-ms

#749 fix: Added tag for api-group "conservazione" function
  apps/onboarding-functions/src/main/openapi/openapi.json
Labels: functions

#753 [SELC-6813] feat: added testInstitution field to InstitutionToNotify
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/dto/InstitutionToNotify.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/service/CompletionServiceDefault.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/utils/BaseNotificationBuilder.java
  apps/onboarding-functions/src/main/openapi/core.json
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/service/CompletionServiceDefaultTest.java
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/utils/StandardNotificationBuilderTest.java
Labels: functions

#754 [SELC-6697] feat: added validation for aggregates on registry proxy
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/entity/registry/RegistryManagerIPA.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/entity/registry/RegistryManagerIPAAoo.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/entity/registry/RegistryManagerIPAGps.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/entity/registry/RegistryManagerIPAUo.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/mapper/InstitutionMapper.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/service/OnboardingServiceDefault.java
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/service/OnboardingServiceDefaultTest.java
Labels: onboarding-ms

#756 [SELC-6821] feat: added gsp not ipa scenario
  apps/onboarding-ms/src/test/resources/features/onboarding.feature
  apps/onboarding-ms/src/test/resources/integration_data/invalid_request_gsp_not_ipa.json
  apps/onboarding-ms/src/test/resources/integration_data/success_gsp_not_ipa_request.json
Labels: onboarding-ms

#755 [SELC-6405] feat: remove unused fields from contract aggregates csv
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/entity/AggregateInstitution.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/service/ContractServiceDefault.java
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/service/ContractServiceDefaultTest.java
Labels: functions

#757 [SELC-6837] feat: Refactored logic to read allowed list for products
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/service/OnboardingServiceDefault.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/service/strategy/ConfigAllowedProductListOnboardingValidationStrategy.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/service/strategy/ConfigMapAllowedListOnboardingValidationStrategy.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/service/strategy/OnboardingValidationStrategy.java
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/service/OnboardingServiceDefaultTest.java
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/service/strategy/ConfigAllowedProductListOnboardingValidationStrategyTest.java
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/service/strategy/ConfigMapAllowedListOnboardingValidationStrategyTest.java
  infra/container_apps/onboarding-ms/env/dev-pnpg/terraform.tfvars
  infra/container_apps/onboarding-ms/env/dev/terraform.tfvars
  infra/container_apps/onboarding-ms/env/uat-pnpg/terraform.tfvars
  infra/container_apps/onboarding-ms/env/uat/terraform.tfvars
Labels: ops, onboarding-ms

#760 fix: moved testInstitution field from InstitutionToNotify to Notifica…
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/dto/InstitutionToNotify.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/dto/NotificationToSend.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/utils/BaseNotificationBuilder.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/utils/StandardNotificationBuilder.java
Labels: functions

#761 fix: moved testInstitution field from InstitutionToNotify to Notifica…
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/dto/InstitutionToNotify.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/dto/NotificationToSend.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/utils/BaseNotificationBuilder.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/utils/StandardNotificationBuilder.java
Labels: functions, hotfix

#758 [SELC-6408] feat: remove unused fields from aggregates verification API for pagopa
  apps/onboarding-ms/src/main/docs/openapi.json
  apps/onboarding-ms/src/main/docs/openapi.yaml
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/controller/request/AggregateInstitutionRequest.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/entity/AggregateInstitution.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/model/Aggregate.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/model/CsvAggregatePagoPa.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/service/AggregatesServiceDefault.java
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/model/CsvAggregatePagoPaTest.java
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/service/AggregatesServiceDefaultTest.java
  apps/onboarding-ms/src/test/resources/aggregates-pagopa.csv
Labels: onboarding-ms

#762 [SELC-6852] feat: added success onboarding CON
  apps/onboarding-ms/src/test/resources/features/onboarding.feature
  apps/onboarding-ms/src/test/resources/integration_data/success_con_request.json
Labels: onboarding-ms

#763 [SELC-6846] feat: Added scenario for InstitutionType PRV
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/steps/IntegrationOnboardingPAResources.java
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/steps/IntegrationOnboardingResources.java
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/steps/OnboardingStep.java
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/steps/ScenarioContext.java
  apps/onboarding-ms/src/test/resources/application.properties
  apps/onboarding-ms/src/test/resources/features/onboarding.feature
  apps/onboarding-ms/src/test/resources/integration_data/ipa/duplicated_onboarding_request.json
  apps/onboarding-ms/src/test/resources/integration_data/ipa/empty_origin_request.json
  apps/onboarding-ms/src/test/resources/integration_data/ipa/empty_pec_request.json
  apps/onboarding-ms/src/test/resources/integration_data/ipa/empty_users_request.json
  apps/onboarding-ms/src/test/resources/integration_data/ipa/invalid_billing_uo_request.json
  apps/onboarding-ms/src/test/resources/integration_data/ipa/invalid_child_product_request.json
  apps/onboarding-ms/src/test/resources/integration_data/ipa/invalid_gsp_note_request.json
  apps/onboarding-ms/src/test/resources/integration_data/ipa/invalid_gsp_request.json
  apps/onboarding-ms/src/test/resources/integration_data/ipa/invalid_io_premium_request.json
  apps/onboarding-ms/src/test/resources/integration_data/ipa/invalid_proxy_pec_request.json
  apps/onboarding-ms/src/test/resources/integration_data/ipa/invalid_proxy_recipient_code_request.json
  apps/onboarding-ms/src/test/resources/integration_data/ipa/invalid_recipient_code_uo_request.json
  apps/onboarding-ms/src/test/resources/integration_data/ipa/invalid_request.json
  apps/onboarding-ms/src/test/resources/integration_data/ipa/success_aoo_request.json
  apps/onboarding-ms/src/test/resources/integration_data/ipa/success_pa_request.json
  apps/onboarding-ms/src/test/resources/integration_data/ipa/success_uo_request.json
  apps/onboarding-ms/src/test/resources/integration_data/selc/invalid_gsp_selc_request.json
  apps/onboarding-ms/src/test/resources/integration_data/selc/success_con_request.json
  apps/onboarding-ms/src/test/resources/integration_data/selc/success_gsp_request.json
  apps/onboarding-ms/src/test/resources/integration_data/selc/success_prv_request.json
Labels: onboarding-ms

#764 [SELC-6851] feat: added success onboarding REC
  apps/onboarding-ms/src/test/resources/features/onboarding.feature
  apps/onboarding-ms/src/test/resources/integration_data/selc/success_rec_request.json
Labels: onboarding-ms

#765 [SELC-6853] feat: added cucumber test for PNPG
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/steps/OnboardingStep.java
  apps/onboarding-ms/src/test/resources/features/onboarding.feature
  apps/onboarding-ms/src/test/resources/integration_data/infocamere/institution_not_into_registry_request.json
  apps/onboarding-ms/src/test/resources/integration_data/infocamere/invalid_digital_address_pg_request.json
  apps/onboarding-ms/src/test/resources/integration_data/infocamere/invalid_origin_pg_request.json
  apps/onboarding-ms/src/test/resources/integration_data/infocamere/invalid_product_pg_request.json
  apps/onboarding-ms/src/test/resources/integration_data/infocamere/invalid_tax_code_pg_request.json
  apps/onboarding-ms/src/test/resources/integration_data/infocamere/invalid_user_pg_request.json
  apps/onboarding-ms/src/test/resources/integration_data/infocamere/success_pg_request.json
  apps/onboarding-ms/src/test/resources/integration_data/products.json
Labels: onboarding-ms

#766 [SELC-6849] feat: added cucumber scenario for IVASS
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/constants/CustomError.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/entity/registry/client/ClientRegistryIVASS.java
  apps/onboarding-ms/src/test/resources/features/onboarding.feature
  apps/onboarding-ms/src/test/resources/integration_data/ivass/invalid_origin_sa_request.json
  apps/onboarding-ms/src/test/resources/integration_data/ivass/invalid_sa_request.json
  apps/onboarding-ms/src/test/resources/integration_data/ivass/success_foreign_sa_request.json
  apps/onboarding-ms/src/test/resources/integration_data/ivass/success_sa_request.json
Labels: onboarding-ms

#768 [SELC-6850] feat: added cucumber scenarios for ANAC
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/constants/CustomError.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/entity/registry/client/ClientRegistryANAC.java
  apps/onboarding-ms/src/main/resources/application.properties
  apps/onboarding-ms/src/test/resources/features/onboarding.feature
  apps/onboarding-ms/src/test/resources/integration_data/anac/invalid_as_request.json
  apps/onboarding-ms/src/test/resources/integration_data/anac/invalid_origin_as_request.json
  apps/onboarding-ms/src/test/resources/integration_data/anac/success_as_request.json
Labels: onboarding-ms

#770 [SELC-6854] feat: added cucumber test for aggregator
  apps/onboarding-ms/src/test/resources/features/onboarding.feature
  apps/onboarding-ms/src/test/resources/integration_data/aggregator/ipa/invalid_aggregate_pa_request.json
  apps/onboarding-ms/src/test/resources/integration_data/aggregator/ipa/success_aggregation_pa_request.json
  apps/onboarding-ms/src/test/resources/integration_data/aggregator/selc/success_aggregation_gpu_request.json
Labels: onboarding-ms

#769 [SELC-6884] Retrieve only valid contract
  apps/onboarding-functions/pom.xml
  apps/onboarding-ms/pom.xml
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/controller/TokenController.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/service/SignatureService.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/service/SignatureServiceDefault.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/service/TokenService.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/service/TokenServiceDefault.java
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/controller/TokenControllerTest.java
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/service/SignatureServiceDefaultTest.java
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/service/TokenServiceDefaultTest.java
  apps/onboarding-ms/src/test/resources/documents/contract_error.p7m
  apps/onboarding-ms/src/test/resources/documents/test.pdf
  apps/onboarding-ms/src/test/resources/documents/test.pdf.p7m
  apps/pom.xml
  libs/onboarding-sdk-azure-storage/pom.xml
  libs/onboarding-sdk-azure-storage/src/main/java/it/pagopa/selfcare/azurestorage/AzureBlobClient.java
  libs/onboarding-sdk-azure-storage/src/main/java/it/pagopa/selfcare/azurestorage/AzureBlobClientDefault.java
  libs/onboarding-sdk-common/pom.xml
  libs/onboarding-sdk-crypto/pom.xml
  libs/onboarding-sdk-pom/pom.xml
  libs/onboarding-sdk-product/pom.xml
  test-coverage/pom.xml
Labels: functions, onboarding-ms, libs

#774 fix: updated allowed list prod
  infra/container_apps/onboarding-ms/env/prod/terraform.tfvars
Labels: ops, hotfix

#771 [SELC-6848] feat: Added scenario for InstitutionType PT
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/entity/registry/BaseRegistryManager.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/entity/registry/RegistryManagerPT.java
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/entity/registry/RegistryManagerPTTest.java
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/steps/IntegrationProfile.java
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/steps/OnboardingStep.java
  apps/onboarding-ms/src/test/resources/features/onboarding.feature
  apps/onboarding-ms/src/test/resources/integration_data/selc/invalid_pt_request.json
  apps/onboarding-ms/src/test/resources/integration_data/selc/success_pt_request.json
Labels: onboarding-ms

#772 [SELC-6845] feat: Added cucumber scenarios for PSP
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/steps/OnboardingStep.java
  apps/onboarding-ms/src/test/resources/features/onboarding.feature
  apps/onboarding-ms/src/test/resources/integration_data/anac/invalid_origin_sa_request.json
  apps/onboarding-ms/src/test/resources/integration_data/anac/invalid_sa_request.json
  apps/onboarding-ms/src/test/resources/integration_data/anac/success_sa_request.json
  apps/onboarding-ms/src/test/resources/integration_data/ivass/invalid_as_request.json
  apps/onboarding-ms/src/test/resources/integration_data/ivass/invalid_origin_as_request.json
  apps/onboarding-ms/src/test/resources/integration_data/ivass/success_as_request.json
  apps/onboarding-ms/src/test/resources/integration_data/ivass/success_foreign_sa_request.json
  apps/onboarding-ms/src/test/resources/integration_data/selc/invalid_child_dashboard_psp_request.json
  apps/onboarding-ms/src/test/resources/integration_data/selc/invalid_import_psp_request.json
  apps/onboarding-ms/src/test/resources/integration_data/selc/invalid_psp_request.json
  apps/onboarding-ms/src/test/resources/integration_data/selc/success_import_psp_request.json
  apps/onboarding-ms/src/test/resources/integration_data/selc/success_psp_request.json
Labels: onboarding-ms

#775 [SELC-6884] Retrieve only valid contract
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/service/TokenServiceDefault.java
Labels: onboarding-ms

#776 [SELC-6844] feat: Added scenario for InstitutionType SCP
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/entity/registry/client/ClientRegistryPDNDInfocamere.java
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/steps/IntegrationProductService.java
  apps/onboarding-ms/src/test/resources/features/onboarding.feature
  apps/onboarding-ms/src/test/resources/integration_data/pdnd_infocamere/invalid_case1_scp_request.json
  apps/onboarding-ms/src/test/resources/integration_data/pdnd_infocamere/invalid_case2_scp_request.json
  apps/onboarding-ms/src/test/resources/integration_data/pdnd_infocamere/success_scp_request.json
Labels: onboarding-ms

#777 [SELC-6897] feat: added cucumber scenarios for workflowType USERS
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/steps/OnboardingStep.java
  apps/onboarding-ms/src/test/resources/features/onboarding.feature
  apps/onboarding-ms/src/test/resources/integration_data/users/invalid_empty_origin_request.json
  apps/onboarding-ms/src/test/resources/integration_data/users/invalid_empty_product_request.json
  apps/onboarding-ms/src/test/resources/integration_data/users/invalid_missing_onboarding_request.json
  apps/onboarding-ms/src/test/resources/integration_data/users/invalid_user_request.json
  apps/onboarding-ms/src/test/resources/integration_data/users/success_user_request.json
Labels: onboarding-ms
