Repository pagopa/selfcare-onboarding, pull requests merged in 2025-01, with the labels that each got.

#663 [SELC-6150] feat: add institutionAggregatorContractMappings field in Product
  apps/onboarding-functions/pom.xml
  apps/onboarding-ms/pom.xml
  apps/pom.xml
  libs/onboarding-sdk-azure-storage/pom.xml
  libs/onboarding-sdk-common/pom.xml
  libs/onboarding-sdk-crypto/pom.xml
  libs/onboarding-sdk-pom/pom.xml
  libs/onboarding-sdk-product/pom.xml
  libs/onboarding-sdk-product/src/main/java/it/pagopa/selfcare/product/entity/Product.java
  test-coverage/pom.xml
Labels: functions, onboarding-ms, libs

#662 [SELC-6140] feat: manage aggregates csv for SEND
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/service/ContractServiceDefault.java
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/service/ContractServiceDefaultTest.java
Labels: functions

#664 Fix get contract
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/service/ContractServiceDefault.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/service/TokenServiceDefault.java
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/service/TokenServiceDefaultTest.java
Labels: functions, onboarding-ms, hotfix

#665 [SELC-5896] feat: Added new value into OnboardingResponse for endpoint
  apps/onboarding-ms/src/main/docs/openapi.json
  apps/onboarding-ms/src/main/docs/openapi.yaml
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/controller/response/OnboardingResponse.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/service/OnboardingServiceDefault.java
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/controller/OnboardingControllerTest.java
Labels: onboarding-ms

#666 [SELC-6141] feat: change getContract for aggregators
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/entity/OnboardingWorkflowAggregator.java
Labels: functions

#667 Removed io premium
  infra/container_apps/onboarding-ms/env/prod/terraform.tfvars
Labels: ops, hotfix

#669 Added io premium into ONBOARDING_ALLOWED_INSTITUTIONS_PRODUCTS
  infra/container_apps/onboarding-ms/env/prod/terraform.tfvars
Labels: ops, hotfix

#668 [SELC-6140] fix: modify aggregate admin info setting for send
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/service/ContractServiceDefault.java
Labels: functions

#670 [SELC-6144] feat: mapping placeholders in send aggregates contract
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/service/ContractServiceDefault.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/utils/PdfMapper.java
Labels: functions

#672 [SELC-62299] feat: add formal checks in aggregates csv verification
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/service/AggregatesServiceDefault.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/util/Utils.java
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/service/AggregatesServiceDefaultTest.java
  apps/onboarding-ms/src/test/resources/aggregates-appio.csv
  apps/onboarding-ms/src/test/resources/aggregates-pagopa.csv
  apps/onboarding-ms/src/test/resources/aggregates-send.csv
Labels: onboarding-ms

#674 [SELC-6245] feat: changed email template path for null manager
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/entity/OnboardingWorkflowUser.java
Labels: functions

#671 [SELC-6245] feat: fixed scenario for check manager in case of empty onboardings
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/service/OnboardingServiceDefault.java
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/service/OnboardingServiceDefaultTest.java
Labels: onboarding-ms

#675 [SELC-6285] feat: added check pricing plan
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/entity/registry/BaseRegistryManager.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/entity/registry/RegistryManagerIPA.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/entity/registry/RegistryManagerIPAUo.java
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/service/OnboardingServiceDefaultTest.java
Labels: onboarding-ms

#676 [SELC-6334] feat: Added new enum for import aggregation
  libs/onboarding-sdk-azure-storage/pom.xml
  libs/onboarding-sdk-common/pom.xml
  libs/onboarding-sdk-common/src/main/java/it/pagopa/selfcare/onboarding/common/WorkflowType.java
  libs/onboarding-sdk-crypto/pom.xml
  libs/onboarding-sdk-pom/pom.xml
  libs/onboarding-sdk-product/pom.xml
Labels: libs

#677 [SELC-6335] feat: Updated sdk
  apps/onboarding-functions/pom.xml
  apps/onboarding-ms/pom.xml
  apps/pom.xml
  test-coverage/pom.xml
Labels: functions, onboarding-ms

#680 [SELC-6341] Adding new API for check if contractSigned file is CADES
  .gitignore
  apps/onboarding-ms/src/main/docs/openapi.json
  apps/onboarding-ms/src/main/docs/openapi.yaml
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/controller/TokenController.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/controller/response/ContractSignedReport.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/service/SignatureService.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/service/SignatureServiceDefault.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/service/TokenService.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/service/TokenServiceDefault.java
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/controller/TokenControllerTest.java
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/service/TokenServiceDefaultTest.java
Labels: onboarding-ms, hotfix

#681 [SELC-6246] fix: added check for previous manager in case of new user onboarding
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/repository/OnboardingRepository.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/service/OnboardingService.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/utils/QueryUtils.java
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/repository/OnboardingRepositoryTest.java
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/service/OnboardingServiceTest.java
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/utils/QueryUtilsTest.java
Labels: functions

#683 [SELC-6352] feat: added new fields to Product and updated SDK version
  libs/onboarding-sdk-azure-storage/pom.xml
  libs/onboarding-sdk-common/pom.xml
  libs/onboarding-sdk-crypto/pom.xml
  libs/onboarding-sdk-pom/pom.xml
  libs/onboarding-sdk-product/pom.xml
  libs/onboarding-sdk-product/src/main/java/it/pagopa/selfcare/product/entity/Product.java
  libs/onboarding-sdk-product/src/main/java/it/pagopa/selfcare/product/entity/ProductRoleInfo.java
Labels: libs

#684 [SELC-6353] feat: update sdk version dependency
  apps/onboarding-functions/pom.xml
  apps/onboarding-ms/pom.xml
  apps/pom.xml
  test-coverage/pom.xml
Labels: functions, onboarding-ms
