Repository pagopa/selfcare-onboarding, pull requests merged in 2025-07, with the labels that each got.

#824 fix: updated digest check
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/service/SignatureServiceDefault.java
Labels: onboarding-ms, hotfix

#825 fix: updated digest check
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/service/SignatureServiceDefault.java
Labels: onboarding-ms

#826 [SELC-7212] Update deleteOnboarding function
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/functions/TokenFunctions.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/service/ContractService.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/service/ContractServiceDefault.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/service/OnboardingService.java
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/functions/TokenFunctionsTest.java
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/service/ContractServiceDefaultTest.java
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/service/OnboardingServiceTest.java
  infra/resources/dev/storage_documents.tf
  infra/resources/prod/storage_documents.tf
  infra/resources/uat/storage_documents.tf
Labels: functions, ops

#831 Added prod-idpay e prod-idpay-merchant into allowed onboarding products
  infra/container_apps/onboarding-ms/env/dev/terraform.tfvars
  infra/container_apps/onboarding-ms/env/uat/terraform.tfvars
Labels: ops

#833 [SELC-7355] feat: added field atecoCodes into Institution object
  apps/onboarding-ms/src/main/docs/openapi.json
  apps/onboarding-ms/src/main/docs/openapi.yaml
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/controller/request/InstitutionBaseRequest.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/entity/Institution.java
Labels: onboarding-ms

#835 [SELC-7358] feat: added azure function to store visura document
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/entity/Institution.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/functions/OnboardingFunctions.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/functions/utils/ActivityName.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/service/OnboardingService.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/workflow/WorkflowExecutor.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/workflow/WorkflowExecutorContractRegistration.java
  apps/onboarding-functions/src/main/openapi/party_registry_proxy.json
  apps/onboarding-functions/src/main/resources/application.properties
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/functions/OnboardingFunctionsTest.java
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/service/OnboardingServiceTest.java
Labels: functions

#839 Update libs sdk
  apps/onboarding-functions/pom.xml
  apps/onboarding-ms/pom.xml
  apps/pom.xml
  test-coverage/pom.xml
Labels: functions, onboarding-ms

#841 feat: updated dss library according to standard
  apps/onboarding-functions/pom.xml
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/service/ContractServiceDefault.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/service/OnboardingService.java
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/service/OnboardingServiceTest.java
Labels: functions
