Repository pagopa/selfcare-onboarding, pull requests merged in 2025-03, with the labels that each got.

#717 [SELC-6326] Enable Namirial Container app in PROD
  infra/functions/onboarding-functions/env/prod/terraform.tfvars
Labels: ops

#718 [SELC-6289] feat: updated company PEC
  infra/container_apps/hub_spid_login/env/dev-pnpg/terraform.tfvars
  infra/container_apps/hub_spid_login/env/dev/terraform.tfvars
  infra/container_apps/hub_spid_login/env/prod-pnpg/terraform.tfvars
  infra/container_apps/hub_spid_login/env/prod/terraform.tfvars
  infra/container_apps/hub_spid_login/env/uat-pnpg/terraform.tfvars
  infra/container_apps/hub_spid_login/env/uat/terraform.tfvars
Labels: ops

#721 feat: updated release_onboarding.yml
  .github/workflows/release_onboarding.yml
Labels: ops, hotfix

#722 [SELC-6625] feat: added api to retrieve institutions given a list of ids
  .github/workflows/call_code_review.yml
  apps/onboarding-ms/src/main/docs/openapi.json
  apps/onboarding-ms/src/main/docs/openapi.yaml
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/controller/InstitutionController.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/controller/request/GetInstitutionRequest.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/service/InstitutionService.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/service/InstitutionServiceDefault.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/util/QueryUtils.java
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/controller/InstitutionControllerTest.java
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/service/InstitutionServiceDefaultTest.java
Labels: ops, onboarding-ms

#725 [SELC-6589] feat: Deleted prod-fd and prod-fd-garantito from ALLOWED_LIST
  infra/container_apps/onboarding-ms/env/dev/terraform.tfvars
  infra/container_apps/onboarding-ms/env/uat/terraform.tfvars
Labels: ops

#727 feat: added CONTRACT_REGISTRATION_AGGREGATOR workflowType for SELC
  .github/workflows/call_code_review.yml
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/entity/registry/RegistryManagerSELC.java
Labels: ops, onboarding-ms, hotfix

#726 [SELC-6660] feat: Added mapping for new product prod-dashboard-psp
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/service/ContractServiceDefault.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/utils/PdfMapper.java
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/service/ContractServiceDefaultTest.java
Labels: functions

#728 [SELC-6598] feat: added az function to delete institution and user
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/dto/UserInstitutionFilters.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/functions/InstitutionFunctions.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/functions/utils/ActivityName.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/repository/OnboardingRepository.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/service/InstitutionService.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/service/UserService.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/utils/QueryUtils.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/utils/Utils.java
  apps/onboarding-functions/src/main/openapi/core.json
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/functions/InstitutionFunctionsTest.java
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/repository/OnboardingRepositoryTest.java
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/service/InstitutionServiceTest.java
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/service/UserServiceTest.java
Labels: functions

#732 [SELC-6596] feat: added api to delete onboarding given its identifier
  apps/onboarding-ms/src/main/docs/openapi.json
  apps/onboarding-ms/src/main/docs/openapi.yaml
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/controller/OnboardingController.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/service/InstitutionService.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/service/OnboardingService.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/service/OnboardingServiceDefault.java
  apps/onboarding-ms/src/main/openapi/onboarding_functions.json
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/controller/OnboardingControllerTest.java
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/service/OnboardingServiceDefaultTest.java
Labels: onboarding-ms

#733 fix: fixed pdfMapper condition for setUpPSPData
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/service/ContractServiceDefault.java
Labels: functions, hotfix

#730 [SELC-6623] feat: Added new endpoint to retrive from token contract signed path
  apps/onboarding-ms/src/main/docs/openapi.json
  apps/onboarding-ms/src/main/docs/openapi.yaml
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/controller/TokenController.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/service/TokenService.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/service/TokenServiceDefault.java
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/controller/TokenControllerTest.java
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/service/TokenServiceDefaultTest.java
Labels: onboarding-ms

#736 [SELC-6596] fix: added tag for the api DELETE /onboarding/{id}
  apps/onboarding-ms/src/main/docs/openapi.json
  apps/onboarding-ms/src/main/docs/openapi.yaml
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/controller/OnboardingController.java
Labels: onboarding-ms

#737 chore: renamed operationId for delete onboarding API
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/controller/OnboardingController.java
Labels: onboarding-ms

#738 Fix updated at delete onboarding
  apps/onboarding-ms/src/main/docs/openapi.json
  apps/onboarding-ms/src/main/docs/openapi.yaml
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/controller/OnboardingController.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/service/OnboardingServiceDefault.java
Labels: onboarding-ms

#735 fix: update release/0.4.17
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/dto/UserInstitutionFilters.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/functions/InstitutionFunctions.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/functions/utils/ActivityName.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/repository/OnboardingRepository.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/service/ContractServiceDefault.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/service/InstitutionService.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/service/UserService.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/utils/QueryUtils.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/utils/Utils.java
  apps/onboarding-functions/src/main/openapi/core.json
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/functions/InstitutionFunctionsTest.java
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/repository/OnboardingRepositoryTest.java
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/service/InstitutionServiceTest.java
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/service/UserServiceTest.java
  apps/onboarding-ms/src/main/docs/openapi.json
  apps/onboarding-ms/src/main/docs/openapi.yaml
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/controller/OnboardingController.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/controller/TokenController.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/service/InstitutionService.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/service/OnboardingService.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/service/OnboardingServiceDefault.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/service/TokenService.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/service/TokenServiceDefault.java
  apps/onboarding-ms/src/main/openapi/onboarding_functions.json
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/controller/OnboardingControllerTest.java
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/controller/TokenControllerTest.java
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/service/OnboardingServiceDefaultTest.java
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/service/TokenServiceDefaultTest.java
  infra/container_apps/hub_spid_login/env/prod-pnpg/terraform.tfvars
  infra/container_apps/hub_spid_login/variables.tf
Labels: functions, ops, onboarding-ms, hotfix

#739 [SELC-6733] Removing constraint for user on onboarding import
  apps/onboarding-ms/src/main/docs/openapi.json
  apps/onboarding-ms/src/main/docs/openapi.yaml
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/controller/request/OnboardingImportRequest.java
Labels: onboarding-ms

#740 [SELC-6733] Removing constraint for user on onboarding import
  apps/onboarding-ms/src/main/docs/openapi.json
  apps/onboarding-ms/src/main/docs/openapi.yaml
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/controller/request/OnboardingImportRequest.java
Labels: onboarding-ms
