Repository pagopa/selfcare-onboarding, changes with the owners that CODEOWNERS names for each.
All owners: @pagopa/selfcare-admin, @pagopa/selfcare-contributors, @GiampieroFerrara, @pierpaolodidato89

Fix delete onboarding
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/functions/InstitutionFunctions.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/service/UserService.java
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/service/UserServiceTest.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/service/UserService.java
Owners: @pagopa/selfcare-contributors, @GiampieroFerrara, @pierpaolodidato89

chore: Delete contract file from ms
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/functions/TokenFunctions.java
  apps/onboarding-functions/src/main/openapi/openapi_onboarding.json
  apps/onboarding-functions/src/main/resources/application.properties
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/functions/TokenFunctionsTest.java
  apps/onboarding-ms/src/main/docs/openapi.yaml
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/conf/OnboardingMsConfig.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/controller/DocumentController.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/controller/TokenController.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/service/TokenService.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/service/TokenServiceDefault.java
  apps/onboarding-ms/src/main/resources/application.properties
Owners: @pagopa/selfcare-contributors, @GiampieroFerrara, @pierpaolodidato89

chore: Delete contract file from ms
  Dockerfile1
  apps/onboarding-functions/DockerfileAzure
  apps/onboarding-functions/azurite-data/AzuriteConfig
  apps/onboarding-functions/azurite-data/__azurite_db_blob__.json
  apps/onboarding-functions/azurite-data/__azurite_db_blob_extent__.json
  apps/onboarding-functions/azurite-data/__azurite_db_queue__.json
  apps/onboarding-functions/azurite-data/__azurite_db_queue_extent__.json
  apps/onboarding-functions/azurite-data/__azurite_db_table__.json
  apps/onboarding-functions/docker-compose.yml
Owners: @pagopa/selfcare-admin, @pagopa/selfcare-contributors, @GiampieroFerrara, @pierpaolodidato89

chore: Adding new pipelines
  .github/workflows/call_code_review_resources_infra.yml
  .github/workflows/call_release_resources_infra.yml
  .github/workflows/pr_resources_infra.yml
  .github/workflows/release_infra.yml
Owners: @pagopa/selfcare-admin

chore: Adding new pipelines
  apps/onboarding-functions/DockerfileAzure
  apps/onboarding-functions/azurite-data/AzuriteConfig
  apps/onboarding-functions/azurite-data/__azurite_db_blob__.json
  apps/onboarding-functions/azurite-data/__azurite_db_blob_extent__.json
  apps/onboarding-functions/azurite-data/__azurite_db_queue__.json
  apps/onboarding-functions/azurite-data/__azurite_db_queue_extent__.json
  apps/onboarding-functions/azurite-data/__azurite_db_table__.json
  apps/onboarding-functions/docker-compose.yml
Owners: @pagopa/selfcare-contributors, @GiampieroFerrara, @pierpaolodidato89

chore: Adding new pipelines
  .github/workflows/pr_resources_infra.yml
Owners: @pagopa/selfcare-admin

chore: Adding new pipelines
  .github/workflows/call_code_review_resources_infra.yml
Owners: @pagopa/selfcare-admin

chore: Adding new pipelines
  .github/workflows/call_code_review_resources_infra.yml
  .github/workflows/pr_resources_infra.yml
Owners: @pagopa/selfcare-admin

chore: Adding new pipelines
  infra/container_apps/onboarding-ms/env/dev/terraform.tfvars
Owners: @pagopa/selfcare-admin

chore: Adding new pipelines
  apps/onboarding-functions/src/main/resources/application.properties
  apps/onboarding-ms/src/main/resources/application.properties
  infra/functions/onboarding-functions/env/dev/terraform.tfvars
Owners: @pagopa/selfcare-contributors, @GiampieroFerrara, @pierpaolodidato89, @pagopa/selfcare-admin

chore: Adding new pipelines
  .github/workflows/call_code_review_resources_infra.yml
Owners: @pagopa/selfcare-admin

chore: Adding new pipelines
  .github/workflows/call_code_review_resources_infra.yml
Owners: @pagopa/selfcare-admin

chore: Adding new pipelines
  .github/workflows/call_code_review_resources_infra.yml
Owners: @pagopa/selfcare-admin

chore: Adding new pipelines
  .github/workflows/call_code_review_resources_infra.yml
Owners: @pagopa/selfcare-admin

chore: Adding new pipelines
  .github/workflows/call_code_review_resources_infra.yml
Owners: @pagopa/selfcare-admin

chore: Adding new pipelines
  .github/workflows/call_code_review_resources_infra.yml
Owners: @pagopa/selfcare-admin

chore: Adding new pipelines
  .github/workflows/call_code_review_resources_infra.yml
Owners: @pagopa/selfcare-admin

chore: Adding new pipelines
  .github/workflows/call_code_review_resources_infra.yml
Owners: @pagopa/selfcare-admin

chore: Adding new pipelines
  .github/workflows/call_code_review_resources_infra.yml
Owners: @pagopa/selfcare-admin

chore: Removing comments or unused data
  infra/resources/_modules/storage_accounts/locals.tf
  infra/resources/dev/data.tf
  infra/resources/dev/locals.tf
  infra/resources/dev/storage_documents.tf
Owners: @pagopa/selfcare-admin

chore: Update release gha
  .github/workflows/call_release_resources_infra.yml
  infra/resources/_modules/storage_accounts/storage_containers.tf
Owners: @pagopa/selfcare-admin

chore: Update release gha
  .github/workflows/release_infra_resources.yml
  .github/workflows/release_integration_test_infra.yml
Owners: @pagopa/selfcare-admin

chore: Update release gha
  infra/integration-test/integration_test.tf
  infra/resources/_modules/storage_accounts/locals.tf
  infra/resources/_modules/storage_accounts/storage_account.tf
  infra/resources/_modules/storage_accounts/variables.tf
  infra/resources/dev/locals.tf
  infra/resources/dev/storage_documents.tf
Owners: @pagopa/selfcare-admin

Potential fix for code scanning alert no. 415: Use of a known vulnerable action
  .github/workflows/call_release_resources_infra.yml
Owners: @pagopa/selfcare-admin

[SELC-7212] Update gha (#812)
  .github/workflows/call_code_review_resources_infra.yml
  .github/workflows/call_release_resources_infra.yml
  .github/workflows/pr_resources_infra.yml
  .github/workflows/release_infra_resources.yml
  .github/workflows/release_integration_test_infra.yml
  apps/onboarding-functions/src/main/resources/application.properties
  apps/onboarding-ms/src/main/resources/application.properties
  infra/container_apps/onboarding-ms/env/dev/terraform.tfvars
  infra/functions/onboarding-functions/env/dev/terraform.tfvars
  infra/integration-test/integration_test.tf
  infra/resources/_modules/storage_accounts/locals.tf
  infra/resources/_modules/storage_accounts/storage_account.tf
  infra/resources/_modules/storage_accounts/storage_containers.tf
  infra/resources/_modules/storage_accounts/variables.tf
  infra/resources/dev/data.tf
  infra/resources/dev/locals.tf
  infra/resources/dev/storage_documents.tf
Owners: @pagopa/selfcare-admin, @pagopa/selfcare-contributors, @GiampieroFerrara, @pierpaolodidato89

chore: Update release gha
  .github/workflows/call_release_resources_infra.yml
  .github/workflows/release_infra_resources.yml
  infra/resources/_modules/storage_accounts/README.md
Owners: @pagopa/selfcare-admin, @pagopa/selfcare-contributors, @GiampieroFerrara, @pierpaolodidato89

chore: Update release gha
  .github/workflows/call_release_resources_infra.yml
Owners: @pagopa/selfcare-admin

chore: Update env for function
  infra/functions/onboarding-functions/env/dev/terraform.tfvars
Owners: @pagopa/selfcare-admin

chore: Add logo for email sender
  infra/resources/dev/.terraform.lock.hcl
  infra/resources/dev/data.tf
  infra/resources/dev/logo.png
  infra/resources/dev/storage_documents.tf
Owners: @pagopa/selfcare-admin

chore: Add logo for email sender
  infra/resources/dev/storage_documents.tf
  infra/resources/logo.png
Owners: @pagopa/selfcare-admin

chore: Change storage account for documents
  infra/container_apps/onboarding-ms/env/prod/terraform.tfvars
  infra/container_apps/onboarding-ms/env/uat/terraform.tfvars
  infra/functions/onboarding-functions/env/prod/terraform.tfvars
  infra/functions/onboarding-functions/env/uat/terraform.tfvars
Owners: @pagopa/selfcare-admin

chore: Change storage account for documents
  infra/functions/onboarding-functions/.terraform.lock.hcl
Owners: @pagopa/selfcare-admin

chore: Update infra for documents storage
  infra/resources/prod/data.tf
  infra/resources/prod/locals.tf
  infra/resources/prod/main.tf
  infra/resources/prod/storage_documents.tf
  infra/resources/uat/data.tf
  infra/resources/uat/locals.tf
  infra/resources/uat/main.tf
  infra/resources/uat/storage_documents.tf
Owners: @pagopa/selfcare-admin

[SELC-7212] ADD new storage for UAT and PROD (#813)
  .github/workflows/call_release_resources_infra.yml
  .github/workflows/release_infra_resources.yml
  infra/container_apps/onboarding-ms/env/prod/terraform.tfvars
  infra/container_apps/onboarding-ms/env/uat/terraform.tfvars
  infra/functions/onboarding-functions/.terraform.lock.hcl
  infra/functions/onboarding-functions/env/dev/terraform.tfvars
  infra/functions/onboarding-functions/env/prod/terraform.tfvars
  infra/functions/onboarding-functions/env/uat/terraform.tfvars
  infra/resources/_modules/storage_accounts/README.md
  infra/resources/dev/.terraform.lock.hcl
  infra/resources/logo.png
  infra/resources/prod/data.tf
  infra/resources/prod/locals.tf
  infra/resources/prod/main.tf
  infra/resources/prod/storage_documents.tf
  infra/resources/uat/data.tf
  infra/resources/uat/locals.tf
  infra/resources/uat/main.tf
  infra/resources/uat/storage_documents.tf
Owners: @pagopa/selfcare-admin, @pagopa/selfcare-contributors, @GiampieroFerrara, @pierpaolodidato89

chore: Update infra for documents storage
  infra/resources/_modules/storage_accounts/README.md
Owners: @pagopa/selfcare-contributors, @GiampieroFerrara, @pierpaolodidato89

Updates
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/mapper/TokenMapper.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/service/OnboardingServiceDefault.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/util/Utils.java
Owners: @pagopa/selfcare-contributors, @GiampieroFerrara, @pierpaolodidato89

Added unit tests
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/util/Utils.java
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/util/UtilsTest.java
Owners: @pagopa/selfcare-contributors, @GiampieroFerrara, @pierpaolodidato89

Updates
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/util/UtilsTest.java
Owners: @pagopa/selfcare-contributors, @GiampieroFerrara, @pierpaolodidato89

Updates
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/service/AggregatesServiceDefault.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/util/Utils.java
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/service/AggregatesServiceDefaultTest.java
Owners: @pagopa/selfcare-contributors, @GiampieroFerrara, @pierpaolodidato89

Updates
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/util/Utils.java
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/util/UtilsTest.java
Owners: @pagopa/selfcare-contributors, @GiampieroFerrara, @pierpaolodidato89

CODEOWNERS:

# CodeOwners

## Default owners

* @pagopa/selfcare-admin

## Code owner for the applications

/apps/** @pagopa/selfcare-contributors @GiampieroFerrara @pierpaolodidato89
/libs/** @pagopa/selfcare-contributors @GiampieroFerrara @pierpaolodidato89
/test-coverage/** @pagopa/selfcare-contributors @GiampieroFerrara @pierpaolodidato89

.dockerignore @pagopa/selfcare-contributors @GiampieroFerrara @pierpaolodidato89
docker-compose.yml @pagopa/selfcare-contributors @GiampieroFerrara @pierpaolodidato89
*.xml @pagopa/selfcare-contributors @GiampieroFerrara @pierpaolodidato89
*.md @pagopa/selfcare-contributors @GiampieroFerrara @pierpaolodidato89
