Repository pagopa/selfcare-onboarding, changes with the owners that CODEOWNERS names for each.
All owners: @pagopa/selfcare-admin, @pagopa/selfcare-contributors, @GiampieroFerrara, @pierpaolodidato89

Fixed config and added test-container
  apps/onboarding-functions/pom.xml
  apps/onboarding-functions/src/test/resources/application.properties
  apps/onboarding-functions/src/test/resources/docker-compose.yml
Owners: @pagopa/selfcare-contributors, @GiampieroFerrara, @pierpaolodidato89

Updates
  apps/onboarding-ms/docker-compose.yml
  apps/onboarding-ms/pom.xml
  apps/onboarding-ms/src/main/resources/application.properties
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/steps/IntegrationAuthenticationHeadersFactory.java
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/steps/IntegrationProductService.java
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/steps/OnboardingStep.java
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/steps/TestMongo.java
  apps/onboarding-ms/src/test/resources/application.properties
  apps/onboarding-ms/src/test/resources/docker-compose.yml
  apps/onboarding-ms/src/test/resources/features/onboarding.feature
  apps/onboarding-ms/src/test/resources/mock/party-registry-api.json
  apps/onboarding-ms/src/test/resources/mock/user-registry-api.json
  apps/onboarding-ms/src/test/resources/mongo-init/init-replica.js
Owners: @pagopa/selfcare-contributors, @GiampieroFerrara, @pierpaolodidato89

Updates
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/steps/OnboardingStep.java
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/steps/TestMongo.java
  apps/onboarding-ms/src/test/resources/application.properties
  apps/onboarding-ms/src/test/resources/features/onboarding.feature
  apps/onboarding-ms/src/test/resources/integration_data/ipa/success_aoo_request.json
  apps/onboarding-ms/src/test/resources/integration_data/ivass/success_foreign_as_request.json
  apps/onboarding-ms/src/test/resources/integration_data/products.json
  apps/onboarding-ms/src/test/resources/integration_data/selc/success_import_prv_request.json
  apps/onboarding-ms/src/test/resources/mock/party-registry-api.json
Owners: @pagopa/selfcare-contributors, @GiampieroFerrara, @pierpaolodidato89

Added config for onboarding-fn
  apps/onboarding-functions/src/test/resources/Dockerfile-fn
  apps/onboarding-functions/src/test/resources/blobStorageInit/init_azurite.sh
  apps/onboarding-functions/src/test/resources/docker-compose.yml
  apps/onboarding-functions/src/test/resources/fn/application.properties
  apps/onboarding-functions/src/test/resources/fn/host.json
Owners: @pagopa/selfcare-contributors, @GiampieroFerrara, @pierpaolodidato89

Upated mock for user and registry proxy
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/entity/registry/RegistryManagerInfocamere.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/entity/registry/client/ClientRegistryInfocamere.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/service/OnboardingServiceDefault.java
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/steps/IntegrationProfile.java
  apps/onboarding-ms/src/test/resources/features/onboarding.feature
  apps/onboarding-ms/src/test/resources/integration_data/selc/success_prv_request.json
  apps/onboarding-ms/src/test/resources/mock/party-registry-api.json
  apps/onboarding-ms/src/test/resources/mock/user-registry-api.json
Owners: @pagopa/selfcare-contributors, @GiampieroFerrara, @pierpaolodidato89

Added trigger to test the github action
  .github/workflows/integration_test_onboarding_ms.yml
  apps/onboarding-ms/src/test/resources/features/onboarding.feature
Owners: @pagopa/selfcare-admin, @pagopa/selfcare-contributors, @GiampieroFerrara, @pierpaolodidato89

Fixed start
  apps/onboarding-functions/src/test/resources/Dockerfile-fn
Owners: @pagopa/selfcare-contributors, @GiampieroFerrara, @pierpaolodidato89

Fixed azurite config
  apps/onboarding-functions/src/test/resources/docker-compose.yml
Owners: @pagopa/selfcare-contributors, @GiampieroFerrara, @pierpaolodidato89

fixed fn mapping
  apps/onboarding-functions/src/test/resources/docker-compose.yml
Owners: @pagopa/selfcare-contributors, @GiampieroFerrara, @pierpaolodidato89

Removed trigger on push for github action
  .github/workflows/integration_test_onboarding_ms.yml
Owners: @pagopa/selfcare-admin

Updates
  .github/workflows/integration_test_onboarding_ms.yml
Owners: @pagopa/selfcare-admin

Updates
  .github/workflows/integration_test_onboarding_ms.yml
Owners: @pagopa/selfcare-admin

Updates
  apps/onboarding-ms/docker-compose.yml
  apps/onboarding-ms/src/test/resources/application.properties
Owners: @pagopa/selfcare-contributors, @GiampieroFerrara, @pierpaolodidato89

chore: Update modules version
  infra/container_apps/hub_spid_login/.terraform.lock.hcl
  infra/container_apps/hub_spid_login/container_app.tf
  infra/container_apps/hub_spid_login/main.tf
  infra/container_apps/onboarding-cdc/.terraform.lock.hcl
  infra/container_apps/onboarding-cdc/env/dev/terraform.tfvars
  infra/container_apps/onboarding-cdc/main.tf
  infra/container_apps/onboarding-ms/.terraform.lock.hcl
  infra/container_apps/onboarding-ms/container_app.tf
  infra/container_apps/onboarding-ms/main.tf
Owners: @pagopa/selfcare-admin

Added test containers and action
  .github/workflows/cucumber-fn_integration_test.yml
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/steps/OnboardingFunctionStep.java
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/steps/TestContainer.java
  apps/onboarding-functions/src/test/resources/docker-compose.yml
Owners: @pagopa/selfcare-admin, @pagopa/selfcare-contributors, @GiampieroFerrara, @pierpaolodidato89

Fixed action
  .github/workflows/cucumber-fn_integration_test.yml
Owners: @pagopa/selfcare-admin

Updates
  apps/onboarding-ms/src/test/resources/docker-compose.yml
  apps/onboarding-ms/src/test/resources/features/onboarding.feature
Owners: @pagopa/selfcare-contributors, @GiampieroFerrara, @pierpaolodidato89

Deleted unused action
  .github/workflows/call_code_review_integration_test.yml
Owners: @pagopa/selfcare-admin

Updates
  apps/onboarding-ms/src/test/resources/features/onboarding.feature
Owners: @pagopa/selfcare-contributors, @GiampieroFerrara, @pierpaolodidato89

Fixed version of mongo
  apps/onboarding-functions/src/test/resources/docker-compose.yml
Owners: @pagopa/selfcare-contributors, @GiampieroFerrara, @pierpaolodidato89

feat: Deleted unused action (#843)
  .github/workflows/call_code_review_integration_test.yml
Owners: @pagopa/selfcare-admin

Fixed post merge
  apps/onboarding-functions/pom.xml
Owners: @pagopa/selfcare-contributors, @GiampieroFerrara, @pierpaolodidato89

chore: Update modules version
  infra/container_apps/hub_spid_login/.terraform.lock.hcl
  infra/container_apps/hub_spid_login/container_app.tf
  infra/container_apps/hub_spid_login/main.tf
  infra/container_apps/onboarding-cdc/.terraform.lock.hcl
  infra/container_apps/onboarding-cdc/env/dev/terraform.tfvars
  infra/container_apps/onboarding-cdc/main.tf
  infra/container_apps/onboarding-ms/.terraform.lock.hcl
  infra/container_apps/onboarding-ms/container_app.tf
  infra/container_apps/onboarding-ms/main.tf
Owners: @pagopa/selfcare-admin

[SELC-7498] chore: Update modules version (#844)
  infra/container_apps/hub_spid_login/.terraform.lock.hcl
  infra/container_apps/hub_spid_login/container_app.tf
  infra/container_apps/hub_spid_login/main.tf
  infra/container_apps/onboarding-cdc/.terraform.lock.hcl
  infra/container_apps/onboarding-cdc/env/dev/terraform.tfvars
  infra/container_apps/onboarding-cdc/main.tf
  infra/container_apps/onboarding-ms/.terraform.lock.hcl
  infra/container_apps/onboarding-ms/container_app.tf
  infra/container_apps/onboarding-ms/main.tf
Owners: @pagopa/selfcare-admin

Updated gitignore
  .gitignore
Owners: @pagopa/selfcare-admin

Fixed entrypoint and network
  apps/onboarding-functions/pom.xml
  apps/onboarding-functions/src/test/resources/Dockerfile-fn
  apps/onboarding-functions/src/test/resources/docker-compose.yml
  apps/onboarding-functions/src/test/resources/fn/entrypoint.sh
Owners: @pagopa/selfcare-contributors, @GiampieroFerrara, @pierpaolodidato89

Fixed docker-compose location
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/steps/TestContainer.java
Owners: @pagopa/selfcare-contributors, @GiampieroFerrara, @pierpaolodidato89

Fixed path of docker-compose
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/steps/TestContainer.java
Owners: @pagopa/selfcare-contributors, @GiampieroFerrara, @pierpaolodidato89

local env for functions
  apps/onboarding-functions/src/test/resources/fn/local.settings.json
Owners: @pagopa/selfcare-contributors, @GiampieroFerrara, @pierpaolodidato89

chore: Update hub spid version
  infra/container_apps/hub_spid_login/variables.tf
  infra/resources/prod/.terraform.lock.hcl
Owners: @pagopa/selfcare-admin

chore: Update hub spid version
  infra/container_apps/hub_spid_login/variables.tf
  infra/resources/prod/.terraform.lock.hcl
Owners: @pagopa/selfcare-admin

Checkpoint
  apps/onboarding-functions/src/test/resources/Dockerfile-fn
  apps/onboarding-functions/src/test/resources/blobStorageInit/init_azurite.sh
  apps/onboarding-functions/src/test/resources/docker-compose.yml
  apps/onboarding-functions/src/test/resources/fn/application.properties
  apps/onboarding-functions/src/test/resources/fn/entrypoint.sh
  apps/onboarding-functions/src/test/resources/fn/host.json
  apps/onboarding-functions/src/test/resources/fn/local.settings.json
Owners: @pagopa/selfcare-contributors, @GiampieroFerrara, @pierpaolodidato89

Checkpoint
  apps/onboarding-functions/src/test/resources/Dockerfile-fn
  apps/onboarding-functions/src/test/resources/blobStorageInit/init_azurite.sh
  apps/onboarding-functions/src/test/resources/docker-compose.yml
  apps/onboarding-functions/src/test/resources/fn/application.properties
  apps/onboarding-functions/src/test/resources/fn/entrypoint.sh
  apps/onboarding-functions/src/test/resources/test-user-ms.env
Owners: @pagopa/selfcare-contributors, @GiampieroFerrara, @pierpaolodidato89

Updated institution env
  apps/onboarding-functions/src/test/resources/test-institution-ms.env
Owners: @pagopa/selfcare-contributors, @GiampieroFerrara, @pierpaolodidato89

Fixed internal port
  apps/onboarding-functions/src/test/resources/docker-compose.yml
  apps/onboarding-functions/src/test/resources/test-institution-ms.env
Owners: @pagopa/selfcare-contributors, @GiampieroFerrara, @pierpaolodidato89

Refactored services class
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/steps/OnboardingFunctionStep.java
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/steps/TestContainer.java
  apps/onboarding-functions/src/test/resources/fn/entrypoint.sh
Owners: @pagopa/selfcare-contributors, @GiampieroFerrara, @pierpaolodidato89

Fixed scheduler of services
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/steps/TestContainer.java
Owners: @pagopa/selfcare-contributors, @GiampieroFerrara, @pierpaolodidato89

Fixed delay
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/steps/TestContainer.java
  apps/onboarding-functions/src/test/resources/docker-compose.yml
Owners: @pagopa/selfcare-contributors, @GiampieroFerrara, @pierpaolodidato89

Testing
  .github/workflows/cucumber-fn_integration_test.yml
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/steps/OnboardingFunctionStep.java
Owners: @pagopa/selfcare-admin, @pagopa/selfcare-contributors, @GiampieroFerrara, @pierpaolodidato89

Testing
  .github/workflows/cucumber-fn_integration_test.yml
Owners: @pagopa/selfcare-admin

CODEOWNERS:

# CodeOwners

## Default owners

* @pagopa/selfcare-admin

## Code owner for the applications

/apps/** @pagopa/selfcare-contributors @GiampieroFerrara @pierpaolodidato89
/libs/** @pagopa/selfcare-contributors @GiampieroFerrara @pierpaolodidato89
/test-coverage/** @pagopa/selfcare-contributors @GiampieroFerrara @pierpaolodidato89

.dockerignore @pagopa/selfcare-contributors @GiampieroFerrara @pierpaolodidato89
docker-compose.yml @pagopa/selfcare-contributors @GiampieroFerrara @pierpaolodidato89
*.xml @pagopa/selfcare-contributors @GiampieroFerrara @pierpaolodidato89
*.md @pagopa/selfcare-contributors @GiampieroFerrara @pierpaolodidato89
