Repository pagopa/selfcare-onboarding, changes with the owners that CODEOWNERS names for each.
All owners: @pagopa/selfcare-admin, @pagopa/selfcare-contributors, @GiampieroFerrara, @pierpaolodidato89

chore: Update infra for documents storage
  infra/resources/uat/.terraform.lock.hcl
  infra/resources/uat/locals.tf
  infra/resources/uat/storage_documents.tf
Owners: @pagopa/selfcare-admin

[SELC-7212] Update infra for documents storage (#815)
  infra/resources/uat/.terraform.lock.hcl
  infra/resources/uat/locals.tf
  infra/resources/uat/storage_documents.tf
Owners: @pagopa/selfcare-admin

Refactor Utils and TokenMapper
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/mapper/TokenMapper.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/service/AggregatesServiceDefault.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/service/OnboardingServiceDefault.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/util/Utils.java
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/service/AggregatesServiceDefaultTest.java
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/util/UtilsTest.java
Owners: @pagopa/selfcare-contributors, @GiampieroFerrara, @pierpaolodidato89

chore: Update infra for documents storage
  infra/resources/_modules/storage_accounts/storage_account.tf
  infra/resources/_modules/storage_accounts/storage_containers.tf
  infra/resources/dev/locals.tf
  infra/resources/dev/storage_documents.tf
  infra/resources/prod/locals.tf
  infra/resources/prod/main.tf
  infra/resources/prod/storage_documents.tf
  infra/resources/uat/locals.tf
  infra/resources/uat/main.tf
Owners: @pagopa/selfcare-admin

chore: Update infra for documents storage
  infra/container_apps/hub_spid_login/env/prod/terraform.tfvars
Owners: @pagopa/selfcare-admin

[SELC-7212] Update release branch (#816)
  .github/workflows/call_release_resources_infra.yml
  .github/workflows/release_infra_resources.yml
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/mapper/TokenMapper.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/service/AggregatesServiceDefault.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/service/OnboardingServiceDefault.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/util/Utils.java
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/service/AggregatesServiceDefaultTest.java
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/util/UtilsTest.java
  infra/container_apps/onboarding-ms/env/prod/terraform.tfvars
  infra/container_apps/onboarding-ms/env/uat/terraform.tfvars
  infra/functions/onboarding-functions/.terraform.lock.hcl
  infra/functions/onboarding-functions/env/dev/terraform.tfvars
  infra/functions/onboarding-functions/env/prod/terraform.tfvars
  infra/functions/onboarding-functions/env/uat/terraform.tfvars
  infra/resources/logo.png
  infra/resources/prod/data.tf
  infra/resources/prod/locals.tf
  infra/resources/prod/main.tf
  infra/resources/prod/storage_documents.tf
  infra/resources/uat/.terraform.lock.hcl
  infra/resources/uat/data.tf
  infra/resources/uat/locals.tf
  infra/resources/uat/main.tf
  infra/resources/uat/storage_documents.tf
Owners: @pagopa/selfcare-admin, @pagopa/selfcare-contributors, @GiampieroFerrara, @pierpaolodidato89

[SELC-7212] Update infra resources (#817)
  infra/container_apps/hub_spid_login/env/prod/terraform.tfvars
  infra/resources/_modules/storage_accounts/storage_account.tf
  infra/resources/_modules/storage_accounts/storage_containers.tf
  infra/resources/dev/locals.tf
  infra/resources/dev/storage_documents.tf
  infra/resources/prod/locals.tf
  infra/resources/prod/main.tf
  infra/resources/prod/storage_documents.tf
  infra/resources/uat/locals.tf
  infra/resources/uat/main.tf
Owners: @pagopa/selfcare-admin

[SELC-7212] Update resources infra (#818)
  infra/container_apps/hub_spid_login/env/prod/terraform.tfvars
  infra/resources/_modules/storage_accounts/storage_account.tf
  infra/resources/_modules/storage_accounts/storage_containers.tf
  infra/resources/dev/locals.tf
  infra/resources/dev/storage_documents.tf
  infra/resources/prod/locals.tf
  infra/resources/prod/main.tf
  infra/resources/prod/storage_documents.tf
  infra/resources/uat/locals.tf
  infra/resources/uat/main.tf
Owners: @pagopa/selfcare-admin

chore: Update infra for documents storage
  infra/functions/onboarding-functions/env/uat/terraform.tfvars
Owners: @pagopa/selfcare-admin

chore: Update infra for documents storage
  infra/functions/onboarding-functions/env/uat/terraform.tfvars
Owners: @pagopa/selfcare-admin

chore: Update infra for documents storage
  infra/functions/onboarding-functions/env/prod/terraform.tfvars
  infra/functions/onboarding-functions/env/uat/terraform.tfvars
Owners: @pagopa/selfcare-admin

chore: Update infra for documents storage
  infra/functions/onboarding-functions/env/prod/terraform.tfvars
  infra/functions/onboarding-functions/env/uat/terraform.tfvars
Owners: @pagopa/selfcare-admin

chore: Update infra for documents storage
  infra/functions/onboarding-functions/env/prod/terraform.tfvars
  infra/functions/onboarding-functions/env/uat/terraform.tfvars
Owners: @pagopa/selfcare-admin

chore: Update infra for documents storage
  infra/functions/onboarding-functions/env/prod/terraform.tfvars
  infra/functions/onboarding-functions/env/uat/terraform.tfvars
Owners: @pagopa/selfcare-admin

chore: Update infra for documents storage
  infra/resources/_modules/storage_accounts/storage_account.tf
  infra/resources/_modules/storage_accounts/variables.tf
  infra/resources/dev/storage_documents.tf
  infra/resources/prod/storage_documents.tf
  infra/resources/uat/storage_documents.tf
Owners: @pagopa/selfcare-admin

chore: Update infra for documents storage
  infra/resources/_modules/storage_accounts/storage_account.tf
  infra/resources/_modules/storage_accounts/variables.tf
  infra/resources/dev/storage_documents.tf
  infra/resources/prod/storage_documents.tf
  infra/resources/uat/storage_documents.tf
Owners: @pagopa/selfcare-admin

fix: updated dss version from 5.12.1 to 6.2
  apps/onboarding-ms/pom.xml
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/conf/TrustedListsCertificateSourceConfig.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/service/SignatureServiceDefault.java
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/service/SignatureServiceDefaultTest.java
Owners: @pagopa/selfcare-contributors, @GiampieroFerrara, @pierpaolodidato89

fix: updated dss version from 5.12.1 to 6.2
  apps/onboarding-ms/pom.xml
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/conf/TrustedListsCertificateSourceConfig.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/service/SignatureServiceDefault.java
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/service/SignatureServiceDefaultTest.java
Owners: @pagopa/selfcare-contributors, @GiampieroFerrara, @pierpaolodidato89

chore: Update infra for documents storage
  infra/resources/dev/storage_documents.tf
  infra/resources/prod/storage_documents.tf
  infra/resources/uat/storage_documents.tf
Owners: @pagopa/selfcare-admin

[SELC-7212] Update infra for documents storage (#820)
  infra/resources/dev/storage_documents.tf
  infra/resources/prod/storage_documents.tf
  infra/resources/uat/storage_documents.tf
Owners: @pagopa/selfcare-admin

fix: added userRequestUid to SendMailDto
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/service/OnboardingService.java
  apps/onboarding-functions/src/main/openapi/user.json
Owners: @pagopa/selfcare-contributors, @GiampieroFerrara, @pierpaolodidato89

Updates
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/service/CompletionServiceDefault.java
  apps/onboarding-functions/src/main/openapi/core.json
Owners: @pagopa/selfcare-contributors, @GiampieroFerrara, @pierpaolodidato89

fix: updated digest check
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/service/SignatureServiceDefault.java
Owners: @pagopa/selfcare-contributors, @GiampieroFerrara, @pierpaolodidato89

Updates
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/service/CompletionServiceDefaultTest.java
Owners: @pagopa/selfcare-contributors, @GiampieroFerrara, @pierpaolodidato89

fix: updated digest check
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/service/SignatureServiceDefault.java
Owners: @pagopa/selfcare-contributors, @GiampieroFerrara, @pierpaolodidato89

fix: updated digest check
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/service/SignatureServiceDefault.java
Owners: @pagopa/selfcare-contributors, @GiampieroFerrara, @pierpaolodidato89

Removed sonar issues
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/service/CompletionServiceDefaultTest.java
Owners: @pagopa/selfcare-contributors, @GiampieroFerrara, @pierpaolodidato89

fix: updated digest check
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/service/SignatureServiceDefault.java
Owners: @pagopa/selfcare-contributors, @GiampieroFerrara, @pierpaolodidato89

[SELC-7300] fix: added userRequestUid to SendMailDto
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/service/OnboardingService.java
  apps/onboarding-functions/src/main/openapi/user.json
Owners: @pagopa/selfcare-contributors, @GiampieroFerrara, @pierpaolodidato89

chore: Update deleteOnboarding function
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/functions/TokenFunctions.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/service/ContractService.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/service/ContractServiceDefault.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/service/OnboardingService.java
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/functions/TokenFunctionsTest.java
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/service/ContractServiceDefaultTest.java
  infra/resources/dev/storage_documents.tf
  infra/resources/prod/storage_documents.tf
  infra/resources/uat/storage_documents.tf
Owners: @pagopa/selfcare-contributors, @GiampieroFerrara, @pierpaolodidato89, @pagopa/selfcare-admin

[SELC-7297] feat: added attributes into InstitutionOnboardingRequest
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/service/CompletionServiceDefault.java
  apps/onboarding-functions/src/main/openapi/core.json
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/service/CompletionServiceDefaultTest.java
Owners: @pagopa/selfcare-contributors, @GiampieroFerrara, @pierpaolodidato89

chore: Update deleteOnboarding function
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/service/OnboardingService.java
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/service/OnboardingServiceTest.java
Owners: @pagopa/selfcare-contributors, @GiampieroFerrara, @pierpaolodidato89

chore: Update deleteOnboarding function
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/functions/TokenFunctions.java
Owners: @pagopa/selfcare-contributors, @GiampieroFerrara, @pierpaolodidato89

chore: Update deleteOnboarding function
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/service/ContractService.java
Owners: @pagopa/selfcare-contributors, @GiampieroFerrara, @pierpaolodidato89

[SELC-7212] Update deleteOnboarding function (#826)
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/functions/TokenFunctions.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/service/ContractService.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/service/ContractServiceDefault.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/service/OnboardingService.java
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/functions/TokenFunctionsTest.java
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/service/ContractServiceDefaultTest.java
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/service/OnboardingServiceTest.java
  infra/resources/dev/storage_documents.tf
  infra/resources/prod/storage_documents.tf
  infra/resources/uat/storage_documents.tf
Owners: @pagopa/selfcare-contributors, @GiampieroFerrara, @pierpaolodidato89, @pagopa/selfcare-admin

chore: Update deleteOnboarding function
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/functions/TokenFunctions.java
Owners: @pagopa/selfcare-contributors, @GiampieroFerrara, @pierpaolodidato89

[SELC-7212] Update deleteOnboarding function (#827)
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/functions/TokenFunctions.java
Owners: @pagopa/selfcare-contributors, @GiampieroFerrara, @pierpaolodidato89

Fixed config of mock files
  apps/onboarding-functions/src/test/resources/blobStorageInit/products.json
  apps/onboarding-functions/src/test/resources/test-user-ms.env
Owners: @pagopa/selfcare-contributors, @GiampieroFerrara, @pierpaolodidato89

feat: Fixed config of mock files
  apps/onboarding-functions/src/test/resources/blobStorageInit/products.json
  apps/onboarding-functions/src/test/resources/test-user-ms.env
Owners: @pagopa/selfcare-contributors, @GiampieroFerrara, @pierpaolodidato89

chore: Update deleteOnboarding function
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/functions/TokenFunctions.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/service/OnboardingService.java
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/functions/TokenFunctionsTest.java
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/service/OnboardingServiceTest.java
Owners: @pagopa/selfcare-contributors, @GiampieroFerrara, @pierpaolodidato89

CODEOWNERS:

# CodeOwners

## Default owners

* @pagopa/selfcare-admin

## Code owner for the applications

/apps/** @pagopa/selfcare-contributors @GiampieroFerrara @pierpaolodidato89
/libs/** @pagopa/selfcare-contributors @GiampieroFerrara @pierpaolodidato89
/test-coverage/** @pagopa/selfcare-contributors @GiampieroFerrara @pierpaolodidato89

.dockerignore @pagopa/selfcare-contributors @GiampieroFerrara @pierpaolodidato89
docker-compose.yml @pagopa/selfcare-contributors @GiampieroFerrara @pierpaolodidato89
*.xml @pagopa/selfcare-contributors @GiampieroFerrara @pierpaolodidato89
*.md @pagopa/selfcare-contributors @GiampieroFerrara @pierpaolodidato89
