Repository pagopa/selfcare-onboarding, changes with the owners that CODEOWNERS names for each.
All owners: @pagopa/selfcare-admin, @pagopa/selfcare-contributors, @giampiero-ferrara, @pierpaolodidato89

[SELC-7413] feat: added field legalForm for API create institution
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/entity/Institution.java
  apps/onboarding-functions/src/main/openapi/core.json
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/functions/OnboardingFunctionsTest.java
Owners: @pagopa/selfcare-contributors, @giampiero-ferrara, @pierpaolodidato89

Testing copy
  apps/onboarding-functions/src/test/resources/Dockerfile-fn
  apps/onboarding-functions/src/test/resources/docker-compose.yml
Owners: @pagopa/selfcare-contributors, @giampiero-ferrara, @pierpaolodidato89

Testing copy
  apps/onboarding-functions/src/test/resources/Dockerfile-fn
  apps/onboarding-functions/src/test/resources/docker-compose.yml
Owners: @pagopa/selfcare-contributors, @giampiero-ferrara, @pierpaolodidato89

Testing copy
  apps/onboarding-functions/src/test/resources/Dockerfile-fn
  apps/onboarding-functions/src/test/resources/docker-compose.yml
Owners: @pagopa/selfcare-contributors, @giampiero-ferrara, @pierpaolodidato89

Testing copy
  apps/onboarding-functions/src/test/resources/Dockerfile-fn
Owners: @pagopa/selfcare-contributors, @giampiero-ferrara, @pierpaolodidato89

Testing copy
  apps/onboarding-functions/src/test/resources/Dockerfile-fn
Owners: @pagopa/selfcare-contributors, @giampiero-ferrara, @pierpaolodidato89

Testing copy
  apps/onboarding-functions/src/test/resources/Dockerfile-fn
Owners: @pagopa/selfcare-contributors, @giampiero-ferrara, @pierpaolodidato89

Testing copy
  apps/onboarding-functions/src/test/resources/Dockerfile-fn
Owners: @pagopa/selfcare-contributors, @giampiero-ferrara, @pierpaolodidato89

Refactored dockerfile
  apps/onboarding-functions/src/test/resources/Dockerfile-fn
  apps/onboarding-functions/src/test/resources/docker-compose.yml
Owners: @pagopa/selfcare-contributors, @giampiero-ferrara, @pierpaolodidato89

Fixed mvn volume
  apps/onboarding-functions/src/test/resources/docker-compose.yml
Owners: @pagopa/selfcare-contributors, @giampiero-ferrara, @pierpaolodidato89

Fixed mvn volume
  apps/onboarding-functions/src/test/resources/docker-compose.yml
Owners: @pagopa/selfcare-contributors, @giampiero-ferrara, @pierpaolodidato89

Fixed mvn volume
  apps/onboarding-functions/src/test/resources/Dockerfile-fn
Owners: @pagopa/selfcare-contributors, @giampiero-ferrara, @pierpaolodidato89

Testing m2 settings
  apps/onboarding-functions/src/test/resources/Dockerfile-fn
  apps/onboarding-functions/src/test/resources/docker-compose.yml
Owners: @pagopa/selfcare-contributors, @giampiero-ferrara, @pierpaolodidato89

Testing m2 settings
  apps/onboarding-functions/src/test/resources/docker-compose.yml
Owners: @pagopa/selfcare-contributors, @giampiero-ferrara, @pierpaolodidato89

Testing m2 settings
  apps/onboarding-functions/src/test/resources/Dockerfile-fn
  apps/onboarding-functions/src/test/resources/docker-compose.yml
Owners: @pagopa/selfcare-contributors, @giampiero-ferrara, @pierpaolodidato89

Testing m2 settings
  apps/onboarding-functions/src/test/resources/Dockerfile-fn
  apps/onboarding-functions/src/test/resources/docker-compose.yml
Owners: @pagopa/selfcare-contributors, @giampiero-ferrara, @pierpaolodidato89

Testing m2 settings
  apps/onboarding-functions/src/test/resources/Dockerfile-fn
  apps/onboarding-functions/src/test/resources/docker-compose.yml
Owners: @pagopa/selfcare-contributors, @giampiero-ferrara, @pierpaolodidato89

Testing m2 settings
  apps/onboarding-functions/src/test/resources/Dockerfile-fn
Owners: @pagopa/selfcare-contributors, @giampiero-ferrara, @pierpaolodidato89

Fixed workflow trigger
  .github/workflows/cucumber-fn_integration_test.yml
Owners: @pagopa/selfcare-admin

Added boolean for container logs
  .github/workflows/cucumber-fn_integration_test.yml
Owners: @pagopa/selfcare-admin

Added download of configuration of product
  apps/onboarding-functions/src/test/resources/Dockerfile-azure-cli
  apps/onboarding-functions/src/test/resources/blobStorageInit/init_azurite.sh
  apps/onboarding-functions/src/test/resources/docker-compose.yml
Owners: @pagopa/selfcare-contributors, @giampiero-ferrara, @pierpaolodidato89

Testing
  .github/workflows/cucumber-fn_integration_test.yml
Owners: @pagopa/selfcare-admin

Testing
  .github/workflows/cucumber-fn_integration_test.yml
Owners: @pagopa/selfcare-admin

Fixed env
  .github/workflows/cucumber-fn_integration_test.yml
  apps/onboarding-functions/src/test/resources/docker-compose.yml
Owners: @pagopa/selfcare-admin, @pagopa/selfcare-contributors, @giampiero-ferrara, @pierpaolodidato89

Fixed env
  apps/onboarding-functions/src/test/resources/docker-compose.yml
Owners: @pagopa/selfcare-contributors, @giampiero-ferrara, @pierpaolodidato89

Testing token
  .github/workflows/cucumber-fn_integration_test.yml
Owners: @pagopa/selfcare-admin

Fixed token
  .github/workflows/cucumber-fn_integration_test.yml
Owners: @pagopa/selfcare-admin

Fixed token
  .github/workflows/cucumber-fn_integration_test.yml
Owners: @pagopa/selfcare-admin

Testing clone from git
  .github/workflows/cucumber-fn_integration_test.yml
Owners: @pagopa/selfcare-admin

Testing clone from git
  .github/workflows/cucumber-fn_integration_test.yml
Owners: @pagopa/selfcare-admin

Testing clone from git
  .github/workflows/cucumber-fn_integration_test.yml
Owners: @pagopa/selfcare-admin

Testing clone from git
  .github/workflows/cucumber-fn_integration_test.yml
Owners: @pagopa/selfcare-admin

Testing clone from git
  .github/workflows/cucumber-fn_integration_test.yml
Owners: @pagopa/selfcare-admin

[SELC-7568] feat: Fixed creation of integration-test function image
  .github/workflows/cucumber-fn_integration_test.yml
  apps/onboarding-functions/src/test/resources/Dockerfile-fn
  apps/onboarding-functions/src/test/resources/docker-compose.yml
Owners: @pagopa/selfcare-admin, @pagopa/selfcare-contributors, @giampiero-ferrara, @pierpaolodidato89

Merge branch 'main' into feature/SELC-7576
  .github/workflows/cucumber-fn_integration_test.yml
Owners: @pagopa/selfcare-admin

Merge branch 'main' into feature/SELC-7576
  .github/workflows/cucumber-fn_integration_test.yml
Owners: @pagopa/selfcare-admin

Fixed token
  .github/workflows/cucumber-fn_integration_test.yml
Owners: @pagopa/selfcare-admin

Added azurite login
  .github/workflows/cucumber-fn_integration_test.yml
Owners: @pagopa/selfcare-admin

Added azurite login
  .github/workflows/cucumber-fn_integration_test.yml
Owners: @pagopa/selfcare-admin

Testing clone from git
  .github/workflows/cucumber-fn_integration_test.yml
  apps/onboarding-functions/src/test/resources/Dockerfile-azure-cli
  apps/onboarding-functions/src/test/resources/docker-compose.yml
Owners: @pagopa/selfcare-admin, @pagopa/selfcare-contributors, @giampiero-ferrara, @pierpaolodidato89

CODEOWNERS:

# CodeOwners

## Default owners

* @pagopa/selfcare-admin

## Code owner for the applications

/apps/** @pagopa/selfcare-contributors @giampiero-ferrara @pierpaolodidato89
/libs/** @pagopa/selfcare-contributors @giampiero-ferrara @pierpaolodidato89
/test-coverage/** @pagopa/selfcare-contributors @giampiero-ferrara @pierpaolodidato89

.dockerignore @pagopa/selfcare-contributors @giampiero-ferrara @pierpaolodidato89
docker-compose.yml @pagopa/selfcare-contributors @giampiero-ferrara @pierpaolodidato89
*.xml @pagopa/selfcare-contributors @giampiero-ferrara @pierpaolodidato89
*.md @pagopa/selfcare-contributors @giampiero-ferrara @pierpaolodidato89
