Repository pagopa/selfcare-onboarding, changes with the owners that CODEOWNERS names for each.
All owners: @pagopa/selfcare-admin, @pagopa/selfcare-contributors, @GiampieroFerrara, @pierpaolodidato89

feat: added success onboarding CON
  apps/onboarding-ms/src/test/resources/features/onboarding.feature
  apps/onboarding-ms/src/test/resources/integration_data/success_con_request.json
Owners: @pagopa/selfcare-contributors, @GiampieroFerrara, @pierpaolodidato89

[SELC-6852] feat: added success onboarding CON
  apps/onboarding-ms/src/test/resources/features/onboarding.feature
  apps/onboarding-ms/src/test/resources/integration_data/success_con_request.json
Owners: @pagopa/selfcare-contributors, @GiampieroFerrara, @pierpaolodidato89

Refactored logic of integration methods
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/steps/IntegrationOnboardingPAResources.java
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/steps/IntegrationOnboardingResources.java
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/steps/OnboardingStep.java
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/steps/ScenarioContext.java
  apps/onboarding-ms/src/test/resources/application.properties
Owners: @pagopa/selfcare-contributors, @GiampieroFerrara, @pierpaolodidato89

Added scenario for PRV
  apps/onboarding-ms/src/test/resources/features/onboarding.feature
  apps/onboarding-ms/src/test/resources/integration_data/onboarding/prv/success_prv_request.json
Owners: @pagopa/selfcare-contributors, @GiampieroFerrara, @pierpaolodidato89

Fixed properties
  apps/onboarding-ms/src/test/resources/application.properties
Owners: @pagopa/selfcare-contributors, @GiampieroFerrara, @pierpaolodidato89

Fixed folder
  apps/onboarding-ms/src/test/resources/features/onboarding.feature
  apps/onboarding-ms/src/test/resources/integration_data/ipa/duplicated_onboarding_request.json
  apps/onboarding-ms/src/test/resources/integration_data/ipa/empty_origin_request.json
  apps/onboarding-ms/src/test/resources/integration_data/ipa/empty_pec_request.json
  apps/onboarding-ms/src/test/resources/integration_data/ipa/empty_users_request.json
  apps/onboarding-ms/src/test/resources/integration_data/ipa/invalid_billing_uo_request.json
  apps/onboarding-ms/src/test/resources/integration_data/ipa/invalid_child_product_request.json
  apps/onboarding-ms/src/test/resources/integration_data/ipa/invalid_gsp_note_request.json
  apps/onboarding-ms/src/test/resources/integration_data/ipa/invalid_gsp_request.json
  apps/onboarding-ms/src/test/resources/integration_data/ipa/invalid_io_premium_request.json
  apps/onboarding-ms/src/test/resources/integration_data/ipa/invalid_proxy_pec_request.json
  apps/onboarding-ms/src/test/resources/integration_data/ipa/invalid_proxy_recipient_code_request.json
  apps/onboarding-ms/src/test/resources/integration_data/ipa/invalid_recipient_code_uo_request.json
  apps/onboarding-ms/src/test/resources/integration_data/ipa/invalid_request.json
  apps/onboarding-ms/src/test/resources/integration_data/ipa/success_aoo_request.json
  apps/onboarding-ms/src/test/resources/integration_data/ipa/success_pa_request.json
  apps/onboarding-ms/src/test/resources/integration_data/ipa/success_uo_request.json
  apps/onboarding-ms/src/test/resources/integration_data/selc/invalid_gsp_selc_request.json
  apps/onboarding-ms/src/test/resources/integration_data/selc/success_con_request.json
  apps/onboarding-ms/src/test/resources/integration_data/selc/success_gsp_request.json
  apps/onboarding-ms/src/test/resources/integration_data/selc/success_prv_request.json
Owners: @pagopa/selfcare-contributors, @GiampieroFerrara, @pierpaolodidato89

Fixed onboarding scenarios
  apps/onboarding-ms/src/test/resources/features/onboarding.feature
Owners: @pagopa/selfcare-contributors, @GiampieroFerrara, @pierpaolodidato89

[SELC-6846] feat: Added scenario for InstitutionType PRV
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/steps/IntegrationOnboardingPAResources.java
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/steps/IntegrationOnboardingResources.java
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/steps/OnboardingStep.java
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/steps/ScenarioContext.java
  apps/onboarding-ms/src/test/resources/application.properties
  apps/onboarding-ms/src/test/resources/features/onboarding.feature
  apps/onboarding-ms/src/test/resources/integration_data/ipa/duplicated_onboarding_request.json
  apps/onboarding-ms/src/test/resources/integration_data/ipa/empty_origin_request.json
  apps/onboarding-ms/src/test/resources/integration_data/ipa/empty_pec_request.json
  apps/onboarding-ms/src/test/resources/integration_data/ipa/empty_users_request.json
  apps/onboarding-ms/src/test/resources/integration_data/ipa/invalid_billing_uo_request.json
  apps/onboarding-ms/src/test/resources/integration_data/ipa/invalid_child_product_request.json
  apps/onboarding-ms/src/test/resources/integration_data/ipa/invalid_gsp_note_request.json
  apps/onboarding-ms/src/test/resources/integration_data/ipa/invalid_gsp_request.json
  apps/onboarding-ms/src/test/resources/integration_data/ipa/invalid_io_premium_request.json
  apps/onboarding-ms/src/test/resources/integration_data/ipa/invalid_proxy_pec_request.json
  apps/onboarding-ms/src/test/resources/integration_data/ipa/invalid_proxy_recipient_code_request.json
  apps/onboarding-ms/src/test/resources/integration_data/ipa/invalid_recipient_code_uo_request.json
  apps/onboarding-ms/src/test/resources/integration_data/ipa/invalid_request.json
  apps/onboarding-ms/src/test/resources/integration_data/ipa/success_aoo_request.json
  apps/onboarding-ms/src/test/resources/integration_data/ipa/success_pa_request.json
  apps/onboarding-ms/src/test/resources/integration_data/ipa/success_uo_request.json
  apps/onboarding-ms/src/test/resources/integration_data/selc/invalid_gsp_selc_request.json
  apps/onboarding-ms/src/test/resources/integration_data/selc/success_con_request.json
  apps/onboarding-ms/src/test/resources/integration_data/selc/success_gsp_request.json
  apps/onboarding-ms/src/test/resources/integration_data/selc/success_prv_request.json
Owners: @pagopa/selfcare-contributors, @GiampieroFerrara, @pierpaolodidato89

Added rec request test
  apps/onboarding-ms/src/test/resources/features/onboarding.feature
  apps/onboarding-ms/src/test/resources/integration_data/selc/success_rec_request.json
Owners: @pagopa/selfcare-contributors, @GiampieroFerrara, @pierpaolodidato89

[SELC-6851] feat: added success onboarding REC
  apps/onboarding-ms/src/test/resources/features/onboarding.feature
  apps/onboarding-ms/src/test/resources/integration_data/selc/success_rec_request.json
Owners: @pagopa/selfcare-contributors, @GiampieroFerrara, @pierpaolodidato89

feat: added cucumber test for PNPG
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/steps/OnboardingStep.java
  apps/onboarding-ms/src/test/resources/features/onboarding.feature
  apps/onboarding-ms/src/test/resources/integration_data/infocamere/institution_not_into_registry_request.json
  apps/onboarding-ms/src/test/resources/integration_data/infocamere/invalid_digital_address_pg_request.json
  apps/onboarding-ms/src/test/resources/integration_data/infocamere/invalid_origin_pg_request.json
  apps/onboarding-ms/src/test/resources/integration_data/infocamere/invalid_product_pg_request.json
  apps/onboarding-ms/src/test/resources/integration_data/infocamere/invalid_tax_code_pg_request.json
  apps/onboarding-ms/src/test/resources/integration_data/infocamere/invalid_user_pg_request.json
  apps/onboarding-ms/src/test/resources/integration_data/infocamere/success_pg_request.json
  apps/onboarding-ms/src/test/resources/integration_data/products.json
Owners: @pagopa/selfcare-contributors, @GiampieroFerrara, @pierpaolodidato89

[SELC-6853] feat: added cucumber test for PNPG
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/steps/OnboardingStep.java
  apps/onboarding-ms/src/test/resources/features/onboarding.feature
  apps/onboarding-ms/src/test/resources/integration_data/infocamere/institution_not_into_registry_request.json
  apps/onboarding-ms/src/test/resources/integration_data/infocamere/invalid_digital_address_pg_request.json
  apps/onboarding-ms/src/test/resources/integration_data/infocamere/invalid_origin_pg_request.json
  apps/onboarding-ms/src/test/resources/integration_data/infocamere/invalid_product_pg_request.json
  apps/onboarding-ms/src/test/resources/integration_data/infocamere/invalid_tax_code_pg_request.json
  apps/onboarding-ms/src/test/resources/integration_data/infocamere/invalid_user_pg_request.json
  apps/onboarding-ms/src/test/resources/integration_data/infocamere/success_pg_request.json
  apps/onboarding-ms/src/test/resources/integration_data/products.json
Owners: @pagopa/selfcare-contributors, @GiampieroFerrara, @pierpaolodidato89

Updates
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/constants/CustomError.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/entity/registry/client/ClientRegistryIVASS.java
  apps/onboarding-ms/src/test/resources/features/onboarding.feature
  apps/onboarding-ms/src/test/resources/integration_data/ivass/invalid_origin_sa_request.json
  apps/onboarding-ms/src/test/resources/integration_data/ivass/invalid_sa_request.json
  apps/onboarding-ms/src/test/resources/integration_data/ivass/success_foreign_sa_request.json
  apps/onboarding-ms/src/test/resources/integration_data/ivass/success_sa_request.json
Owners: @pagopa/selfcare-contributors, @GiampieroFerrara, @pierpaolodidato89

[SELC-6849] feat: added cucumber scenario for IVASS
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/constants/CustomError.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/entity/registry/client/ClientRegistryIVASS.java
  apps/onboarding-ms/src/test/resources/features/onboarding.feature
  apps/onboarding-ms/src/test/resources/integration_data/ivass/invalid_origin_sa_request.json
  apps/onboarding-ms/src/test/resources/integration_data/ivass/invalid_sa_request.json
  apps/onboarding-ms/src/test/resources/integration_data/ivass/success_foreign_sa_request.json
  apps/onboarding-ms/src/test/resources/integration_data/ivass/success_sa_request.json
Owners: @pagopa/selfcare-contributors, @GiampieroFerrara, @pierpaolodidato89

Added scenario case for GPU
  apps/onboarding-ms/src/test/resources/features/onboarding.feature
  apps/onboarding-ms/src/test/resources/integration_data/selc/success_gpu_request.json
Owners: @pagopa/selfcare-contributors, @GiampieroFerrara, @pierpaolodidato89

Added gitignore for run folder intellij
  .gitignore
Owners: @pagopa/selfcare-admin

Added scenario and fixed config
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/steps/OnboardingStep.java
  apps/onboarding-ms/src/test/resources/features/onboarding.feature
Owners: @pagopa/selfcare-contributors, @GiampieroFerrara, @pierpaolodidato89

Fixed tags
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/steps/OnboardingStep.java
  apps/onboarding-ms/src/test/resources/features/onboarding.feature
Owners: @pagopa/selfcare-contributors, @GiampieroFerrara, @pierpaolodidato89

Added scenario for sa
  apps/onboarding-ms/src/test/resources/integration_data/anac/invalid_as_request.json
  apps/onboarding-ms/src/test/resources/integration_data/anac/success_as_request.json
Owners: @pagopa/selfcare-contributors, @GiampieroFerrara, @pierpaolodidato89

feat: added cucumber test for aggregator
  apps/onboarding-ms/src/test/resources/features/onboarding.feature
  apps/onboarding-ms/src/test/resources/integration_data/aggregator/ipa/invalid_aggregate_pa_request.json
  apps/onboarding-ms/src/test/resources/integration_data/aggregator/ipa/success_aggregation_pa_request.json
  apps/onboarding-ms/src/test/resources/integration_data/aggregator/selc/success_aggregation_gpu_request.json
Owners: @pagopa/selfcare-contributors, @GiampieroFerrara, @pierpaolodidato89

Added scenarios for AS
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/constants/CustomError.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/entity/registry/client/ClientRegistryANAC.java
  apps/onboarding-ms/src/main/resources/application.properties
  apps/onboarding-ms/src/test/resources/features/onboarding.feature
  apps/onboarding-ms/src/test/resources/integration_data/anac/invalid_as_request.json
  apps/onboarding-ms/src/test/resources/integration_data/anac/invalid_origin_as_request.json
Owners: @pagopa/selfcare-contributors, @GiampieroFerrara, @pierpaolodidato89

[SELC-6850] feat: added cucumber scenarios for ANAC
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/constants/CustomError.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/entity/registry/client/ClientRegistryANAC.java
  apps/onboarding-ms/src/main/resources/application.properties
  apps/onboarding-ms/src/test/resources/features/onboarding.feature
  apps/onboarding-ms/src/test/resources/integration_data/anac/invalid_as_request.json
  apps/onboarding-ms/src/test/resources/integration_data/anac/invalid_origin_as_request.json
  apps/onboarding-ms/src/test/resources/integration_data/anac/success_as_request.json
Owners: @pagopa/selfcare-contributors, @GiampieroFerrara, @pierpaolodidato89

Fixed json of test
  apps/onboarding-ms/src/test/resources/integration_data/selc/success_gpu_request.json
Owners: @pagopa/selfcare-contributors, @GiampieroFerrara, @pierpaolodidato89

Fix institutionType for AS and SA scenario
  apps/onboarding-ms/src/test/resources/features/onboarding.feature
  apps/onboarding-ms/src/test/resources/integration_data/anac/invalid_origin_sa_request.json
  apps/onboarding-ms/src/test/resources/integration_data/anac/invalid_sa_request.json
  apps/onboarding-ms/src/test/resources/integration_data/anac/success_sa_request.json
  apps/onboarding-ms/src/test/resources/integration_data/ivass/invalid_as_request.json
  apps/onboarding-ms/src/test/resources/integration_data/ivass/invalid_origin_as_request.json
  apps/onboarding-ms/src/test/resources/integration_data/ivass/success_as_request.json
  apps/onboarding-ms/src/test/resources/integration_data/ivass/success_foreign_as_request.json
Owners: @pagopa/selfcare-contributors, @GiampieroFerrara, @pierpaolodidato89

[SELC-6847] feat: Added scenario for InstitutionType GPU
  .gitignore
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/steps/OnboardingStep.java
  apps/onboarding-ms/src/test/resources/features/onboarding.feature
  apps/onboarding-ms/src/test/resources/integration_data/selc/success_gpu_request.json
Owners: @pagopa/selfcare-admin, @pagopa/selfcare-contributors, @GiampieroFerrara, @pierpaolodidato89

chore: Adding new endpoint for retrieve contract signed from storage
  apps/onboarding-ms/pom.xml
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/controller/TokenController.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/service/SignatureService.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/service/SignatureServiceDefault.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/service/TokenService.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/service/TokenServiceDefault.java
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/controller/TokenControllerTest.java
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/service/TokenServiceDefaultTest.java
  apps/onboarding-ms/src/test/resources/documents/contract_error.p7m
  apps/onboarding-ms/src/test/resources/documents/test.pdf
Owners: @pagopa/selfcare-contributors, @GiampieroFerrara, @pierpaolodidato89

chore: Update lib version
  apps/onboarding-functions/pom.xml
  apps/onboarding-ms/pom.xml
  apps/pom.xml
  libs/onboarding-sdk-azure-storage/pom.xml
  libs/onboarding-sdk-common/pom.xml
  libs/onboarding-sdk-crypto/pom.xml
  libs/onboarding-sdk-pom/pom.xml
  libs/onboarding-sdk-product/pom.xml
  test-coverage/pom.xml
Owners: @pagopa/selfcare-contributors, @GiampieroFerrara, @pierpaolodidato89

chore: Update log error on extract document
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/service/SignatureServiceDefault.java
Owners: @pagopa/selfcare-contributors, @GiampieroFerrara, @pierpaolodidato89

fix: updated tag
  apps/onboarding-ms/src/test/resources/features/onboarding.feature
Owners: @pagopa/selfcare-contributors, @GiampieroFerrara, @pierpaolodidato89

[SELC-6854] feat: added cucumber test for aggregator
  apps/onboarding-ms/src/test/resources/features/onboarding.feature
  apps/onboarding-ms/src/test/resources/integration_data/aggregator/ipa/invalid_aggregate_pa_request.json
  apps/onboarding-ms/src/test/resources/integration_data/aggregator/ipa/success_aggregation_pa_request.json
  apps/onboarding-ms/src/test/resources/integration_data/aggregator/selc/success_aggregation_gpu_request.json
Owners: @pagopa/selfcare-contributors, @GiampieroFerrara, @pierpaolodidato89

Added test and mongo integration
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/steps/IntegrationProfile.java
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/steps/OnboardingStep.java
  apps/onboarding-ms/src/test/resources/features/onboarding.feature
  apps/onboarding-ms/src/test/resources/integration_data/selc/success_pt_request.json
Owners: @pagopa/selfcare-contributors, @GiampieroFerrara, @pierpaolodidato89

chore: Adding test
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/service/SignatureService.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/service/SignatureServiceDefault.java
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/service/SignatureServiceDefaultTest.java
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/service/TokenServiceDefaultTest.java
  apps/onboarding-ms/src/test/resources/documents/test.pdf.p7m
Owners: @pagopa/selfcare-contributors, @GiampieroFerrara, @pierpaolodidato89

chore: Adding test
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/service/TokenServiceDefaultTest.java
Owners: @pagopa/selfcare-contributors, @GiampieroFerrara, @pierpaolodidato89

chore: Adding test
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/service/SignatureServiceDefaultTest.java
Owners: @pagopa/selfcare-contributors, @GiampieroFerrara, @pierpaolodidato89

Fixed exception into registry manager PT and added scenario
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/entity/registry/RegistryManagerPT.java
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/steps/OnboardingStep.java
  apps/onboarding-ms/src/test/resources/features/onboarding.feature
  apps/onboarding-ms/src/test/resources/integration_data/selc/invalid_pt_request.json
Owners: @pagopa/selfcare-contributors, @GiampieroFerrara, @pierpaolodidato89

chore: Adding test
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/service/SignatureServiceDefaultTest.java
Owners: @pagopa/selfcare-contributors, @GiampieroFerrara, @pierpaolodidato89

Added lombok on class
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/entity/registry/BaseRegistryManager.java
Owners: @pagopa/selfcare-contributors, @GiampieroFerrara, @pierpaolodidato89

Added junit test case for RegistryManagerPT
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/entity/registry/RegistryManagerPTTest.java
Owners: @pagopa/selfcare-contributors, @GiampieroFerrara, @pierpaolodidato89

Added scenario for psp
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/steps/OnboardingStep.java
  apps/onboarding-ms/src/test/resources/features/onboarding.feature
  apps/onboarding-ms/src/test/resources/integration_data/ivass/success_foreign_sa_request.json
  apps/onboarding-ms/src/test/resources/integration_data/selc/invalid_child_dashboard_psp_request.json
  apps/onboarding-ms/src/test/resources/integration_data/selc/invalid_import_psp_request.json
  apps/onboarding-ms/src/test/resources/integration_data/selc/invalid_psp_request.json
  apps/onboarding-ms/src/test/resources/integration_data/selc/success_import_psp_request.json
  apps/onboarding-ms/src/test/resources/integration_data/selc/success_psp_request.json
Owners: @pagopa/selfcare-contributors, @GiampieroFerrara, @pierpaolodidato89

[SELC-6884] Retrieve only valid contract (#769)
  apps/onboarding-functions/pom.xml
  apps/onboarding-ms/pom.xml
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/controller/TokenController.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/service/SignatureService.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/service/SignatureServiceDefault.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/service/TokenService.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/service/TokenServiceDefault.java
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/controller/TokenControllerTest.java
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/service/SignatureServiceDefaultTest.java
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/service/TokenServiceDefaultTest.java
  apps/onboarding-ms/src/test/resources/documents/contract_error.p7m
  apps/onboarding-ms/src/test/resources/documents/test.pdf
  apps/onboarding-ms/src/test/resources/documents/test.pdf.p7m
  apps/pom.xml
  libs/onboarding-sdk-azure-storage/pom.xml
  libs/onboarding-sdk-azure-storage/src/main/java/it/pagopa/selfcare/azurestorage/AzureBlobClient.java
  libs/onboarding-sdk-azure-storage/src/main/java/it/pagopa/selfcare/azurestorage/AzureBlobClientDefault.java
  libs/onboarding-sdk-common/pom.xml
  libs/onboarding-sdk-crypto/pom.xml
  libs/onboarding-sdk-pom/pom.xml
  libs/onboarding-sdk-product/pom.xml
  test-coverage/pom.xml
Owners: @pagopa/selfcare-contributors, @GiampieroFerrara, @pierpaolodidato89

CODEOWNERS:

# CodeOwners

## Default owners

* @pagopa/selfcare-admin

## Code owner for the applications

/apps/** @pagopa/selfcare-contributors @GiampieroFerrara @pierpaolodidato89
/libs/** @pagopa/selfcare-contributors @GiampieroFerrara @pierpaolodidato89
/test-coverage/** @pagopa/selfcare-contributors @GiampieroFerrara @pierpaolodidato89

.dockerignore @pagopa/selfcare-contributors @GiampieroFerrara @pierpaolodidato89
docker-compose.yml @pagopa/selfcare-contributors @GiampieroFerrara @pierpaolodidato89
*.xml @pagopa/selfcare-contributors @GiampieroFerrara @pierpaolodidato89
*.md @pagopa/selfcare-contributors @GiampieroFerrara @pierpaolodidato89
