Repository pagopa/selfcare-onboarding, changes with the owners that CODEOWNERS names for each.
All owners: @pagopa/selfcare-admin, @pagopa/selfcare-contributors, @GiampieroFerrara, @pierpaolodidato89

Fixed surefire
  apps/onboarding-functions/pom.xml
Owners: @pagopa/selfcare-contributors, @GiampieroFerrara, @pierpaolodidato89

Testing log
  .github/workflows/cucumber-fn_integration_test.yml
Owners: @pagopa/selfcare-admin

Fixed pre-merge
  .github/workflows/cucumber-fn_integration_test.yml
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/steps/OnboardingFunctionStep.java
  apps/onboarding-functions/src/test/resources/application.properties
  apps/onboarding-functions/src/test/resources/docker-compose.yml
Owners: @pagopa/selfcare-admin, @pagopa/selfcare-contributors, @GiampieroFerrara, @pierpaolodidato89

Added legalForm for create institution activity
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/entity/Institution.java
  apps/onboarding-functions/src/main/openapi/core.json
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/functions/OnboardingFunctionsTest.java
Owners: @pagopa/selfcare-contributors, @GiampieroFerrara, @pierpaolodidato89

Fixed pre-merge
  .github/workflows/cucumber-fn_integration_test.yml
  apps/onboarding-functions/src/test/resources/docker-compose.yml
  apps/onboarding-functions/src/test/resources/features/onboarding-fn.feature
  apps/onboarding-functions/src/test/resources/fn/entrypoint.sh
Owners: @pagopa/selfcare-admin, @pagopa/selfcare-contributors, @GiampieroFerrara, @pierpaolodidato89

Fixed logs and added fake token into session
  .github/workflows/cucumber-fn_integration_test.yml
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/steps/OnboardingFunctionStep.java
  apps/onboarding-functions/src/test/resources/fn/application.properties
  apps/onboarding-functions/src/test/resources/test-integration-function.env
Owners: @pagopa/selfcare-admin, @pagopa/selfcare-contributors, @GiampieroFerrara, @pierpaolodidato89

Fixed pre-merge
  .github/workflows/cucumber-fn_integration_test.yml
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/steps/OnboardingFunctionStep.java
  apps/onboarding-functions/src/test/resources/fn/application.properties
  apps/onboarding-functions/src/test/resources/test-integration-function.env
Owners: @pagopa/selfcare-admin, @pagopa/selfcare-contributors, @GiampieroFerrara, @pierpaolodidato89

Added utility to generate token
  apps/onboarding-functions/pom.xml
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/steps/TokenGeneratorTest.java
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/utils/JwtUtils.java
Owners: @pagopa/selfcare-contributors, @GiampieroFerrara, @pierpaolodidato89

CODEOWNERS:

# CodeOwners

## Default owners

* @pagopa/selfcare-admin

## Code owner for the applications

/apps/** @pagopa/selfcare-contributors @GiampieroFerrara @pierpaolodidato89
/libs/** @pagopa/selfcare-contributors @GiampieroFerrara @pierpaolodidato89
/test-coverage/** @pagopa/selfcare-contributors @GiampieroFerrara @pierpaolodidato89

.dockerignore @pagopa/selfcare-contributors @GiampieroFerrara @pierpaolodidato89
docker-compose.yml @pagopa/selfcare-contributors @GiampieroFerrara @pierpaolodidato89
*.xml @pagopa/selfcare-contributors @GiampieroFerrara @pierpaolodidato89
*.md @pagopa/selfcare-contributors @GiampieroFerrara @pierpaolodidato89
