Repository pagopa/selfcare-onboarding, changes with the owners that CODEOWNERS names for each.
All owners: @pagopa/selfcare-admin, @pagopa/selfcare-contributors, @GiampieroFerrara, @pierpaolodidato89

Added exclusion for io.netty transitivity from quarkus-mailer
  apps/onboarding-functions/pom.xml
Owners: @pagopa/selfcare-contributors, @GiampieroFerrara, @pierpaolodidato89

Fixed properties
  apps/onboarding-functions/pom.xml
  libs/onboarding-sdk-azure-storage/pom.xml
Owners: @pagopa/selfcare-contributors, @GiampieroFerrara, @pierpaolodidato89

Fixed version
  apps/onboarding-functions/pom.xml
Owners: @pagopa/selfcare-contributors, @GiampieroFerrara, @pierpaolodidato89

Fixed version
  apps/onboarding-functions/pom.xml
Owners: @pagopa/selfcare-contributors, @GiampieroFerrara, @pierpaolodidato89

Added api for import PRV
  apps/onboarding-ms/src/main/docs/openapi.json
  apps/onboarding-ms/src/main/docs/openapi.yaml
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/controller/OnboardingController.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/service/OnboardingServiceDefault.java
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/controller/OnboardingControllerTest.java
  apps/onboarding-ms/src/test/resources/features/onboarding.feature
  apps/onboarding-ms/src/test/resources/integration_data/selc/success_import_prv_request.json
Owners: @pagopa/selfcare-contributors, @GiampieroFerrara, @pierpaolodidato89

Updated list of allowed products
  infra/container_apps/onboarding-ms/env/dev/terraform.tfvars
  infra/container_apps/onboarding-ms/env/prod/terraform.tfvars
  infra/container_apps/onboarding-ms/env/uat/terraform.tfvars
Owners: @pagopa/selfcare-admin

[SELC-7179] feat: added API for import PRV
  apps/onboarding-ms/src/main/docs/openapi.json
  apps/onboarding-ms/src/main/docs/openapi.yaml
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/controller/OnboardingController.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/service/OnboardingServiceDefault.java
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/controller/OnboardingControllerTest.java
  apps/onboarding-ms/src/test/resources/features/onboarding.feature
  apps/onboarding-ms/src/test/resources/integration_data/selc/success_import_prv_request.json
  infra/container_apps/onboarding-ms/env/dev/terraform.tfvars
  infra/container_apps/onboarding-ms/env/prod/terraform.tfvars
  infra/container_apps/onboarding-ms/env/uat/terraform.tfvars
Owners: @pagopa/selfcare-contributors, @GiampieroFerrara, @pierpaolodidato89, @pagopa/selfcare-admin

Updated open api for create institution service
  apps/onboarding-functions/src/main/openapi/core.json
Owners: @pagopa/selfcare-contributors, @GiampieroFerrara, @pierpaolodidato89

chore: Adding new storage container
  infra/resources/.terraform-version
  infra/resources/_modules/storage_accounts/alerts.tf
  infra/resources/_modules/storage_accounts/locals.tf
  infra/resources/_modules/storage_accounts/main.tf
  infra/resources/dev/main.tf
Owners: @pagopa/selfcare-admin

chore: Adding new storage container
  infra/resources/_modules/storage_accounts/alerts.tf
Owners: @pagopa/selfcare-admin

chore: Adding new storage container
  infra/resources/_modules/storage_accounts/README.md
  infra/resources/_modules/storage_accounts/storage_account.tf
  infra/resources/dev/outputs.tf
  infra/resources/dev/storage_documents.tf
  infra/resources/dev/variables.tf
Owners: @pagopa/selfcare-contributors, @GiampieroFerrara, @pierpaolodidato89, @pagopa/selfcare-admin

[SELC-7084] feat: added field istatCode into Institution object
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/entity/Institution.java
  apps/onboarding-functions/src/main/openapi/core.json
Owners: @pagopa/selfcare-contributors, @GiampieroFerrara, @pierpaolodidato89

chore: Adding new storage container
  infra/resources/_modules/storage_accounts/storage_account.tf
Owners: @pagopa/selfcare-admin

chore: Adding new storage container
  infra/resources/_modules/storage_accounts/storage_account.tf
  infra/resources/dev/storage_documents.tf
Owners: @pagopa/selfcare-admin

chore: Adding new storage container
  infra/resources/dev/main.tf
  infra/resources/dev/storage_documents.tf
  infra/resources/dev/variables.tf
Owners: @pagopa/selfcare-admin

chore: Adding new storage container
  infra/resources/dev/storage_documents.tf
  infra/resources/dev/variables.tf
Owners: @pagopa/selfcare-admin

chore: Adding new storage container
  infra/resources/_modules/storage_accounts/outputs.tf
  infra/resources/_modules/storage_accounts/storage_account.tf
  infra/resources/dev/outputs.tf
  infra/resources/dev/storage_documents.tf
  infra/resources/dev/variables.tf
Owners: @pagopa/selfcare-admin

chore: Adding new storage container
  infra/resources/_modules/storage_accounts/storage_account.tf
  infra/resources/dev/storage_documents.tf
Owners: @pagopa/selfcare-admin

chore: Adding new storage container
  infra/resources/dev/storage_documents.tf
Owners: @pagopa/selfcare-admin

chore: Adding new storage container
  infra/resources/_modules/storage_accounts/storage_account.tf
  infra/resources/dev/storage_documents.tf
Owners: @pagopa/selfcare-admin

chore: Adding new storage container
  infra/resources/_modules/storage_accounts/data.tf
  infra/resources/_modules/storage_accounts/storage_account.tf
  infra/resources/_modules/storage_accounts/storage_snet.tf
  infra/resources/dev/storage_documents.tf
  infra/resources/dev/variables.tf
Owners: @pagopa/selfcare-admin

chore: Adding new storage container
  infra/resources/_modules/storage_accounts/data.tf
  infra/resources/_modules/storage_accounts/storage_account.tf
  infra/resources/_modules/storage_accounts/storage_snet.tf
  infra/resources/dev/storage_documents.tf
Owners: @pagopa/selfcare-admin

chore: Adding new storage container
  infra/resources/dev/locals.tf
Owners: @pagopa/selfcare-admin

chore: Delete contract file
  apps/onboarding-functions/pom.xml
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/config/AzureStorageConfig.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/dto/EntityFilter.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/functions/InstitutionFunctions.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/functions/TokenFunctions.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/functions/utils/ActivityName.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/service/ContractService.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/service/ContractServiceDefault.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/service/OnboardingService.java
  apps/onboarding-functions/src/main/resources/application.properties
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/functions/InstitutionFunctionsTest.java
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/functions/TokenFunctionsTest.java
  apps/onboarding-functions/src/test/resources/application.properties
  apps/onboarding-ms/pom.xml
  infra/resources/_modules/storage_accounts/storage_containers.tf
  infra/resources/_modules/storage_accounts/variables.tf
  infra/resources/dev/.terraform.lock.hcl
  infra/resources/dev/data.tf
  libs/onboarding-sdk-azure-storage/pom.xml
  libs/onboarding-sdk-azure-storage/src/main/java/it/pagopa/selfcare/azurestorage/AzureBlobClient.java
  libs/onboarding-sdk-azure-storage/src/main/java/it/pagopa/selfcare/azurestorage/AzureBlobClientDefault.java
  libs/onboarding-sdk-common/pom.xml
  libs/onboarding-sdk-crypto/pom.xml
  libs/onboarding-sdk-pom/pom.xml
  libs/onboarding-sdk-product/pom.xml
Owners: @pagopa/selfcare-contributors, @GiampieroFerrara, @pierpaolodidato89, @pagopa/selfcare-admin

chore: Delete contract file
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/service/ContractServiceDefault.java
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/service/ContractServiceDefaultTest.java
  apps/onboarding-functions/src/test/resources/documents/test.pdf
Owners: @pagopa/selfcare-contributors, @GiampieroFerrara, @pierpaolodidato89

chore: Delete contract file
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/functions/TokenFunctions.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/service/ContractService.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/service/ContractServiceDefault.java
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/functions/TokenFunctionsTest.java
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/service/ContractServiceDefaultTest.java
Owners: @pagopa/selfcare-contributors, @GiampieroFerrara, @pierpaolodidato89

feat: added logic to send mail for user during onboarding request phase
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/functions/OnboardingFunctions.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/functions/utils/ActivityName.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/mapper/OnboardingMapper.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/mapper/UserMapper.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/service/OnboardingService.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/workflow/WorkflowExecutor.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/workflow/WorkflowExecutorContractRegistration.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/workflow/WorkflowExecutorContractRegistrationAggregator.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/workflow/WorkflowExecutorForApprove.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/workflow/WorkflowExecutorForApproveGpu.java
  apps/onboarding-functions/src/main/openapi/user.json
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/functions/OnboardingFunctionsTest.java
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/service/OnboardingServiceTest.java
Owners: @pagopa/selfcare-contributors, @GiampieroFerrara, @pierpaolodidato89

[SELC-6979] feat: added logic to send mail for user during onboarding request phase
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/functions/OnboardingFunctions.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/functions/utils/ActivityName.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/mapper/OnboardingMapper.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/mapper/UserMapper.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/service/OnboardingService.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/workflow/WorkflowExecutor.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/workflow/WorkflowExecutorContractRegistration.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/workflow/WorkflowExecutorContractRegistrationAggregator.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/workflow/WorkflowExecutorForApprove.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/workflow/WorkflowExecutorForApproveGpu.java
  apps/onboarding-functions/src/main/openapi/user.json
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/functions/OnboardingFunctionsTest.java
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/service/OnboardingServiceTest.java
Owners: @pagopa/selfcare-contributors, @GiampieroFerrara, @pierpaolodidato89

chore: Delete contract file
  .gitignore
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/functions/InstitutionFunctions.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/functions/TokenFunctions.java
  infra/functions/onboarding-functions/.terraform.lock.hcl
Owners: @pagopa/selfcare-admin, @pagopa/selfcare-contributors, @GiampieroFerrara, @pierpaolodidato89

chore: Delete contract file
  .gitignore
Owners: @pagopa/selfcare-admin

feat: added description for send mail to user
  apps/onboarding-functions/src/test/resources/integration_data/onboarding/selc/success_for_approve_gpu_request.json
Owners: @pagopa/selfcare-contributors, @GiampieroFerrara, @pierpaolodidato89

[SELC-7141] feat: added description for send mail to user
  apps/onboarding-functions/src/test/resources/integration_data/onboarding/selc/success_for_approve_gpu_request.json
Owners: @pagopa/selfcare-contributors, @GiampieroFerrara, @pierpaolodidato89

chore: Delete contract file
  infra/resources/_modules/storage_accounts/locals.tf
  infra/resources/_modules/storage_accounts/variables.tf
Owners: @pagopa/selfcare-admin

Removed thrown exception from user deleteion function
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/service/UserService.java
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/service/UserService.java
Owners: @pagopa/selfcare-contributors, @GiampieroFerrara, @pierpaolodidato89

Updates
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/functions/InstitutionFunctions.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/service/UserService.java
Owners: @pagopa/selfcare-contributors, @GiampieroFerrara, @pierpaolodidato89

Updated unit tests
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/service/UserServiceTest.java
Owners: @pagopa/selfcare-contributors, @GiampieroFerrara, @pierpaolodidato89

chore: Delete contract file
  apps/pom.xml
  test-coverage/pom.xml
Owners: @pagopa/selfcare-contributors, @GiampieroFerrara, @pierpaolodidato89

chore: Delete contract file
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/functions/InstitutionFunctions.java
Owners: @pagopa/selfcare-contributors, @GiampieroFerrara, @pierpaolodidato89

chore: Delete contract file
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/functions/InstitutionFunctions.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/functions/TokenFunctions.java
Owners: @pagopa/selfcare-contributors, @GiampieroFerrara, @pierpaolodidato89

chore: Delete contract file
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/functions/InstitutionFunctions.java
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/functions/TokenFunctions.java
Owners: @pagopa/selfcare-contributors, @GiampieroFerrara, @pierpaolodidato89

CODEOWNERS:

# CodeOwners

## Default owners

* @pagopa/selfcare-admin

## Code owner for the applications

/apps/** @pagopa/selfcare-contributors @GiampieroFerrara @pierpaolodidato89
/libs/** @pagopa/selfcare-contributors @GiampieroFerrara @pierpaolodidato89
/test-coverage/** @pagopa/selfcare-contributors @GiampieroFerrara @pierpaolodidato89

.dockerignore @pagopa/selfcare-contributors @GiampieroFerrara @pierpaolodidato89
docker-compose.yml @pagopa/selfcare-contributors @GiampieroFerrara @pierpaolodidato89
*.xml @pagopa/selfcare-contributors @GiampieroFerrara @pierpaolodidato89
*.md @pagopa/selfcare-contributors @GiampieroFerrara @pierpaolodidato89
