Repository pagopa/selfcare-onboarding, changes with the owners that CODEOWNERS names for each.
All owners: @pagopa/selfcare-admin, @pagopa/selfcare-contributors, @giampiero-ferrara, @pierpaolodidato89

Testing clone from git
  .github/workflows/cucumber-fn_integration_test.yml
Owners: @pagopa/selfcare-admin

Testing
  .github/workflows/cucumber-fn_integration_test.yml
  apps/onboarding-functions/src/test/resources/Dockerfile-azure-cli
  apps/onboarding-functions/src/test/resources/docker-compose.yml
Owners: @pagopa/selfcare-admin, @pagopa/selfcare-contributors, @giampiero-ferrara, @pierpaolodidato89

Testing download from blob
  .github/workflows/cucumber-fn_integration_test.yml
Owners: @pagopa/selfcare-admin

Testing download from blob
  .github/workflows/cucumber-fn_integration_test.yml
Owners: @pagopa/selfcare-admin

Mount of file into container
  apps/onboarding-functions/src/test/resources/Dockerfile-azure-cli
  apps/onboarding-functions/src/test/resources/blobStorageInit/init_azurite.sh
  apps/onboarding-functions/src/test/resources/docker-compose.yml
Owners: @pagopa/selfcare-contributors, @giampiero-ferrara, @pierpaolodidato89

Testing
  apps/onboarding-functions/src/test/resources/blobStorageInit/products.json
Owners: @pagopa/selfcare-contributors, @giampiero-ferrara, @pierpaolodidato89

Renamed action file
  .github/workflows/cucumber_function_integration_test.yml
Owners: @pagopa/selfcare-admin

Fixed download config
  .github/workflows/cucumber_function_integration_test.yml
  apps/onboarding-functions/src/test/resources/blobStorageInit/init_azurite.sh
Owners: @pagopa/selfcare-admin, @pagopa/selfcare-contributors, @giampiero-ferrara, @pierpaolodidato89

Fixed download config
  .github/workflows/cucumber_function_integration_test.yml
Owners: @pagopa/selfcare-admin

Fixed download config
  .github/workflows/cucumber_function_integration_test.yml
Owners: @pagopa/selfcare-admin

Testing
  .github/workflows/cucumber_function_integration_test.yml
Owners: @pagopa/selfcare-admin

Testing
  .github/workflows/cucumber_function_integration_test.yml
Owners: @pagopa/selfcare-admin

Fixed var
  .github/workflows/cucumber_function_integration_test.yml
Owners: @pagopa/selfcare-admin

Testing
  .github/workflows/cucumber_function_integration_test.yml
  apps/onboarding-functions/src/test/resources/blobStorageInit/init_azurite.sh
Owners: @pagopa/selfcare-admin, @pagopa/selfcare-contributors, @giampiero-ferrara, @pierpaolodidato89

Testing azure-storage
  .github/workflows/cucumber_function_integration_test.yml
  apps/onboarding-functions/src/test/resources/blobStorageInit/init_azurite.sh
Owners: @pagopa/selfcare-admin, @pagopa/selfcare-contributors, @giampiero-ferrara, @pierpaolodidato89

Updated fake token
  apps/onboarding-functions/src/test/resources/test-integration-function.env
Owners: @pagopa/selfcare-contributors, @giampiero-ferrara, @pierpaolodidato89

Added fake file
  .github/workflows/cucumber_function_integration_test.yml
  apps/onboarding-functions/src/test/resources/blobStorageInit/products.json
Owners: @pagopa/selfcare-admin, @pagopa/selfcare-contributors, @giampiero-ferrara, @pierpaolodidato89

Fixed var
  .github/workflows/cucumber_function_integration_test.yml
Owners: @pagopa/selfcare-admin

Fixed output
  .github/workflows/cucumber_function_integration_test.yml
Owners: @pagopa/selfcare-admin

[SELC-7576] feat: Added pull of configuration of products into azurite storage
  .github/workflows/cucumber_function_integration_test.yml
  apps/onboarding-functions/src/test/resources/Dockerfile-azure-cli
  apps/onboarding-functions/src/test/resources/blobStorageInit/init_azurite.sh
  apps/onboarding-functions/src/test/resources/test-integration-function.env
Owners: @pagopa/selfcare-admin, @pagopa/selfcare-contributors, @giampiero-ferrara, @pierpaolodidato89

Added lombok to class
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/entity/Onboarding.java
Owners: @pagopa/selfcare-contributors, @giampiero-ferrara, @pierpaolodidato89

Fixed maven-compiler-plugin
  apps/onboarding-functions/pom.xml
Owners: @pagopa/selfcare-contributors, @giampiero-ferrara, @pierpaolodidato89

Fixed paths and added az logout
  .github/workflows/cucumber_function_integration_test.yml
Owners: @pagopa/selfcare-admin

Fixed integration-test action for onboarding-fn
  .github/workflows/cucumber_function_integration_test.yml
Owners: @pagopa/selfcare-admin

[SELC-7581] feat: Added lombok to onboarding class into fn
  apps/onboarding-functions/pom.xml
  apps/onboarding-functions/src/main/java/it/pagopa/selfcare/onboarding/entity/Onboarding.java
Owners: @pagopa/selfcare-contributors, @giampiero-ferrara, @pierpaolodidato89

CODEOWNERS:

# CodeOwners

## Default owners

* @pagopa/selfcare-admin

## Code owner for the applications

/apps/** @pagopa/selfcare-contributors @giampiero-ferrara @pierpaolodidato89
/libs/** @pagopa/selfcare-contributors @giampiero-ferrara @pierpaolodidato89
/test-coverage/** @pagopa/selfcare-contributors @giampiero-ferrara @pierpaolodidato89

.dockerignore @pagopa/selfcare-contributors @giampiero-ferrara @pierpaolodidato89
docker-compose.yml @pagopa/selfcare-contributors @giampiero-ferrara @pierpaolodidato89
*.xml @pagopa/selfcare-contributors @giampiero-ferrara @pierpaolodidato89
*.md @pagopa/selfcare-contributors @giampiero-ferrara @pierpaolodidato89
