Repository pagopa/selfcare-onboarding, changes with the owners that CODEOWNERS names for each.
All owners: @pagopa/selfcare-admin, @pagopa/selfcare-contributors, @GiampieroFerrara, @pierpaolodidato89

Testing
  .github/workflows/cucumber-fn_integration_test.yml
Owners: @pagopa/selfcare-admin

Testing
  .github/workflows/cucumber-fn_integration_test.yml
Owners: @pagopa/selfcare-admin

Testing
  .github/workflows/cucumber-fn_integration_test.yml
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/steps/OnboardingFunctionStep.java
Owners: @pagopa/selfcare-admin, @pagopa/selfcare-contributors, @GiampieroFerrara, @pierpaolodidato89

Added cleanup resources step
  .github/workflows/cucumber-fn_integration_test.yml
Owners: @pagopa/selfcare-admin

Fixed properties for test
  apps/onboarding-functions/src/test/resources/application.properties
  apps/onboarding-functions/src/test/resources/fn/application.properties
Owners: @pagopa/selfcare-contributors, @GiampieroFerrara, @pierpaolodidato89

Testing
  apps/onboarding-functions/src/test/resources/Dockerfile-fn
  apps/onboarding-functions/src/test/resources/fn/host.json
Owners: @pagopa/selfcare-contributors, @GiampieroFerrara, @pierpaolodidato89

Testing
  apps/onboarding-functions/src/test/resources/.dockerignore
  apps/onboarding-functions/src/test/resources/Dockerfile-fn
  apps/onboarding-functions/src/test/resources/fn/entrypoint.sh
Owners: @pagopa/selfcare-contributors, @GiampieroFerrara, @pierpaolodidato89

Testing
  apps/onboarding-functions/src/test/resources/application.properties
  apps/onboarding-functions/src/test/resources/fn/application.properties
Owners: @pagopa/selfcare-contributors, @GiampieroFerrara, @pierpaolodidato89

Testing
  .github/workflows/cucumber-fn_integration_test.yml
Owners: @pagopa/selfcare-admin

Testing
  .github/workflows/cucumber-fn_integration_test.yml
  apps/onboarding-functions/src/test/resources/Dockerfile-fn
Owners: @pagopa/selfcare-admin, @pagopa/selfcare-contributors, @GiampieroFerrara, @pierpaolodidato89

Testing
  apps/onboarding-functions/src/test/resources/Dockerfile-fn
Owners: @pagopa/selfcare-contributors, @GiampieroFerrara, @pierpaolodidato89

Fixed maven settings
  .github/workflows/cucumber-fn_integration_test.yml
Owners: @pagopa/selfcare-admin

Fixed m2 settings
  apps/onboarding-functions/src/test/resources/docker-compose.yml
Owners: @pagopa/selfcare-contributors, @GiampieroFerrara, @pierpaolodidato89

Testing m2 home
  apps/onboarding-functions/src/test/resources/docker-compose.yml
Owners: @pagopa/selfcare-contributors, @GiampieroFerrara, @pierpaolodidato89

Testing m2 home
  apps/onboarding-functions/src/test/resources/docker-compose.yml
Owners: @pagopa/selfcare-contributors, @GiampieroFerrara, @pierpaolodidato89

Testing m2 home
  apps/onboarding-functions/src/test/resources/docker-compose.yml
Owners: @pagopa/selfcare-contributors, @GiampieroFerrara, @pierpaolodidato89

Fixed root m2
  apps/onboarding-functions/src/test/resources/docker-compose.yml
Owners: @pagopa/selfcare-contributors, @GiampieroFerrara, @pierpaolodidato89

Fixed libs
  .github/workflows/cucumber-fn_integration_test.yml
  apps/onboarding-functions/src/test/resources/Dockerfile-fn
  apps/onboarding-functions/src/test/resources/docker-compose.yml
Owners: @pagopa/selfcare-admin, @pagopa/selfcare-contributors, @GiampieroFerrara, @pierpaolodidato89

Fixed mongo
  apps/onboarding-functions/src/test/resources/application.properties
Owners: @pagopa/selfcare-contributors, @GiampieroFerrara, @pierpaolodidato89

Fixed mongo
  apps/onboarding-functions/src/test/resources/application.properties
Owners: @pagopa/selfcare-contributors, @GiampieroFerrara, @pierpaolodidato89

Fixed path of template for test
  apps/onboarding-functions/src/test/resources/fn/application.properties
Owners: @pagopa/selfcare-contributors, @GiampieroFerrara, @pierpaolodidato89

Added env for integration fn
  apps/onboarding-functions/src/test/resources/docker-compose.yml
  apps/onboarding-functions/src/test/resources/fn/application.properties
  apps/onboarding-functions/src/test/resources/test-integration-function.env
Owners: @pagopa/selfcare-contributors, @GiampieroFerrara, @pierpaolodidato89

Updates
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/service/OnboardingServiceDefault.java
Owners: @pagopa/selfcare-contributors, @GiampieroFerrara, @pierpaolodidato89

Updates
  .github/workflows/integration_test_onboarding_ms.yml
Owners: @pagopa/selfcare-admin

Updated properties
  apps/onboarding-functions/src/test/resources/fn/application.properties
  apps/onboarding-functions/src/test/resources/test-integration-function.env
Owners: @pagopa/selfcare-contributors, @GiampieroFerrara, @pierpaolodidato89

Fixed azurite persistency
  apps/onboarding-functions/src/test/resources/docker-compose.yml
Owners: @pagopa/selfcare-contributors, @GiampieroFerrara, @pierpaolodidato89

Fixed port user-ms
  apps/onboarding-functions/src/test/resources/docker-compose.yml
  apps/onboarding-functions/src/test/resources/test-user-ms.env
Owners: @pagopa/selfcare-contributors, @GiampieroFerrara, @pierpaolodidato89

Added env for external ws
  apps/onboarding-functions/src/test/resources/fn/application.properties
  apps/onboarding-functions/src/test/resources/test-integration-function.env
Owners: @pagopa/selfcare-contributors, @GiampieroFerrara, @pierpaolodidato89

Added junit tests
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/service/OnboardingServiceIntegrationTest.java
Owners: @pagopa/selfcare-contributors, @GiampieroFerrara, @pierpaolodidato89

Fixed scenarios
  apps/onboarding-functions/src/test/resources/integration_data/onboarding/ipa/success_contract_registration_request.json
  apps/onboarding-functions/src/test/resources/integration_data/onboarding/selc/success_confirmation_request.json
  apps/onboarding-functions/src/test/resources/integration_data/onboarding/selc/success_for_approve_gpu_request.json
  apps/onboarding-functions/src/test/resources/integration_data/onboarding/selc/success_for_approve_pt_request.json
  apps/onboarding-functions/src/test/resources/integration_data/onboarding/selc/success_for_approve_request.json
  apps/onboarding-functions/src/test/resources/integration_data/onboarding/selc/success_users_request.json
Owners: @pagopa/selfcare-contributors, @GiampieroFerrara, @pierpaolodidato89

Added profile to add token
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/steps/OnboardingFunctionStep.java
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/steps/TokenInitializer.java
  apps/onboarding-functions/src/test/resources/application.properties
  apps/onboarding-functions/src/test/resources/fn/application.properties
Owners: @pagopa/selfcare-contributors, @GiampieroFerrara, @pierpaolodidato89

Deleted test-containers
  apps/onboarding-functions/pom.xml
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/steps/OnboardingFunctionStep.java
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/steps/TestContainer.java
Owners: @pagopa/selfcare-contributors, @GiampieroFerrara, @pierpaolodidato89

chore/added variable for integration profile
  .github/workflows/integration_test_onboarding_ms.yml
  apps/onboarding-ms/src/main/java/it/pagopa/selfcare/onboarding/service/OnboardingServiceDefault.java
  apps/onboarding-ms/src/test/java/it/pagopa/selfcare/onboarding/service/OnboardingServiceIntegrationTest.java
Owners: @pagopa/selfcare-admin, @pagopa/selfcare-contributors, @GiampieroFerrara, @pierpaolodidato89

Fixed server auth
  .github/workflows/cucumber-fn_integration_test.yml
Owners: @pagopa/selfcare-admin

Fixed settings and
  .github/workflows/cucumber-fn_integration_test.yml
Owners: @pagopa/selfcare-admin

Fixed script
  .github/workflows/cucumber-fn_integration_test.yml
Owners: @pagopa/selfcare-admin

Fixed script
  .github/workflows/cucumber-fn_integration_test.yml
Owners: @pagopa/selfcare-admin

Fixed log and path of mock-data
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/steps/IntegrationOnboardingResources.java
Owners: @pagopa/selfcare-contributors, @GiampieroFerrara, @pierpaolodidato89

Fixed fn port
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/steps/OnboardingFunctionStep.java
Owners: @pagopa/selfcare-contributors, @GiampieroFerrara, @pierpaolodidato89

Fixed fn port
  apps/onboarding-functions/src/test/java/it/pagopa/selfcare/onboarding/steps/OnboardingFunctionStep.java
  apps/onboarding-functions/src/test/resources/docker-compose.yml
  apps/onboarding-functions/src/test/resources/fn/entrypoint.sh
Owners: @pagopa/selfcare-contributors, @GiampieroFerrara, @pierpaolodidato89

CODEOWNERS:

# CodeOwners

## Default owners

* @pagopa/selfcare-admin

## Code owner for the applications

/apps/** @pagopa/selfcare-contributors @GiampieroFerrara @pierpaolodidato89
/libs/** @pagopa/selfcare-contributors @GiampieroFerrara @pierpaolodidato89
/test-coverage/** @pagopa/selfcare-contributors @GiampieroFerrara @pierpaolodidato89

.dockerignore @pagopa/selfcare-contributors @GiampieroFerrara @pierpaolodidato89
docker-compose.yml @pagopa/selfcare-contributors @GiampieroFerrara @pierpaolodidato89
*.xml @pagopa/selfcare-contributors @GiampieroFerrara @pierpaolodidato89
*.md @pagopa/selfcare-contributors @GiampieroFerrara @pierpaolodidato89
